html, body {
  height: 100%;
  margin: 0;
}

body {
  padding-top: 33px;
}

.wrapper {
  min-height: 100%;
  padding-top: 33px;
}

.wrapper:after {
  content: "";
  display: block;
}

p {
  font-family: proxima;
  font-weight: regular;
}

h1, h2, h3, h4, h5, h6 {
  font-family: stag;
  font-weight: bold;
  letter-spacing: 2px;
}