.impact-section-one {
  background-image: url(/images/newres/differentbg1.png);
  min-height: 50vh;
  max-height: 380px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  padding-top: 5%;
}

.impact-section-one div {
  background: #F2B317; 
  padding: 15px; 
  width: 220px; 
  color: white;
  font-family: 'Lato';
  text-align: center;
  line-height: 13px;
  margin: 10px;
}

.impact-section-one h2 {
  font-family: stag;
  font-weight: semibold;
  font-size: 4em; 
  padding-top: 40px; 
  letter-spacing: 2px; 
  color: white; 
  margin: 0px 40px;
}

.impact-section-two {
  background: #f8f8f8;
  padding: 0 5%;
}

.impact-section-two p {
  font-size: 18px; 
  padding: 20px;
}

.impact-section-two:first-child {
  max-width: 800px; 
  font-size: 14px; 
  padding: 40px 0px;
}

.impact-section-two h3 {
  font-size: 60px; 
  padding: 40px 0px;
}

.impact-3-col-seek-to {
  max-width: 1200px;
}

.impact-3-img {
  background-color: #fff;
  padding: 0px;
}

.impact-3-img img {
  max-width: 100%;
}

.impact-3-col-symbols {
  padding: 5% 0;
}

.impact-down-arrow {
  padding: 40px;
}

.impact-guild-tracker {
  background-image: url('/images/newres/impactbg5.png'); 
  min-height: 50vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.impact-guild-tracker img {
  padding-bottom: 40px;
}

.impact-guild-tracker h2 {
  font-size: 60px; 
  padding-top: 40px; 
  letter-spacing: 2px; 
  color: white; 
  margin: 0px 40px; 
  border-bottom: 8px solid #f2b317; 
  padding-bottom: 12px; 
  width: 500px; 
  margin-bottom: 40px;
}

.impact-guild-tracker p {
  color: white; 
  font-size: 18px;
}

.impact-guild-tracker p span {
  color:#0099da;
}

.impact-income-increase p {
  padding: 20px; 
  background: white;
}

.we-bet-on {
  padding: 5% 0 3% 0;
  max-width: 60%;
  font-size: 1.3em;
}

.impact-line {
  width: 80%;
  border: .5px solid rgba(0,0,0,.3);
  margin:60px 0px;
}

.impact-income-increase {
  background-image: url("images/impact_bgDots.png"); 
  background-repeat: repeat;
  border: 5px solid red;
  background-color: rgba(0,0,0,.5);
}