---
layout: main_layout
blah: apply
---

<script>fbq('track', "PageView");</script>

{% include apply_title.html %}

<!-- Content
    ============================================= -->
<section id="content">
	<section id="start-dates">
		<div class="row">
			<div class="container">
				<div class="col-sm-12">
					<h2 class="text-center">Oakland Start Dates</h2>
					<p class="text-center hidden-xs">July 2016 (full) &bull; September 2016 &bull; November 2016 &bull; February 2017 &bull; April 2017</p>
					<ul class="visible-xs" style="padding-left: 15px; list-style-type: none;margin-bottom: 0;">
					  <li><strong>July 2016 (full)</strong></li>
					  <li><strong>September 2016</strong></li>
					  <li><strong>November 2016</strong></li>
					  <li><strong>February 2017</strong></li>
					  <li><strong>April 2017</strong></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
    <div class="content-wrap">

        {% include enrollment_stages.html %}
    </div>

</section><!-- #content end -->
