---
layout: default
---
<center>
  <div class="faq-splash">
    <h3 class="splash-header"><span class="curly-brace">{</span> FAQ <span class="curly-brace">}</span></h3>
    <h2 class="splash-headline">Got questions?<br/>We've got answers.</h2>
  </div>
  <div id="faq-main" class="panel-group">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="left-questions-panel">
            <button id="b1" data-parent="#faq-main" class="active">What's a guild?</button>
            <button id="b2"  data-parent="#faq-main">How the Money Works</button>
            <button id="b3"  data-parent="#faq-main">Your Commitment</button>
            <button id="b4"  data-parent="#faq-main">Learning Model</button>
            <button id="b5" data-parent="#faq-main">Application Process</button>
            <button id="b6"  data-parent="#faq-main">Post-Program Matters</button>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 right-answers-panel panel">
          {% include faq-whatsAGuild.html %}
          {% include faq-money.html %}
          {% include faq-commitment.html %}
          {% include faq-learningModel.html %}
          {% include faq-applying.html %}
          {% include faq-after.html %}
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>
    $("#b1").click(function(){$('.left-questions-panel').find('button').removeClass('active');$("#q1").show(); $("#q2").hide(); $("#q3").hide(); $("#q4").hide(); $("#q5").hide(); $("#q6").hide();$(this).addClass('active');});  
    $("#b2").click(function(){$('.left-questions-panel').find('button').removeClass('active');$("#q2").show(); $("#q1").hide(); $("#q3").hide(); $("#q4").hide(); $("#q5").hide(); $("#q6").hide();$(this).addClass('active');});
    $("#b3").click(function(){$('.left-questions-panel').find('button').removeClass('active');$("#q3").show(); $("#q1").hide(); $("#q2").hide(); $("#q4").hide(); $("#q5").hide(); $("#q6").hide();$(this).addClass('active');});
    $("#b4").click(function(){$('.left-questions-panel').find('button').removeClass('active');$("#q4").show(); $("#q1").hide(); $("#q2").hide(); $("#q3").hide(); $("#q5").hide(); $("#q6").hide();$(this).addClass('active');});
    $("#b5").click(function(){$('.left-questions-panel').find('button').removeClass('active');$("#q5").show(); $("#q1").hide(); $("#q2").hide(); $("#q3").hide(); $("#q4").hide(); $("#q6").hide();$(this).addClass('active');});
    $("#b6").click(function(){$('.left-questions-panel').find('button').removeClass('active');$("#q6").show(); $("#q1").hide(); $("#q2").hide(); $("#q3").hide(); $("#q4").hide(); $("#q5").hide();$(this).addClass('active');});
  </script>
</center>
