<section id="section-about" class="page-section">

  <div class="container clearfix">
    <div class="row clearfix">

      <div class="">
        <div class="heading-block center">
          <h2>We are a <span>learning incubator</span> for aspiring software engineers.</h2>
        </div>
        <p class="lead">
        We back people as they transform into empathetic engineers with rigorous socio-technical training.

          Software engineers are in high demand, in fact there are thousands of unfilled jobs right now and the gap between open positions and qualified applicants is projected to keep growing. We help those with unrealized potential unlock their talents and transform their lives so they can compete in today’s economy and earn a dignified livelihood.
        </p>
      </div>

    </div>
  </div>


  <div class="container clearfix">

    <div class="clear bottommargin-lg"></div>

    <div id="section-features" class="heading-block title-center page-section">
      <h2>Overview</h2>
      <span>What makes our Program Awesome</span>
    </div>

    <div class="col_one_third">
      <div class="feature-box fbox-plain">
        <div class="fbox-icon" data-animate="bounceIn">
          <img src="images/features/map.png" alt="Responsive Layout">
        </div>
        <h3>No Degree Requirement</h3>
        <p>You don't need a college degree to get in. Just a passion for building software.</p>
      </div>
    </div>

    <div class="col_one_third">
      <div class="feature-box fbox-plain">
        <div class="fbox-icon" data-animate="bounceIn" data-delay="200">
          <img src="images/features/tick.png" alt="Retina Graphics">
        </div>
        <h3>No Up-Front Tuition</h3>
        <p>Admittance is free. You only pay back the cost once you've found a paying job.</p>
      </div>
    </div>

    <div class="col_one_third col_last">
      <div class="feature-box fbox-plain">
        <div class="fbox-icon" data-animate="bounceIn" data-delay="400">
          <img src="images/features/performance.png" alt="Powerful Performance">
        </div>
        <h3>Optional Living Allowance</h3>
        <p>$1,500 month to keep you afloat so you can focus on learning.</p>
      </div>
    </div>

    <div class="clear"></div>

    <div class="col_one_third">
      <div class="feature-box fbox-plain">
        <div class="fbox-icon" data-animate="bounceIn" data-delay="600">
          <img src="images/features/support.png" alt="Responsive Layout">
        </div>
        <h3>Facilitation and Support </h3>
        <p>Learn alongside expert facilitators and mentors.</p>
      </div>
    </div>

    <div class="col_one_third">
      <div class="feature-box fbox-plain">
        <div class="fbox-icon" data-animate="bounceIn" data-delay="800">
          <img src="images/features/tools.png" alt="Retina Graphics">
        </div>
        <h3>Accesible and Inclusive</h3>
        <p>Learn in an inclusive environment.</p>
      </div>
    </div>

    <div class="col_one_third col_last">
      <div class="feature-box fbox-plain">
        <div class="fbox-icon" data-animate="bounceIn" data-delay="1000">
          <img src="images/features/responsive.png" alt="Powerful Performance">
        </div>
        <h3>Cognitive Apprenticeship</h3>
        <p>Learn alongside expert practioners while also learning to be a team lead.</p>
      </div>
    </div>

    <div class="clear"></div>
</div>





  <div class="section">
    <div class="container clearfix">
      <div class="row topmargin-sm clearfix">
        <div class="heading-block center">
          <h2>Accessible and Inclusive</h2>
        </div>
        <div class="">
          <p class="lead">
            Our program is designed to be accessible to all. We value a diverse and inclusive environment. We especially encourage historically underrepresented groups in software engineering - people of color, women, LGBTQ people, and persons with disabilities, and veterans-to consider joining us. We think brains work the same no matter where you’re from or how you identify. If you’re a driven learner seeking a career in software engineering, we want you.
          </p>
        </div>
      </div>

      <div class="row clearfix">
        <div class="row topmargin-sm clearfix">
          <div class="heading-block center">
            <h2>Risk-Free Tuition</h2>
          </div>
          <div class="">
            <p class="lead">
              We have a simple proposition: if you don’t get a high-paying job, we don’t get paid. Period. Bring your dedication and passion, and we will invest in you by co-signing for your $28k tuition. And, If you can’t imagine taking 10 months off of work, we offer an optional $1,500 monthly living allowance to bridge the gap. (We understand. It’s hard to focus on learning if you’re also struggling to cover the bills.) After the program, If you graduate and don’t earn at least a $50k salary, you owe us nothing.
            </p>
            <p class="lead">

            </p>
          </div>
        </div>
      </div>

      <div class="row topmargin-sm clearfix">
        <div class="heading-block center">
          <h2>Collective Learning</h2>
        </div>
        <div class="">
          <p class="lead">
            Learners Guild is a supportive, collective, environment that is designed around cognitive apprenticeship. We help people do whatever it takes to become ready for a career in web development. This includes learning at least one formal programming language (JavaScript), and a host of other tools and technologies.
          </p>
          <p class="lead">
            With the help of our expert learning facilitators you will learn not only how to be a great junior engineer but, more importantly, how to be a great learner. We believe a successful career is defined by an open mindset, well-honed collaboration skills, social and emotional intelligence, and an ability to adapt and learn. We know that technologies will keep advancing and changing, so learning how to learn is the most valuable skill for software engineers (and also for life).
          </p>
          <p class="lead">
            We stagger our sessions so you learn new skills from others who are a few months ahead, and you master your technique by mentoring those just a few months behind.  In this type of collaborative environment, you will not only build world-class learning aptitude and skills, but also make new friends for life.
          </p>
        </div>
      </div>


    </div>
  </div>
</section>
