<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>

<div class="row">

<div class="container clearfix">


  <!-- our story -->
    <div class="col_half ">
  <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_rw5lqt1xzz popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
    </div>

    <!-- public benefit corp -->
      <div class="col_half col_last">
    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_9hsnqk46ya popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
      </div>


</div>

</div>
