<section id="section-about" class="page-section">

  <a class="button button-full button-teal center tright header-stick bottommargin-lg" href="apply.html">
  <div class="container clearfix">
    Now accepting applications for the Oakland Cohort starting July 11th <strong>Apply</strong> <i class="icon-caret-right" style="top:4px;"></i>
  </div>
  </a>

  <div class="container clearfix">
    <div class="row clearfix">

      <div class="">
        <div class="heading-block center">
          <h2>We are a <span>learning incubator</span> for aspiring software engineers.</h2>
        </div>
        <p class="lead">
        We back people as they transform into empathetic engineers with rigorous socio-technical training.

          Software engineers are in high demand, in fact there are thousands of unfilled jobs right now and the gap between open positions and qualified applicants is projected to keep growing. We help those with unrealized potential unlock their talents and transform their lives so they can compete in today’s economy and earn a dignified livelihood.
        </p>
      </div>

    </div>
  </div>

  <div class="container clearfix">

    <div class="col_one_third nobottommargin">
      <div class="feature-box fbox-center fbox-border fbox-dark">
        <div class="fbox-icon">
          <a href="#"><i class="icon-calendar i-alt"></i></a>
        </div>
        <h3>10 Month Program<span class="subtitle">July 2016 - May 2017</span></h3>
      </div>
    </div>

    <div class="col_one_third nobottommargin">
      <div class="feature-box fbox-center fbox-border fbox-dark">
        <div class="fbox-icon">
          <a href="#"><i class="icon-location i-alt"></i></a>
        </div>
        <h3>Oakland, CA<span class="subtitle">Full time. In person. Immersive</span></h3>
      </div>
    </div>

    <div class="col_one_third nobottommargin col_last">
      <div class="feature-box fbox-center fbox-border fbox-dark">
        <div class="fbox-icon">
          <a href="#"><i class="icon-money i-alt"></i></a>
        </div>
        <h3>No upfront cost<span class="subtitle">Pay once you get job</span></h3>
      </div>
    </div>

    <div class="clear"></div>

  </div>
</section>
