<section id="section-about" class="page-section">
  <div class="container clearfix">
    <div class="heading-block center">
      <p>
        Learners Guild is a learning incubator for soon-to-be software engineers.  Software engineers are in high demand, in fact there are thousands of unfilled jobs right now and the gap between open positions and qualified applicants is projected to keep growing. We help those with unrealized potential unlock their talents and transform their lives so they can compete in today’s economy and earn a dignified livelihood.
      </p>
    </div>
  </div>
</section>
