<section id="section-apply" class="page-section">
  <div class="container clearfix">
    <div class="row clearfix">
      <div class="heading-block left">
        <h2>We're excited to meet you. <span>Let's stay in touch.</span>
        </h2>
      </div>
      <div class="col_half">
        <p class="lead">
          Sign up for our mailing list to learn about upcoming info sessions and other events.
        </p>
        <p class="lead">
          When you’re ready to apply, submit your application over here.
          <br />
          More questions? Check out our FAQ section or reach out to us on Twitter, Facebook, or email: info@learnersguild.org.
        </p>
      </div>
      <div class="col_half col_last">
        <div class="panel panel-default divcenter" style="max-width: 300px;">
            <div class="panel-heading"><h4 class="nobottommargin">Subscribe to Newsletter</h4></div>
            <div class="panel-body" style="padding: 20px;">

            {% include mailchimp_signup.html %}
          </div>
        </div>
      </div>
    </div>
  </div>


</section>
