
<section id="section-apply" class="page-section">
  <div >
      <br>
      <br>
  </div>
  <div class="section dark center">
    <a href="http://eepurl.com/bUCyhT" class="button button-desc button-border button-rounded center"><div>Apply to Learners Guild</div></a>
    <!--<div id="grnhse_app"></div>-->
  </div>

  <div class="container clearfix">
    <div class="row clearfix center topmargin-lg">
      <div class="fancy-title title-border title-center">
        <h3>Enrollment Stages</h3>
      </div>

      <ul class="process-steps bottommargin clearfix ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
        <li class="ui-state-default ui-corner-top" role="tab" tabindex="0">
          <a href="http://eepurl.com/bUCyhT" class="i-circled i-bordered i-alt divcenter ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1">1</a> <!--"#ptab1"-->
          <h5>Request Application</h5>
        </li>
        <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1">
          <a href="#ptab2" class="i-circled i-bordered i-alt divcenter ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-2">2</a>
          <h5>Join Enrollment Game</h5>
        </li>
        <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1">
          <a href="#ptab3" class="i-circled i-bordered i-alt divcenter ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-3">3</a>
          <h5>Choose Cohort</h5>
        </li>
        <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1">
          <a href="#ptab4" class="i-circled i-bordered i-alt divcenter ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-4">4</a>
          <h5>Join the Guild</h5>
        </li>
      </ul>
    </div>

    <div class="row clearfix topmargin-lg">
      <div class="fancy-title title-border title-center">
        <h3>Timeline</h3>
      </div>

      <div class="col_one_fourth">
        <div class="fancy-title title-border">
          <h4>(1) Applications accepted</h4>
        </div>
        <p>
          <a href="http://eepurl.com/bUCyhT">Request an application</a> for a spot in the July 2016 <strong>Oakland </strong>cohort. Make sure to read through the <a href="#section-eligibility">eligibility requirements</a>.
        </p>
      </div>

      <div class="col_one_fourth">
        <div class="fancy-title title-border">
          <h4>(2) Enrollment game sessions</h4>
        </div>
        <!--<p>
          <i class="icon-calendar3"></i> March — June
        </p>-->
        <p>
          Select applicants will be invited to join our enrollment game sessions, special events where participants will experience a day in the life of a learner at Learners Guild.
        </p>
      </div>

      <div class="col_one_fourth">
        <div class="fancy-title title-border">
          <h4>(3) Cohort selection</h4>
        </div>
        <!--<p>
          <i class="icon-calendar3"></i> June 6 — June 17
        </p>-->
        <p>
          After reviewing applications and feedback from the enrollment game sessions, we will select the learners for our first cohort. If selected, you will be notified 1 month before the Oakland cohort start date (July 11).
        </p>
      </div>

      <div class="col_one_fourth col_last">
        <div class="fancy-title title-border">
          <h4>(4) Start Day</h4>
        </div>
        <!--<p>
          <i class="icon-calendar3"></i> July 11
        </p>-->
        <p>
         <strong>Oakland</strong> cohort start date is <strong>July 11, 2016</strong>.
        </p>
      </div>

    </div>
  </div>
</section>
