<!-- Content
============================================= -->
<section id="application-content">
  <div class="section section-head">
    <div class="container clearfix">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <p><i>This position is an <strong>allowance-supported learning opportunity</strong> and not paid employment.</i></p>
          <p>A learner at our Oakland, CA location, and part of our guild.</p>
          <p>Please respond to these questions to the best of your ability. We encourage you to be as honest as possible about the skills you are strong in and the ones you are challenged with. These will be assessed by us during enrollment as well.</p>
          <p>Learners Guild requires that you have at least 50 hours of experience in programming. We do this to ensure that you understand enough about the craft to be committed to it. We expect our community members to be passionate about programming and know enough to want to have a meaningful career as a software developer. If you have fewer than 50 hours of programming experience we recommend you check out these resources and come back to completing your application once you have accrued the hours:</p>
          <ul>
            <li>Complete "Make a Website", "Make an Interactive Website", and "Learn the Command Line", "Learn SQL", and "JavaScript" tracks on Codecademy: <a href="https://www.codecademy.com/learn/all" target="_blank">https://www.codecademy.com/learn/all</a></li>
            <li>Complete free Git courses on Code School: <a href="https://www.codeschool.com/learn" target="_blank">https://www.codeschool.com/learn</a></li>
            <li>Go through the HTML &amp; CSS course on Shay Howe's site: <a href="http://learn.shayhowe.com/html-css/" target="_blank">http://learn.shayhowe.com/html-css/</a></li>
            <li>Plus as many other projects and tutorials as you like! There are lots of other resources and ideas out there. Follow your interests.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
