<section id="section-apply" class="page-section">
  <div class="container clearfix">
    <div class="row clearfix">
      <div class="heading-block left">
        <h2>Apply to Learners Guild</h2>
      </div>

      <h3>Enrollment Timeline</h3>

      <div class="col_one_third">
        <div class="fancy-title title-border">
          <h4>Applications accepted</h4>
        </div>
        <p>
          <i class="icon-calendar3"></i> March 14 — April 16
        </p>
      </div>

      <div class="col_one_third">
        <div class="fancy-title title-border">
          <h4>Enrollment game sessions</h4>
        </div>
        <p>
          <i class="icon-calendar3"></i> March — June
        </p>
      </div>

      <div class="col_one_third col_last">
        <div class="fancy-title title-border">
          <h4>Cohort selection</h4>
        </div>
        <p>
          <i class="icon-calendar3"></i> June 6 — July 1
        </p>
      </div>

    </div>
  </div>


</section>
