<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-2 text-left">
                <!---<h2 class="section-heading">Learning: The Difference</h2>-->
                <!--<hr class="light">-->
                <p class="text-faded">
                  What if we could recreate engineering culture from scratch? What would it look like? It would look like a collective of dedicated engineers and learning facilitators who are interested in creating a supportive, collaborative environment where software is crafted in service of society.
                </p>

                  <hr class="light">
                  <h3 class="section-heading">We are Learners Guild, a learning incubator for software engineering.</h2>
                  <hr class="light">

                  <p class="text-faded">
                    Learners Guild invests in people as they transform into  empathetic engineers with rigorous socio-technical training.

                  </p>

                  <p class="text-faded">
                  We believe great engineers are master crafts people with a desire to create value through their craft. If you gives us your time, and bring your passion, we will invest in you, and stand beside you as you begin your journey towards being a premium engineer.
                </p>

                  <p class="text-faded">
                    We have designed a supportive, collaborative environment, where you will learn the craft of software engineering through cognitive apprenticeship over a 10 month period. Software doesn't exist in a vacuum, and neither do software engineering cultures, they both exist in the context of society. We hope you’ll join us. Here’s how.
                  </p>

                  <p class="text-faded">
                  We’ll co-sign your $28k tuition up-front, and offer you a $2,000 a month living allowance while you attend. (We understand. It’s hard to focus on learning if you’re also struggling to cover the bills.) Mostly importantly: if you graduate and don’t earn at least a $60k salary, you pay us nothing.
                  </p>

                  <p class="text-faded">
                    If you’re from an historically underrepresented group in the software community, we really want you in here. Black, Latino, Pacific Islander, LGBT, women, and persons with disabilities. We’ve designed our program to support you as well. And yes, White and Asian guys, we want you too. Truly. We want “the Great Plurality” of people. It’s actually quite simple: If you’re a driven learner seeking to build developer skills, we want you!
                  </p>

                














            </div>
        </div>
    </div>
</section>
