<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-2 text-left">
                <!---<h2 class="section-heading">Risk-Free Tuition</h2>-->
                <!--<hr class="light">-->
                <p class="text-faded">
                  Learners Guild is a learning incubator for soon-to-be software engineers.  Software engineers are in high demand, in fact there are thousands of unfilled jobs right now and the gap between open positions and qualified applicants is projected to keep growing. We help those with unrealized potential unlock their talents and transform their lives so they can compete in today’s economy and earn a dignified livelihood.
                </p>

                <h2 class="section-heading">Risk-Free Tuition</h2>
                <hr class="light">

                  <p class="text-faded">
                    We have a simple proposition, if you don’t get a high-paying job, we don’t get paid. Period. If you give us your time, and bring your passion, we will invest in you by co-signing for your $28k tuition.  If you graduate and don’t earn at least a $60k salary, you pay us nothing.
                  </p>

                  <h2 class="section-heading">Collective Learning: The Difference.</h2>
                  <hr class="light">

                    <p class="text-faded">
                      We have designed a supportive, collective environment, where you will learn the craft of software engineering through 10 months of collaborative apprenticeship. With the help of our expert learning facilitators you will learn not only how to code but more importantly how to problem solve and keep learning.  One thing we do know is that technologies will keep advancing so learning how to learn is one of the most valuable skill for software engineers.
                    </p>
                    <p class="text-faded">
                      We stagger our incoming classes so you get introduced to new skills from people like yourself who are just a few months ahead of you, and you get to master your technique by learning with those just a few months behind you.  By creating this type of collaborative environment we think you will not only build world class learning aptitude and skills but also new friends for life.
                    </p>

                    <h2 class="section-heading">Investing in you.</h2>
                    <hr class="light">

                      <p class="text-faded">
                        There’s so much more to it than just learning engineering skills. Software development doesn’t happen in a vacuum, it happens with other people, which means knowing how to navigate social dynamics is just as important as knowing how to code. Developers who know how to skillfully navigate team dynamics and develop “emotional intelligence” are more likely to excel in the workplace.
                      </p>
                      <p class="text-faded">
                        So Learners Guild addresses this head-on in our program with a combined technical and life skills learning.  We know this is going to be intense so we’ll even offer you a $2,000 a month living allowance while you attend. (We understand. It’s hard to focus on learning if you’re also struggling to cover the bills.)
                      </p>

                      <h4 class="section-heading">What.</h4>
                        <p class="text-faded">
                          Over 40 weeks, you’ll learn everything you need to know to do two things. One, make a dignified living as a front-end, back-end, or full-stack web developer. And two, launch your career.
                        </p>

                        <h4 class="section-heading">How.</h4>
                          <p class="text-faded">
                          Here’s where it gets exciting. We’re not a school. Schools are teaching environments. And we’re a learning environment. Tradition suggest knowledge is simply information that must be passed down from teachers to students. Yet we know that’s not true. In fact, it’s the opposite. Research shows that by exploring together, we all learn more, and we learn faster.
                          </p>
                          <p class="text-faded">
                            Learners Guild helps you build your abilities to tackle new challenges and gives you the chance to test your skills. You have the freedom to learn what you want, when you want, with a supportive group of peers who share similar goals. And our expert facilitators are there to help you choose your path of exploration, and to help you if you get stuck.
                          </p>
                          <p class="text-faded">
                            But there’s so much more to it than just learning engineering skills. Software development doesn’t happen in a vacuum, it happens in a social context, which means knowing how to navigate social dynamics is a plus. Developers who feel like strangers in a strange land, or don’t know how to skillfully navigate difficult team dynamics, will often leave their engineering career behind. This is particularly true for historically underrepresented groups of engineers. Why? Because a lack of emotional intelligence results in reduced learning and limits one’s ability to advance into leadership roles. So Learners Guild addresses this head-on in our program.
                          </p>
                          <p class="text-faded">
                            Computers follow logic. Humans don’t. Learners Guild provides tools to help you excel at working with both the world of machines and the world of people.
                          </p>


<!--
                  <p class="text-faded">
                    If you’re from an historically underrepresented group in the software community, we really want you in here. Black, Latino, Pacific Islander, LGBT, women, and persons with disabilities. We’ve designed our program to support you as well. And yes, White and Asian guys, we want you too. Truly. We want “the Great Plurality” of people. It’s actually quite simple: If you’re a driven learner seeking to build developer skills, we want you!
                  </p>
-->















            </div>
        </div>
    </div>
</section>
