<section id="learners-vs-college">
  <div class="container clearfix">

    <div class="heading-block center">
      <h2>Learners Guild vs. <br class="visible-xs"/>College or Bootcamp.</h2>
      <span>Why should you pick the Learners Guild path to career success over a degree program or an intensive bootcamp? <br class="hidden-xs" />Here's what sets us apart:</span>
    </div>

    <div class="pricing bottommargin clearfix">
      <div class="col-md-4">
        <div class="pricing-box">
          <div class="pricing-title">
            <h3>College</h3>
          </div>
          <div class="pricing-price">
            <i class="icon-line2-graduation"></i>
          </div>
          <div class="pricing-features">
            <ul>
              <li><strong>Traditional CS degree</strong></li>
              <li>Holistic education, predominantly not skills-based</li>
              <li>For top-tier high school students</li>
              <li>4 years long</li>
              <li>Schedule depends on class availability</li>
              <li>$153K</li>
              <li>Student responsibility (loans) – pays regardless of job outcome</li>
              <li>Not job-focused</li>
              <li>No stipend</li>
              <li><i class="icon-star3"></i>
              <i class="icon-star3"></i></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="pricing-box best-price">
          <div class="pricing-title">
            <h3>Learners Guild</h3>
          </div>
          <div class="pricing-price">
            <i class="icon-code-fork" style="color: #000;"></i>
          </div>
          <div class="pricing-features">
            <ul>
              <li><strong>Degree alternative</strong></li>
              <li>Holistic, skills-based education for software development</li>
              <li>For anyone</li>
              <li>10 months long</li>
              <li>Weekdays 8:30am - 6:00pm</li>
              <li>12% to 20% of first three years' salary</li>
              <li>Financed upfront through outside investors – repayment hinges on successful student employment</li>
              <li>Job-focused</li>
              <li>Upto $1500/month stipend</li>
              <li><i class="icon-star3"></i>
              <i class="icon-star3"></i>
              <i class="icon-star3"></i>
              <i class="icon-star3"></i>
              <i class="icon-star3"></i></li>
            </ul>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="pricing-box">
          <div class="pricing-title">
            <h3>Bootcamp</h3>
          </div>
          <div class="pricing-price">
            <i class="icon-code"></i>
          </div>
          <div class="pricing-features">
            <ul>
              <li><strong>Skills augmentation</strong></li>
              <li>Quick 'finishing school'</li>
              <li>Has a degree, looking to brush up</li>
              <li>10-12 weeks long</li>
              <li>Work around the clock</li>
              <li>$13K</li>
              <li>Student responsibility (loans) – pays regardless of job outcome</li>
              <li>Job-focused</li>
              <li>No stipend</li>
              <li><i class="icon-star3"></i>
              <i class="icon-star3"></i>
              <i class="icon-star3"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="heading-block center">
      <span class="under-table">The upshot: unlike college or bootcamp students, as a Learners Guild learner <strong><br class="hidden-xs" />you'll never be in a position where you can't repay a loan.</strong></span>
    </div>
    <div class="line" style="margin-bottom: 0;"></div>
  </div>
</section>
