<section id="section-contact" class="page-section">
  <div class="container clearfix" style="margin-top:40px">

    {% include stay_in_touch.html %}

    <div class="hangout bottommargin">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <p class="lead">Even more questions? Maybe questions only current learners can answer, like what kind of projects are learners working on? Or, what kind of support do learners receive when they get stuck? Or, what's the atmosphere's like? Oh, and where's the best place for lunch? (You know, the important stuff.)</p>
          <p class="lead">Sweet. We've got you covered. Register for a Learner-led hangout session and join our Facebook Group to communicate directly with learners who could be your future teammates.</p>
        </div>
        <div class="col-sm-6 text-center">
          <p class="lead"><a href="https://www.eventbrite.com/e/lg-learner-hangout-session-tickets-27283960059">Register for our Google Hangout Session</a></p>
        </div>
        <div class="col-sm-6 text-center">
          <p class="lead"><a href="https://www.facebook.com/groups/LearnersGuild">Join the Learners Guild Facebook Group</a></p>
        </div>
      </div>
    </div>

    <div class="row clear-bottommargin">
      <div class="col_one_third bottommargin clearfix">
        <div class="feature-box fbox-center fbox-bg fbox-plain">
          <div class="fbox-icon">
            <a href="mailto:{{ site.contact_email }}"><i class="icon-email"></i></a>
          </div>
          <h3>Send us an email<span class="subtitle"><a href="mailto:{{ site.contact_email }}">{{ site.contact_email }}</a></span></h3>
        </div>
      </div>

      <div class="col_one_third bottommargin">
        <div class="feature-box fbox-center fbox-bg fbox-plain">
          <div class="fbox-icon">
            <a href="https://twitter.com/{{ site.twitter_username }}"><i class="icon-twitter2"></i></a>
          </div>
          <h3>Follow on Twitter<span class="subtitle"><a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a></span></h3>
        </div>
      </div>

      <div class="col_one_third col_last bottommargin clearfix">
        <div class="feature-box fbox-center fbox-bg fbox-plain">
          <div class="fbox-icon">
            <a href="https://www.facebook.com/{{ site.facebook_username }}/"><i class="icon-facebook"></i></a>
          </div>
          <h3>Find us on Facebook<span class="subtitle"><a href="https://www.facebook.com/{{ site.facebook_username }}/">{{ site.facebook_username }}</a></span></h3>
        </div>
      </div>
    </div>
  </div>
</section>
