<section id="section-eligibility" class="page-section">
  <div class="container clearfix">
    <div class="row clearfix">
      <div class="fancy-title title-border text-center topmargin-lg">
        <h3>Eligibility Requirements</h3>
      </div>

      <div class="col_half">
        <p class="lead">In order to be admitted to Learners Guild, applicants must meet the requirements listed.</p>

        <p class="lead">
          Beyond a common desire to become a premium software engineer, all of our learners share a drive to learn and grow in a mutually supportive environment, not just intellectually, but socially and emotionally as well. We expect a minimum level of personal development and maturity.
        </p>
        <p class="lead">
          We look for a baseline proficiency in both technical and social-emotional aptitude. It is important to understand that Learners Guild is not designed to support persons who are exploring software engineering for the first time. We are a learning collective
          that works best for advanced beginners.
        </p>

        <!-- <p>
          You should consider yourself fit for Learners Guild if you understand and can demonstrate the following:
          <ul>
            <li>Algorithmic notions of control flow </li>
            <li>Abstraction </li>
            <li>Conditional thinking </li>
            <li>Problem decomposition </li>
            <li>Iterative thinking </li>
          </ul>
          If you are familiar with programming and have a crude understanding of it, then you would have used many of these concepts. If you have at least 50 to 100 hours of programming and web development experience under your belt, you will find Learners Guild an appropriate learning collective that will take your skills to another level.
        </p>
        <p>
          Finally, we are excited about you if you have grit, if you are tenacious and understand that deliberate practice and sustained effort is what puts you on the path to success. We don’t care about your SAT scores, or whether or not you finished high-school, what we are interested in is your ability to learn and excitement about the craft of software engineering. If you can prove to us that you are ready to work hard in a learning collective, we would be happy to invest in you!
        </p> -->
      </div>

      <div class="col_half col_last">
        <ul class="list-group">
          <li class="list-group-item"><i class="icon-ok-sign"></i> Commited to pursuing a career as a software engineer.</li>
          <li class="list-group-item"><i class="icon-ok-sign"></i> Willing to aid others in their learning.</li>
          <li class="list-group-item"><i class="icon-ok-sign"></i> Age 21 or older</li>
          <li class="list-group-item"><i class="icon-ok-sign"></i> Oral and written proficiency in English</li>
          <li class="list-group-item"><i class="icon-ok-sign"></i> Has several years' employment and/or community service experience</li>
          <li class="list-group-item"><i class="icon-ok-sign"></i> Willing and able to participate full-time for 40 weeks</li>
          <li class="list-group-item"><i class="icon-ok-sign"></i> 50+ hours already spent in learning to code - <a href="#coding-experience">Learn more.</a></li>
          <li class="list-group-item"><i class="icon-ok-sign"></i> Can type at least 30 words per minute</li>
          <li class="list-group-item"><i class="icon-ok-sign"></i> Must be US citizen or permanent resident</li>
        </ul>
      </div>


    </div>
  </div>
</section>
