<section id="section-eligibility" class="page-section">
  <div class="container clearfix">
    <div class="row clearfix">
      <div class="fancy-title title-border text-center topmargin-lg">
        <h3>Eligibility Requirements</h3>
      </div>

      <div class="col_half">
        <p class="lead">In order to be admitted to Learners Guild, applicants must meet the requirements listed.</p>

        <p class="lead">
          Beyond a common desire to become a premium software engineer, all of our learners share a drive to learn and grow in a mutually supportive environment, not just intellectually, but socially and emotionally as well. We expect a minimum level of personal development and maturity.
        </p>
        <p class="lead">
          We look for a baseline proficiency in both technical and social-emotional aptitude. It is important to understand that Learners Guild is not designed to support persons who are exploring programming for the first time. We are a learning collective
          that works best for advanced beginners.
        </p>
        <p class="lead">
          If you <em>are</em> just starting to explore programming, you should take advantage of the many freely available resources for beginners so that you can be best prepared. We recommend <a target="_blank" href="http://learn.shayhowe.com/html-css/">Shay Howe&#8217;s HTML &amp; CSS lessons</a>, the <a target="_blank" href="https://www.khanacademy.org/computing/computer-programming/programming">Intro to JS</a> course on Khan Academy, and the <a target="_blank" href="https://www.codecademy.com/learn/make-a-website">Make a Website</a> and <a target="_blank" href="https://www.codecademy.com/en/skills/make-an-interactive-website">Make an Interactive Website</a> tracks on Codecademy.
        </p>
      </div>

      <div class="col_half col_last">
        <ul class="list-group">
          <li class="list-group-item"><i class="icon-ok-sign"></i> Commited to pursuing a career as a software engineer.</li>
          <li class="list-group-item"><i class="icon-ok-sign"></i> Willing to aid others in their learning.</li>
          <li class="list-group-item"><i class="icon-ok-sign"></i> Age 21 or older</li>
          <li class="list-group-item"><i class="icon-ok-sign"></i> Oral and written proficiency in English</li>
          <li class="list-group-item"><i class="icon-ok-sign"></i> Has several years' employment and/or community service experience</li>
          <li class="list-group-item"><i class="icon-ok-sign"></i> Willing and able to participate full-time for 40 weeks in person.</li>
          <li class="list-group-item"><i class="icon-ok-sign"></i> Can type at least 30 words per minute</li>
          <li class="list-group-item"><i class="icon-ok-sign"></i> Must be US citizen or permanent resident</li>
        </ul>
      </div>


    </div>
  </div>
</section>
