<div id="q2" aria-expanded="false" class="collapse">
  <h1>How the Money Works</h1>
  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2a" class="question collapsed">What does Learners Guild cost? What if I can’t pay upfront?</div>
      <div id="q2a" class="collapse answer">
        <p>We know it's unusual, but most people who join the Guild pay nothing up front. In fact, most of our Learners actually receive a monthly living allowance during their time at the Guild. (Read more about the living allowance below.)</p>
        <p>People who want to can pay the upfront price of $29,750 for the program, but most of our Learners opt to pay for their time at the Guild through an Income Sharing Agreement (ISA), where they contribute up to 12.5% of their post-Guild salary (up to 21% if they received the maximum living stipend) for 36 months of employment when they are making over $50K. A typical starting salary for a junior web developer can be between $75K to $95K per year.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2b" class="question collapsed">
        So, how much will I pay in all, by the end of the three years?
      </div>
      <div id="q2b" class="collapse answer">
          <p>It depends. Because the ISA is tied to a percentage of a Learner’s income, the total amount any single Learner will pay for the program varies depending on their salary. Like many investors, the Learners Guild community takes a portfolio approach, knowing that some Learners will pay more for their time at the Guild and some will pay less - the key here is that the amount any Learner pays is proportional to their financial success. This investment approach is how we can make the program financially accessible to everyone.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2c" class="question collapsed">
        If you’re investing in me, how do you get paid?
      </div>
      <div id="q2c" class="collapse answer">
          <p>We’re betting on you and your ability to reach your potential, so much so that we only get paid if you succeed. Specifically, we get paid when (and only when) you’re making $50K ($4,166.67 per month) or more after your time at the Guild.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2d" class="question collapsed">
        What is an Income Sharing Agreement (ISA)?
      </div>
      <div id="q2d" class="collapse answer">
          <p>In general terms, an Income Sharing Agreement (ISA) is a contractual agreement enabling an individual to receive funding in exchange for an agreed upon percentage of post-program income over a defined number of years. At Learners Guild we offer 2 ISAs, one that covers the program fees and another that covers the living allowance. Both are optional.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2e" class="question collapsed">
        How much funding is available for individual Learners?
      </div>
      <div id="q2e" class="collapse answer">
        <p>Individual funding amounts vary depending on whether a Learner elects to enter into an Tuition ISA and/or the Living Allowance ISA. The Tuition ISA funds the Learner's entire tuition cost and requires an income share of up to 12.5% for three(3) years upon program completion. The Living Allowance ISA allows the Learner to receive up to $1,500 month ($692.30 every two weeks) and is meant to offset cost of living expenses during the program in exchange for up to 8.5% of income for three (3) years.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2f" class="question collapsed">
          A living allowance? Really? Is it mandatory or optional?
      </div>
      <div id="q2f" class="collapse answer">
          <p>Yes, really. The optional monthly living allowance is intended to help defray your cost of living while you're at Learners Guild. As much as possible, we want you to focus on learning, not earning while you immerse yourself at the Guild.</p>
          <p>You can elect to enter into a Living Allowance ISA for up to $692.30 every two weeks, but it is totally optional and you can take less if you don’t need the full amount. You can expect to receive 20 stipend disbursements if you stay at the Guild for the full 40 weeks. The first disbursement is made on your second Friday in the program, and the last disbursement is typically made on the second to last, or last Friday in the program.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2g" class="question collapsed">
        What are the risks to Learners?
      </div>
      <div id="q2g" class="collapse answer">
        <p>The amount of payment is based on income, so if a Learner commits to an ISA and earns a high income after graduation they may pay more than they would have if they had paid for the $29,750 in program fees upfront, had obtained the living allowance amounts from another source, or had obtained conventional debt for either the program fees or the living allowance. However, the ISAs cap the total amount to be paid, so no student will ever pay more than the agreed upon amount.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2h" class="question collapsed">
        What are the benefits of ISAs to Learners?
      </div>
      <div id="q2h" class="collapse answer">
        <p>The Learners Guild ISAs offer our Learners an alternative to covering program fees and living expenses with educational loans.</p>
        <p>Traditional student loans create substantial risks solely for the borrower, as lenders require repayment irrespective of the borrower’s outcomes. Unlike student loan debt, Guild ISA repayments adjust according to your post-program income: they're subject to a minimum income threshold of $50,000 (as in, if our Learners don't make $50,000 or more, they don't pay a thing) and a maximum repayment cap equal to two (2) times the amount funded. In our ISA model, we take on the risk with you by investing in your potential, and only get paid when you get paid.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2i" class="question collapsed">
        Will the amount I am responsible to pay under the ISA grow through interest expense until I’ve completed paying my obligation?
      </div>
      <div id="q2i" class="collapse answer">
          <p>No. The ISA possesses no interest rate, which is another distinguishing feature from student loans. The amount you are required to pay only grows if your income grows, but the income share percentage for an ISA does not change during the payment term.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2j" class="question collapsed">
        How will Learners know if an ISA is a good option for them?
      </div>
      <div id="q2j" class="collapse answer">
        <p>ISAs are among many options that are available for funding, including whether to pay the program fees upfront. Learners should research which options work best for their individual situations.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2l" class="question collapsed">
        Is the income share calculated from my gross or net pay (before or after taxes)?
      </div>
      <div id="q2l" class="collapse answer">
        <p>Gross pay. Before taxes.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2m" class="question collapsed">
        If my salary goes up, does the percentage of my income sharing stay the same?
      </div>
      <div id="q2m" class="collapse answer">
          <p>Yes. The percentage is fixed over the payment period, which is 36 months. The terms of the ISA remain the same, regardless of whether your salary goes up or down.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2o" class="question collapsed">
          What factors should Learners consider when deciding whether to accept the stipend and/or pay the program fees upfront, or to apply for the ISAs or other financing options?
      </div>
      <div id="q2o" class="collapse answer">
          <p>A Learner's decision about whether to accept the living allowance, whether to pay the program fees upfront, or whether to finance all or a part of their living expenses or the program fees should include an assessment of all of the options available based on their individual financial situation.  Learners Guild encourages all Learners to consult with trusted advisors and consider how an ISA compares to other financing options.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2p" class="question collapsed">
        Which Learners will be eligible to apply for an ISA?
      </div>
      <div id="q2p" class="collapse answer">
          <p>All admitted Learners are eligible for an ISA.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2q" class="question collapsed">
          How can accepted Learners apply for an ISA?
      </div>
      <div id="q2q" class="collapse answer">
        <p>If you’re offered a spot at the Guild you’ll have an opportunity to indicate whether you’d like to receive one or both of the ISA stipends at the time you sign your contracts.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2r" class="question collapsed">
        How can prospective Learners get more information on ISAs?
      </div>
      <div id="q2r" class="collapse answer">
        <p>It is recommended that interested Learners discuss ISAs with a financial advisor, parents and/or guardians before deciding if an ISA is a possible funding solution for them. If you would like to get advice from a financial adviser but don't know where to start, we recommend Googling pro bono financial advisors in your area.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>
  
  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2s" class="question collapsed">
        What types of payment terms will Learners be offered?
      </div>
      <div id="q2s" class="collapse answer">
          <p>The term length and percentage are set to be competitive with current consumer finance options. Depending on the Learner’s post-program income, the amount paid back on the ISA may be either lower or higher than the funding amount for the Learner.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>
  
  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2t" class="question collapsed">
        Following the end of a Learner’s participation in the program, when does the ISA payment plan take effect?
      </div>
      <div id="q2t" class="collapse answer">
          <p>Learners are afforded a three-month grace period after they complete or withdraw from the Guild before payments are required.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>
  
  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2u" class="question collapsed">
        Am I required to repay the exact funding amount I received through my ISA?
      </div>
      <div id="q2u" class="collapse answer">
          <p>An ISA recipient is required to pay the agreed upon percentage of post-program income for the prescribed term of the contract. After making successful payments over that term, no additional payments are required even if they have paid less than the amount of funding they received.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>
  
  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2v" class="question collapsed">
        Is there an option to "pay off" your financial obligation to Learners Guild early (i.e. before the 36-month payment period is over)?
      </div>
      <div id="q2v" class="collapse answer">
          <p>The short answer to this question is no, you can’t pay off your ISAs early because you are not borrowing from Learners Guild; the ISA funding you receive is an investment and your repayment is our return on that investment. Learners Guild is making an investment in you in exchange for a share of your income for a specific period of time (36-months). There is a limit on your payments, so if you reach the payment cap during your payback period your obligation is complete, but there is no benefit to paying towards that cap early.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>
  
  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2w" class="question collapsed">
          What happens if I’m not making over $50,000 after I leave the Guild?
      </div>
      <div id="q2w" class="collapse answer">
          <p>If while you are in your payback period, you are not making the equivalent of $50,000 ($4,167 on a monthly basis) or more in gross income, your ISA can be placed in deferment.  This means you won’t make payments on your ISA and your payback period will be paused until you are making $50,000 ($4,167 on a monthly basis) or more.  This covers cases where people may be job searching, or not actively in the workforce due to other circumstances.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>
  
  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2x" class="question collapsed">
          What's my financial commitment after the program is over?
      </div>
      <div id="q2x" class="collapse answer">
          <p>Depending on how much stipend you chose, your commitment is to make payments on your ISAs ranging from 12.5% to 21% of your gross salary for 36-months, if you make $50,000 or more.  It is important that you strive to live up to this commitment because our model is based on the bet that payments from our successful Learners will provide the money needed to finance the next generation of Learners.  We believe in paying it forward and hope that after your experience at the Guild, you will too.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>
  
  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2y" class="question collapsed">
          Isn’t this too good to be true?
      </div>
      <div id="q2y" class="collapse answer">
          <p>We actually get this question a lot - and we’re glad you’re asking. If something seems too good to be true, it probably is. So here are some common reasons it may seem that way, and our response:</p>
          <ul>
              <li><strong>10 months, no money up front:</strong> Right. However, a commitment to the Guild is more like a 4-year commitment rather than a 10-month one: you spend the first 10 months learning at the Guild, plus three years making payments on your ISA(s). Beyond those three years, we hope you’ll stay connected to the Guild community for a lifetime.</li>
              <li><strong>No payback unless I’m making $50,000 or more:</strong> Yep. But remember, that $50,000 threshold applies to your work as a web developer or anything else. So if you’re not serious about becoming a web developer, you may want to reconsider.</li>
              <li><strong>$1,500 month living stipend - I’m getting paid to learn?:</strong> You are. This money is an investment in you and meant to support your ability to participate in the program. However, assuming you do well (and land a high-paying job), it’s likely that you’ll pay back to the Guild more than you received in stipend up front. You should take as much as you need to support yourself, but it’s always in your best financial interest to take less money up front, if you can afford it.</li>
              <li><strong>10 months, so I have more time to go slower through the content instead of rushing through in 12 weeks, like a Bootcamp:</strong> This is one of the most common misconceptions about the Guild. The scope and depth of content to learn as a beginning web developer is enormous, the hill you are climbing is incredibly steep, and you will work hard here every day, 9am-6pm, Monday - Friday. The pace is demanding and the rigor bar is high. There’s no easy path to a job in web development, so you should be prepared to push yourself and work hard.</li>
          </ul>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>
  
</div>