<div id="q6" aria-expanded="false" class="collapse panel">
  <h1>Post Program Matters</h1>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q6a" class="question collapsed">
        Do you help with job placement?
      </div>
      <div id="q6a" class="collapse answer">
        <p>We help get you ready for the job market, but we intentionally decided to not provide job placement services because we want to ensure that you the Learner remains our primary client. If we provided job placement services, our attention would be divided between satisfying businesses versus placing our complete focus on satisfying you.</p>
        <p>For us, applying and gaining full-time employment as a software developer is another key skill that you will be developing at Learners Guild. Over your last few months in the program, you can sign up for different types of practice job interviews so you can get better and better, to the point where, hopefully, you will be the one deciding where you'll go to further grow your skills.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q6b" class="question collapsed">
        Will I earn a certificate or degree?
      </div>
      <div id="q6b" class="collapse answer">
        <p>No. Our approach is results oriented, not degree oriented. There are a lot of people with degrees, but no job to match.  We think it’s a common mistake to confuse a symbol for learning, like a degree, with learning itself.</p>
        <p>Learners Guild turns that around: if you don’t end up in a well-paying job, we don’t get paid. Our focus is on getting you ready for the workforce by helping you develop your skills, which are demonstrated by your ability to create a portfolio of work and gain employment.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q6c" class="question collapsed">
        Will I end up with a portfolio?
      </div>
      <div id="q6c" class="collapse answer">
        <p>Yes, you’ll have an excellent opportunity to build a coding portfolio, showcasing a diverse array of projects that you worked on over the course of the program.</p>
        <p>We’ve designed our learning environment to focus on teamwork, so many of the projects are done in teams and range in size and scope. However, there will also be time to work on individual projects, so you gain the skills and confidence to know that you can code.</p>
        <p>We hope by the end of your time at Learners Guild, you will be contributing to open source projects (and perhaps even to our own product codebase).</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q6d" class="question collapsed">
        Will learners be required or steered toward certain types of employment?
      </div>
      <div id="q6d" class="collapse answer">
        <p>There are no requirements stipulating the nature or type of employment that Learners choose after the program.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q6e" class="question collapsed">
        What's my financial commitment after the program is over?
      </div>
      <div id="q6e" class="collapse answer">
        <p>Depending on how much stipend you chose, your commitment is to make payments on your ISAs ranging from 12.5% to 21% of your gross salary for 3 years, if you make $50,000 or more.  It is important that you strive to live up to this commitment, because we are basing our whole system and model on the bet that payments from our successful Learners will provide the money needed to finance the next generation of Learners.  We believe in paying it forward and hope that after your experience at the Guild, you will too.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>  

</div>