<div id="q5" aria-expanded="false" class="collapse panel">
  <h1>Application Process</h1>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q5a" class="question collapsed">
        Do I need previous programming experience to apply?
      </div>
      <div id="q5a" class="collapse answer">
        <p>Learners Guild requires that you have at least 50 hours of experience in programming. We do this to ensure that you understand enough about the craft to be committed to it. We expect our community members to be passionate about programming and know enough to want to have a meaningful career as a web developer.</p>
        <p>If you have fewer than 50 hours of programming experience we recommend you check out these resources and come back to completing your application once you’ve accrued the hours:</p>
        <ul>
            <li>Complete "Make a Website", "Make an Interactive Website", and "Learn the Command Line", "Learn SQL", and "JavaScript" tracks on Codecademy: <a href="https://www.codecademy.com/learn/all" target="_blank">https://www.codecademy.com/learn/all</a></li>
            <li>Complete free Git courses on Code School: <a href="https://www.codeschool.com/learn" target="_blank">https://www.codeschool.com/learn</a></li>
            <li>Go through the HTML & CSS course on Shay Howe’s site <a href="http://learn.shayhowe.com/html-css" target="_blank">http://learn.shayhowe.com/html-css</a></li>
            <li>Plus as many other projects and tutorials as you like! There are lots of other resources and ideas out there. Follow your interests.</li>
        </ul>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q5b" class="question collapsed">
        Who else is attending? What kind of people will I meet?
      </div>
      <div id="q5b" class="collapse answer">
        <p>At Learners Guild you’ll meet other adults from a wide range of backgrounds, who share your dedication, passion, and curiosity. Check out the videos on the site and in our Community section to see some of the current Learners at the Guild.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div> 

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q5c" class="question collapsed">
        What if I already have a degree? Is Learners Guild still for me?
      </div>
      <div id="q5c" class="collapse answer">
        <p>Absolutely. We designed Learners Guild for degree holders and non-degree holders alike. Anyone who is serious about becoming a professional web developer is encouraged to apply.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div> 

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q5d" class="question collapsed">
        Once I fill out the application, then what happens? Do I have to interview for a spot in the program? How long does the application process take?
      </div>
      <div id="q5d" class="collapse answer">
        <p>We have paused enrollment and will begin accepting new applications in 2018. If you wish to be notified when applications are available, please share your contact information via the application page on our website and we will reach out to you once applications become available. We will update this section with details on what you can expect as soon as the enrollment redesign is complete!</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div> 

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q5e" class="question collapsed">
        What documents do I have to sign for the ISAs?
      </div>
      <div id="q5e" class="collapse answer">
        <p>You will execute 1 or 2 ISAs depending on if you opt to have the Guild invest in you, in lieu of paying up front program fees, and/or to receive a living allowance. The ISAs are issued by subsidiaries of Learners Guild and are administered on our behalf by VEMO Education (www.vemo.com). VEMO is a pioneer in ISAs, and has worked extensively with us to make the ISAs available to our Learners. In addition, VEMO is also responsible for collecting ISA payments.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div> 

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q5f" class="question collapsed">
        Can I visit the Guild to check it out?
      </div>
      <div id="q5f" class="collapse answer">
        <p>We cannot presently allow for unscheduled visits, as it is distracting for our current Learners. However, we do host events that are open to the public that will give you a sense of Guild culture and expose your to a community of developers. Check out our Community page to see what's happening next.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div> 
       
</div>      