<div id="q6" aria-expanded="false" class="collapse panel">
  <h1>Post Program Matters</h1>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q6a" class="question collapsed">
        Do you help with job placement?
      </div>
      <div id="q6a" class="collapse answer">
        <p>We help get you ready for the job market and support you with interview preparation, but we intentionally decided not to provide job placement services because we want to ensure that you -- the Learner -- remain our primary client. (If we were to provide job placement services, the interests of our partner companies might limit our ability to support you in seeking the opportunities you most want.)</p>
        <p>For us, applying for and gaining full-time employment as a web developer is another key skill that you will be developing at Learners Guild. During your last few months in the program, you’ll have opportunities to participate in career prep workshops, mock interviews, and support groups to help launch you into this exciting next phase of your life.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q6b" class="question collapsed">
        What kinds of jobs will I be prepared to apply for by the end of the program?
      </div>
      <div id="q6b" class="collapse answer">
        <p>Our goal is to ensure that you have the skills and mindsets necessary to sustain a career in web development for the long haul. By the end of your time at Learners Guild, you’ll be prepared to apply for positions as a junior (entry-level) full-stack, front-end, or back-end web developer. The Guild is not a degree or certificate granting institution, so you won’t walk out of here with the Computer Science degree, and to be honest, some of the largest tech-companies look for degrees when hiring junior developers. However, you will have a chance to develop the practical skills and mindsets needed to be more competitive than bootcamp grads.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q6c" class="question collapsed">
        Will I earn a certificate or degree?
      </div>
      <div id="q6c" class="collapse answer">
        <p>No. Our approach is results oriented, not degree oriented. There are a lot of people with degrees, but no job to match.  Learners Guild turns that around: if you don’t end up in a well-paying job, we don’t get paid. Our focus is on getting you ready for the workforce by helping you develop your skills, which are demonstrated by your ability to create a portfolio of work and gain employment.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q6d" class="question collapsed">
        Will I end up with a portfolio?
      </div>
      <div id="q6d" class="collapse answer">
        <p>Yes, you’ll have an the opportunity to build a coding portfolio that showcases the projects you worked on over the course of the program.</p>
        <p>During Phases 3 and 4 you'll have an opportunity to work on projects that simulate a real development team environment, building both small toy applications first and then moving on to larger projects like contributing to Open Source Software.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q6e" class="question collapsed">
        Will Learners be required or steered toward certain types of employment?
      </div>
      <div id="q6e" class="collapse answer">
        <p>There are no requirements stipulating the nature or type of employment that Learners choose after the program. But remember, you are obligated to pay back your ISAs whether you work as a web developer or anything else.  We want people to have the freedom to choose the career they want and think that time at the Guild will prepare you for many types of jobs.  That said, we think our program is best suited for people are are pretty darn sure they want to be a web developer and progress to an ongoing career in tech.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>  

</div>