<div id="q1" aria-expanded="true" class="panel" >
  <h1>What's a guild?</h1>
  <img src="/images/newres/guild_definition.png" class="faq-image" />
  <h3>A guild is an old idea, set to be the future of learning.</h3>
  <p>In the distant past, if you wanted to learn a trade, you'd join a guild. 
    It wasn't theoretical, it was experential.  Young apprentices would 
    work under proved masters, each generation investing in and giving back to the one that followed. 
    Guilds not only kept their crafts alive, they formed a society of mutual help and companionship.
  </p>

  <h3>We're bringing guilds back.</h3>
  <p>Today's guilds are learning communities entirely different from typical schools. 
    If you want to take on all the financial risk and go it alone, you go to a college or a bootcamp. 
    If you want to be part of a community that loves its craft and those who practice it, 
    if you want to be lifted by others, and to lift others with you, you join a guild.
  </p>
</div>