<div id="q4" aria-expanded="false" class="collapse panel">
  <h1>Learning Model</h1>   
        
  <button data-toggle="collapse" data-target="#q4a">How will I learn? How will I choose projects or goals?</button>
  <div id="q4a" class="collapse">
    <p>At Learners Guild we follow the principles of cognitive apprenticeship to design a system for effective skills training. Much of all learning at the Guild takes place in team projects, similar to the way that actual software applications are built.
      The essence of our model is that instead of many people learning only from one person, every learner is learning from other learners and, in turn, passing on their skills and knowledge. There will always be "experts" who you can ask the most difficult questions, but in a lot of cases you will be learning from other, more experienced Learners. Because new Learners start every week, there is always a range of skills and experience in the room, and we’ll help you use this range to your advantage.
      Our system also incorporates game-based learning so you receive stats and feedback to let you track your progress, and let you know where to focus your efforts to improve. Each week you choose projects and goals that are both relevant and challenging, so that you're always working with others on interesting problems that push you into your "Proximal Zone of Development". Each team is assigned a more-experienced team lead who guides and supports the project and the team's learning.
    </p>
  </div>
        
  <button data-toggle="collapse" data-target="#q4b">Isn’t "Learning Collective" just a fancy word for "school" or "bootcamp"?</button>
  <div id="q4b" class="collapse">
    <p>Not to us. We're creating a dynamic learning environment, but we're not creating another school or coding bootcamp. We know a lot about bootcamps; many of the folks on our team were pioneers of that industry. But we weren’t satisfied with the results. While bootcamps do a decent job at helping students enter the software industry, we think we can do better at setting Learners up for rapidly advancing careers and longer term success. A Learners Guild we are betting that after your time here, you will have coding skills that are more advanced than someone with a Computer Science degree, or a bootcamp graduate. </p>
  </div>
    
  <button data-toggle="collapse" data-target="#q4c">Are there teachers?</button>
  <div id="q4c" class="collapse">
    <p>At Learners Guild everyone is both a student and a teacher. While we certainly have people with in-depth industry experience, senior level engineers, and skilled facilitators, we don’t have “teachers”. You'll be collaborating every day with people ahead of you in the program, and people who started after you. As you learn, you'll share what you know. At Learners Guild, knowledge spreads like wildfire.
      A well-designed learning environment causes a rapid transfer of knowledge between experts and peers. Because technology changes so quickly, knowing information isn’t enough. It doesn’t take long for today’s right answers to be obsolete tomorrow. To prepare you, we focus not only on what you learn, but how you learn it, developing meta-learning and problem-solving skills. Your ability to continue growing and refining your craft will set you up for sustained success as a software developer. Learners Guild graduates are lifelong learners.
    </p>
  </div>
    
  <button data-toggle="collapse" data-target="#q4d">What will I learn? What technical skills are covered?</button>
  <div id="q4d" class="collapse">
    <p>We invest in you to learn as much as you need to attain and sustain a career as a software engineer. To support you, we hire expert practitioners to help you craft the best possible learning path towards your goal.
      If you're looking for a set curriculum like the one you would find at a school or bootcamp, you won't find it here. We don't believe in a cookie-cutter approach to learning.
      Instead, we focus on two things: helping you learn how to learn, and providing a rich environment for you to practice and develop your craft with other motivated learners.
      We believe the best answer to "what should I learn?" is "whatever the most skilled people around you know." So if you are surrounded by concert pianists, you're better off studying piano than the violin.
      We hire skilled full-stack JavaScript web developers to serve as expert practitioners and mentors from whom you can learn skills and receive invaluable guidance.
      So... will you learn languages like JavaScript? And databases like PostgreSQL and MongoDB? And HTML and CSS and React and git and... The answer is: yes, of course. You certainly will learn these things, and many many more.
      More importantly, though, you will learn the habits of mind of an engineer. You will learn how to build products with a team. You will learn how to evaluate your own skills and choose appropriate challenges to help you advance them. You will learn how to mentor other learners, not just because it's a Good Thing To Do, but also because the best way to test your knowledge is to teach it.
      Finally, you will learn how to learn. After all, is there any more important skill?
    </p>
  </div>
    
  <button data-toggle="collapse" data-target="#q4e">Why JavaScript?</button>
  <div id="q4e" class="collapse">
    <p>There are plenty of great coding languages out there, and while JavaScript isn't the only option, it is a solid choice for people starting their careers in software.
      Here’s why: (1) JavaScript is ubiquitous on the web and expanding rapidly to other platforms, so demand for JS developers is unlikely to stop growing anytime soon; (2) the JavaScript community is robust and there are lots of amazing resources for continued learning and development; (3) and finally, JavaScript is (relatively) simple and straightforward.
    </p>
  </div>
    
  <button data-toggle="collapse" data-target="#q4f">What does the mentorship process look like?</button>
  <div id="q4f" class="collapse">
    <p>Much of the time Learners work on team projects. Each team is assigned a team lead who acts as a guide, sharing and modeling their more advanced skills for the team members to learn from.
      This process is crucial to our environment. Every learner will start as a team member, but before long they will lead teams as well. In this way, all Learners will not only learn by doing, but also by demonstrating and explaining their skills to others.
      However, the team environment is not the only environment where mentorship takes place. We are a learning collective, which means that everyone involved is available for support and guidance when you need it. We believe in being generous with knowledge, and that an environment of shared curiosity and open information is the best place to learn.
    </p>
  </div>
    
  <button data-toggle="collapse" data-target="#q4g">Do you have an online option?</button>
  <div id="q4g" class="collapse">
    <p>We don't. The power of our model is in the real-time, face-to-face interactions you'll have with people every day. Research shows that learning in a live, group context is accelerated. You will learn more, you will learn faster, and your conceptual understanding will be deeper.</p>
  </div>
    
  <button data-toggle="collapse" data-target="#q4h">Do you have a shorter immersion course?</button>
  <div id="q4h" class="collapse">
    <p>No. While it’s possible to cover the basics in a shorter course, our goal is to have you walk out with a much deeper skillset than “the basics.” If we find a way to streamline our approach and still produce stellar results, we’ll certainly consider it, but for now it’s 40 weeks.</p>
  </div>
    
  <button data-toggle="collapse" data-target="#q4i">Will we be graded?</button>
  <div id="q4i" class="collapse">
    <p>Testing your understanding and skills? Definitely. But grades? No. Grading is a carrot-and-stick approach that assumes you need to be coerced to learn. We’re not here to coerce. We believe in your innate drive to learn and grow, and design our approach around it. We don't care about what grades you got in school. We care about your drive, your potential, what you understand and what you can do. We think reality is the ultimate test.</p>
  </div>
    
  <button data-toggle="collapse" data-target="#q4j">How will Learners know if an ISA is a good option for them?</button>
  <div id="q4j" class="collapse">
    <p>ISAs are among many options that are available for funding, including whether to pay the program fees upfront. Learners should research which options work best for their individual situations.</p>
  </div>
    
  <button data-toggle="collapse" data-target="#q4k">What factors should learners consider when deciding whether to accept the stipend and/or pay the program fees upfront, or to apply for the ISAs or other financing options?</button>
  <div id="q4k" class="collapse">
    <p>A learner's decision about whether to accept the living allowance, whether to pay the program fees upfront, or whether to finance all or a part of their living expenses or the program fees should include an assessment of all of the options available based on their individual financial situation.  Learners Guild encourages all learners to consult with trusted advisors and consider how an ISA compares to other financing options.</p>
  </div>
    
  <button data-toggle="collapse" data-target="#q4l">Which learners will be eligible to apply for an ISA?</button>
  <div id="q4l" class="collapse">
    <p>Any Learner that is admitted to the program is eligible for an ISA. </p>
  </div>
    
  <button data-toggle="collapse" data-target="#q4m">How can Learners Guild learners apply for an ISA or get more information?</button>
  <div id="q4m" class="collapse">
    <p>It is recommended that interested learners discuss ISAs with a financial aid advisor, parents and/or guardians before deciding if an ISA is a possible funding solution for them. The application process for Learners Guild is on a rolling basis and new start almost every week. If you have questions about the application process, please contact enrollment@learnersguild.org.</p>
  </div>
    
  <button data-toggle="collapse" data-target="#q4n">What types of payment terms will be offered for learners?</button>
  <div id="q4n" class="collapse">
    <p>The term length and percentage are set to be competitive with current consumer finance options. Depending on the learner’s post-program income, the amount paid back on the ISA may be either lower or higher than the funding amount for the student.</p>
  </div>
    
  <button data-toggle="collapse" data-target="#q4o">Following the end of a learner’s participation in the program, when does the ISA payment plan take effect?</button>
  <div id="q4o" class="collapse">
    <p>Students are afforded a three-month grace period after they complete or withdrawal from participation in the Learners Guild program before payments are required.</p>
  </div>
    
  <button data-toggle="collapse" data-target="#q4p">Am I required to fully pay the money that was given to me under the ISA?</button>
  <div id="q4p" class="collapse">
    <p>An ISA recipient is required to pay the agreed upon percentage of post-program income for the prescribed term of the contract. After making successful payments over that term, no additional payments are required even if they have paid less than the amount of funding they received.</p>
  </div>
    
  <button data-toggle="collapse" data-target="#q4q">Is there an option to "pay off" your financial obligation to Learners Guild early (i.e. before the 36-month repayment period is over)?</button>
  <div id="q4q" class="collapse">
    <p>The short answer to this question is "no", and the reason is that you are not borrowing from Learners Guild but instead receiving an investment. ]Learners Guild is making an investment in you in exchange for a share of your income for a specific period of time (36-months if you complete the program), only if you make over $50,000. There is a limit on your payments, so if you reach the payment cap during your payback period your obligation is complete, but there is no benefit to paying towards that cap early. </p>
  </div>
    
  <button data-toggle="collapse" data-target="#q4r">Isn’t this too good to be true?</button>
  <div id="q4r" class="collapse">
    <p>Testing your understanding and skills? Definitely. But grades? No. Grading is a carrot-and-stick approach that assumes you need to be coerced to learn. We’re not here to coerce. We believe in your innate drive to learn and grow, and design our approach around it. We don't care about what grades you got in school. We care about your drive, your potential, what you understand and what you can do. We think reality is the ultimate test.
    </p>
  </div>
</div>  