<div id="q2" aria-expanded="false" class="collapse">
  <h1>How the Money Works</h1>
  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2a" class="question collapsed">What does Learners Guild cost? What if I can’t pay upfront? If you’re investing in me, how do you get paid?</div>
      <div id="q2a" class="collapse answer">
        <p>Good Questions. We know it's unusual, but program fees for Learners Guild do not have to be paid upfront. 
        People who want to, can pay the upfront price of $29,750 for the program, but most people opt to pay for the Learners Guild program through an Income Sharing Agreement (ISA), where you will contribute 12.5% of your salary (or up to 21% if you receive a living stipend) for the first three years’ of employment. The typical starting salary for a junior web developer / software engineer is $75K to $95K per year.
        As a Public Benefit Corporation, we want to make Learners Guild accessible to everyone, no matter their ability to pay upfront fees. This means we’re quite literally investing in you: we want you to get an awesome high-paying job, and we only get paid if you succeed.  We’re betting on you and our ability to help you reach your potential, so if you don’t make over $50,000 after your time at the Guild, we don’t make a dime. </p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2b" class="question collapsed">
        What is an Income Sharing Agreement (ISA)?
      </div>
      <div id="q2b" class="collapse answer">
        <p>In general terms, an Income Share Agreement (ISA) is a contractual agreement in which an individual receives funding in exchange for an agreed upon percentage of post-program income over a defined number of years. At Learners Guild we offer 2 ISAs, one that covers the program fees and another that covers the provision of the living allowance, both are optional.</p>
        <p>How much funding is available for individual learners?</p>
        <p>Individual funding amounts vary depending whether a Learner elects to enter into an ISA for the program fees, and/or an ISA for living allowance (which can also cover the cost of a laptop). The ISA for the program fees covers the entire $29,750 funding amount for the program and requires an income share of 12.5% for 3 years, once you complete the program.  And, the ISA for the living allowance, allows the Learner to receive up to $1,500 / month (which equates to $346.15/week) to pay for living expenses -- rent, computer, food, etc.-- during the program in exchange for up to 8.5% of income for 3 years.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2c" class="question collapsed">
        $1,500/mo living allowance? Really?  Is it mandatory or optional?
      </div>
      <div id="q2c" class="collapse answer">
        <p>Yes, really. The $1,500 monthly living allowance is intended to help defray your cost of living while you're at Learners Guild. As much as possible, we want you to focus on learning, not earning.  Learners can elect to enter into an ISA for up to $1,500/month in living allowance, but it is totally optional and you can take less or none if you don’t need the full amount. $1,500/month equates to $346.15/week and there is also an option to receive an additional $1,846 to cover the cost of a laptop. Payments for the living allowance are made to Learners every 2 weeks, in advance, starting on the second Friday of the program.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2d" class="question collapsed">
        What are the benefits to learners?
      </div>
      <div id="q2d" class="collapse answer">
        <p>The Learners Guild ISAs offer learners an alternative to taking on debt to cover the program fee and/or debt to cover living expenses. Debt creates substantial risks if the individual cannot afford the payments, whereas ISA payments adjust according to levels of income. In addition, the ISA payments for Learners Guild are subject to a minimum income threshold of $50,000, and a maximum payment cap equal to two (2) times the amount funded, so students who opt into the ISA will not pay if they do not meet the minimum income threshold, while those who earn a substantial amount of income will not pay above the maximum capped amount.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2e" class="question collapsed">
        Why is Learners Guild offering ISAs to students?
      </div>
      <div id="q2e" class="collapse answer">
        <p>The ISA allows Learners to have an option not to have to pay the program fees upfront. In addition to making Learners Guild accessible to anyone, regardless of financial means, we also like it because it aligns our success with our Learners.  We only succeed and are able to invest in future Learners if people make it through our program, get a well-paying job, and make payments on their ISAs. Finally, we feel ISAs are an alternative funding option for Learners, one that could reduce debt and financial risk.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2f" class="question collapsed">
        Will the amount I am responsible to pay under the ISA grow through interest expense until I begin making payments or by my occasional underpayment?
      </div>
      <div id="q2f" class="collapse answer">
        <p>No. The ISA possesses no interest rate, which is different than student loans. The amount you are required to pay (Income Share multiplied by your earned income) will only grow due to the growth rate of the amount of the income you earn, but the income share level percentage will not change during the term of the ISA.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2g" class="question collapsed">
        What are the risks to learners?
      </div>
      <div id="q2g" class="collapse answer">
        <p>The amount of payment is based on income, so if a Learner commits to an ISA and earns a high income after graduation they may pay more than they would have if they had paid for the $29,750 in program fees upfront, had obtained the living allowance amounts from another source, or had obtained conventional debt for either the program fees or the living allowance. However, the ISAs cap the total amount to be paid, so no student will ever pay more than the agreed upon amount.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2h" class="question collapsed">
        Is the income share calculated from my gross or net pay (before or after taxes)?
      </div>
      <div id="q2h" class="collapse answer">
        <p>Gross pay. Before taxes.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2i" class="question collapsed">
        If my salary goes up, does the percentage of my income sharing stay the same?
      </div>
      <div id="q2i" class="collapse answer">
        <p>Yes. The percentage is fixed over the payback period, which is 3 years if you complete the program. Regardless if your salary goes up or down, the terms of the ISA remain the same.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2j" class="question collapsed">
        How will Learners know if an ISA is a good option for them?
      </div>
      <div id="q2j" class="collapse answer">
        <p>ISAs are among many options that are available for funding, including whether to pay the program fees upfront. Learners should research which options work best for their individual situations.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2k" class="question collapsed">
        What factors should learners consider when deciding whether to accept the stipend and/or pay the program fees upfront, or to apply for the ISAs or other financing options?
      </div>
      <div id="q2k" class="collapse answer">
        <p>A learner's decision about whether to accept the living allowance, whether to pay the program fees upfront, or whether to finance all or a part of their living expenses or the program fees should include an assessment of all of the options available based on their individual financial situation.  Learners Guild encourages all learners to consult with trusted advisors and consider how an ISA compares to other financing options.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2l" class="question collapsed">
        Which learners will be eligible to apply for an ISA?
      </div>
      <div id="q2l" class="collapse answer">
        <p>Any Learner that is admitted to the program is eligible for an ISA.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2m" class="question collapsed">
        How can Learners Guild learners apply for an ISA or get more information?
      </div>
      <div id="q2m" class="collapse answer">
        <p>It is recommended that interested learners discuss ISAs with a financial aid advisor, parents and/or guardians before deciding if an ISA is a possible funding solution for them. The application process for Learners Guild is on a rolling basis and new start almost every week. If you have questions about the application process, please contact enrollment@learnersguild.org.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2n" class="question collapsed">
        What types of payment terms will be offered for learners?
      </div>
      <div id="q2n" class="collapse answer">
        <p>The term length and percentage are set to be competitive with current consumer finance options. Depending on the learner’s post-program income, the amount paid back on the ISA may be either lower or higher than the funding amount for the student.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2o" class="question collapsed">
        Following the end of a learner’s participation in the program, when does the ISA payment plan take effect?
      </div>
      <div id="q2o" class="collapse answer">
        <p>Students are afforded a three-month grace period after they complete or withdrawal from participation in the Learners Guild program before payments are required.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2p" class="question collapsed">
        Am I required to fully pay the money that was given to me under the ISA?
      </div>
      <div id="q2p" class="collapse answer">
        <p>An ISA recipient is required to pay the agreed upon percentage of post-program income for the prescribed term of the contract. After making successful payments over that term, no additional payments are required even if they have paid less than the amount of funding they received.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2q" class="question collapsed">
        Is there an option to "pay off" your financial obligation to Learners Guild early (i.e. before the 36-month repayment period is over)?
      </div>
      <div id="q2q" class="collapse answer">
        <p>The short answer to this question is "no", and the reason is that you are not borrowing from Learners Guild but instead receiving an investment. ]Learners Guild is making an investment in you in exchange for a share of your income for a specific period of time (36-months if you complete the program), only if you make over $50,000. There is a limit on your payments, so if you reach the payment cap during your payback period your obligation is complete, but there is no benefit to paying towards that cap early.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q2r" class="question collapsed">
        Isn’t this too good to be true?
      </div>
      <div id="q2r" class="collapse answer">
        <p>You’ll probably never stop asking this question. (We wish this program existed when we started our careers.) In fact, it’s our goal that you ask this every day you show up and find yourself learning in ways you never thought possible. We want you to ask this 40 weeks later, when you’ve landed a job you didn’t think you could have. And we want you to ask this 5, 10, and 20 years later… when you’re still in touch, and still getting support from the friends you made at Learners Guild.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>
  
</div>