<div id="q4" aria-expanded="false" class="collapse panel">
  <h1>Learning Model</h1>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q4a" class="question collapsed">
        How will I learn?
      </div>
      <div id="q4a" class="collapse answer">
        <p>Our learning model combines solid fundamentals training in a group setting with self-directed, project-based learning. We’ve structured the program into five consecutive phases beginning with module based assignments that grow in complexity and prepare you to contribute, in a team, to real-world Open Source Software and Guild projects with large code bases toward the end of the program. Along the way, our learning model will prompt you to learn how you learn. Being a web developer isn’t just about what you know, it’s about what you can figure out. So learning how to be a lifelong learner is key to your success.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q4b" class="question collapsed">
        Are there teachers? 
      </div>
      <div id="q4b" class="collapse answer">
        <p>The principles of cognitive apprenticeship are central to the Guild’s design and provide a framework for effective skills training. It assumes that people learn from one another, through observation, imitation and modeling.  Many of our learning supports feature forms of apprenticeship where Learners are not only supported by senior engineers, but also skill share with, and learn from each other, in turn, passing their skills and knowledge on to newer Learners. Learners Guild is a peer-to-peer learning environment supported by seasoned engineers, making everyone both a student and a teacher.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q4c" class="question collapsed">
        What will I learn? What technical skills are covered?
      </div>
      <div id="q4c" class="collapse answer">
        <p>At Learners Guild, technical development is divided into sequentially ordered learning phases that build on each other as you progress through the program. Each Phase is an eight (8) week period of time in which Learners tackle a new a set of web development skills, put skills into practice or are working on getting hired. Upon enrollment, all Learners begin in Phase 1, also referred to as Foundations 1, and then interview into subsequent phases.</p>
        <p>The Phases are as follows:</p>
        <ul>
            <li>Phase 1: Programming Fundamentals</li>
            <li>Phase 2: Web Development Fundamentals</li>
            <li>Phase 3: Integrated Practice</li>
            <li>Phase 4: Apprenticeship</li>
            <li>Phase 5: Career Prep</li>
        </ul>
        <p>We have skilled full-stack JavaScript web developers to serve as expert practitioners and mentors from whom you can learn skills and receive guidance. You’ll learn languages like JavaScript, databases like PostgreSQL and MongoDB. And HTML and CSS and React and git and...many many more.</p>
        <p>But because technology changes so quickly, knowing information isn’t enough. It doesn’t take long for today’s right answers to be obsolete tomorrow. To prepare you, we focus not only on what you learn, but how you learn it, developing meta-learning and problem-solving skills. You will learn the habits of the mind of an engineer. You will learn how to build products with a team. You will learn how to evaluate your own skills and choose appropriate challenges to help you advance them. You will learn how to mentor other Learners, not just because it's a good thing to do, but also because the best way to solidify your knowledge is to teach others what you know. Your ability to continue growing and refining your craft will set you up for sustained success as a software developer; Learners Guild graduates are lifelong Learners.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q4e" class="question collapsed">
        How do you track our progress through the program? Will we be graded?
      </div>
      <div id="q4e" class="collapse answer">
        <p>No, you won't be graded. Instead of using grades to track Learner progress, we simulate an aspect of the interview process Learners will later encounter on the job market. We require Learners to participate in a coding challenge and technical comprehension interview to advance from one phase to another, called Phase Interviews. These coding challenges and comprehension interviews create scaffolds that better prepare Learners for the real interview process better than a grade ever could.</p>
        <p>The coding challenge simulates a skill-level appropriate “take home challenge” that is often given in tech job hiring process, and gives Learners an opportunity to demonstrate skills gained in the phase they are working on, and readiness to begin the next phase. Depending on the phase a Learner is interviewing into, the coding challenge may require them to complete exercises, build a small app, or build a full-stack application.</p>
        <p>The technical comprehension interview is a 1-on-1 conversation with one of our expert software practitioners, designed to evaluate Learner's understanding of the solutions they came up with on the coding challenge. Each Learner will meet with an interviewer via video chat for about 30 minutes to dig in to various parts of their submitted code.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q4f" class="question collapsed">
        Why JavaScript?
      </div>
      <div id="q4f" class="collapse answer">
        <p>There are plenty of great coding languages out there, and while JavaScript isn't the only option, it is a solid choice for people starting their careers in software.</p>
        <p>Here’s why: (1) JavaScript is ubiquitous on the web and expanding rapidly to other platforms, so demand for JS developers is unlikely to stop growing anytime soon; (2) the JavaScript community is robust and there are lots of amazing resources for continued learning and development; (3) and finally, JavaScript is (relatively) simple and straightforward.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q4g" class="question collapsed">
        Do you have an online option?
      </div>
      <div id="q4g" class="collapse answer">
        <p>We don't. The power of our model is in the real-time, face-to-face interactions you'll have with people every day. Research shows that immersion in a live group context accelerates learning. You will learn more, you will learn faster, and your conceptual understanding will be deeper.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

  <div class="row question-row">
    <div class="col-xs-11">
      <div data-toggle="collapse" data-target="#q4h" class="question collapsed">
        Do you have a shorter immersion course?
      </div>
      <div id="q4h" class="collapse answer">
        <p>No. While it’s possible to cover the basics in a shorter course, our goal is to have you walk out with a much deeper skillset. If we find a way to streamline our approach and still produce stellar results, we’ll certainly consider it, but for now it’s 40 weeks.</p>
      </div>
    </div>
    <div class="col-xs-1">
      <img src="/images/newres/faqarrowdown.png" alt="" class="arrow-down">
      <img src="/images/newres/faqarrowup.png" alt="" class="hide arrow-up">
    </div>
  </div>

</div>
