<div id="q1" aria-expanded="true" class="panel" >
  <h1>The Guild at a Glance</h1>
  <img src="/images/newres/guild_definition.png" class="faq-image" />
  <h3>What’s a Guild?</h3>
  <p>In the distant past, if you wanted to learn a trade, you'd join a guild. It wasn't theoretical, it was experiential. Young apprentices would work under proven masters, each generation investing in and giving back to the one that followed. Guilds not only kept their crafts alive, they formed a society of mutual help and companionship.</p>

  <h3>So, what is Learners Guild?</h3>
  <p>We are a learning community with a mission of making pathways to tech jobs more accessible. We do this by seeking out and investing in high potential, aspiring web developers from all backgrounds. We invest time, money and resources in people who we believe will succeed in a rigorous, accelerated learning environment and develop the skills and mindsets needed to be ready for a career in web development by the end of their time at the Guild. As our Learners succeed, we also succeed, enabling our community to invest in future generations.</p>
</div>