<div id="q5" aria-expanded="false" class="collapse panel">
  <h1>Application Process</h1>    
        
  <button data-toggle="collapse" data-target="#q5a">Do I need previous programming experience to apply?</button>
  <div id="q5a" class="collapse">
    <p>Learners Guild requires that you have at least 50 hours of experience in programming. We do this to ensure that you understand enough about the craft to be committed to it. We expect our community members to be passionate about programming and know enough to want to have a meaningful career as a software developer.
    If you have fewer than 50 hours of programming experience we recommend you check out these resources and come back to completing your application once you’ve accrued the hours:
    Complete "Make a Website", "Make an Interactive Website", and "Learn the Command Line", "Learn SQL", and "JavaScript" tracks on Codecademy: <a href="https://www.codecademy.com/learn/all">https://www.codecademy.com/learn/all</a>
    Complete free Git courses on Code School: <a href="https://www.codeschool.com/learn">https://www.codeschool.com/learn</a>
    Go through the HTML & CSS course on Shay Howe’s site <a href="http://learn.shayhowe.com/html-css/">http://learn.shayhowe.com/html-css/</a>
    Plus as many other projects and tutorials as you like! There are lots of other resources and ideas out there. Follow your interests.
    </p>
  </div>

  <button data-toggle="collapse" data-target="#q5b">Who else is attending? What kind of people will I meet?</button>
  <div id="q5b" class="collapse">
    <p>At Learners Guild you’ll meet other adults like yourself, from a wide range of backgrounds, who share your dedication, passion, and curiosity. Check out the videos on the site and in our <a href="community">Community section</a> to see some of the current Learners at the Guild.
    </p>
  </div>
    
  <button data-toggle="collapse" data-target="#q5c">What if I already have a degree? Is Learners Guild still for me?</button>
  <div id="q5c" class="collapse">
    <p>Absolutely. We designed Learners Guild for degree holders and non-degree holders alike. Anyone who wants to be a professional web developer is encouraged to apply.</p>
  </div>
    
  <button data-toggle="collapse" data-target="#q5d">Once I fill out the application, then what happens?</button>
  <div id="q5d" class="collapse">
    <p>There are three more steps in our application process:

      1) Once you submit an application, if you have met all of the requirements, you will receive an invitation to schedule a video interview with a member of The Guild. We typically have interview slots available within two weeks of when your application is qualified. This interview is focused on fitness with our community culture and with our learning model.
      2) After that initial interview, we will let you know within 24 hours if you are being invited to take the Tech Quiz. And don’t worry, it’s a quiz and not a test, so you can take it more than once, if needed.
      3) Once you pass the Tech Quiz, you'll be invited to an onsite Enrollment Game where you will meet in person with other applicants, current Learners, and Learners Guild staff. The Enrollment Game mimics what it's like to learn at The Guild - it gives you the opportunity to try out our learning model and some of our cultural practices, and it’s also a good way for us to assess if you are good fit for the program.  We currently host Enrollment Games every two weeks.

      After the Enrollment Game, we inform candidates if they have been accepted into The Guild within one week.  So, the whole process from submitting your application to receiving your acceptance notification can take 4-8 weeks.     
    </p>
  </div>
    
  <button data-toggle="collapse" data-target="#q5e">What documents do I have to sign for the ISAs?</button>
  <div id="q5e" class="collapse">
    <p>You will execute 1 or 2 ISAs, depending on if you opt to not pay up front fees and/or take a living allowance stipend.  The ISAs are issued by subsidiaries of Learners Guild. Also, you should be aware that another company, VEMO Education (www.vemo.com), will be responsible administering the ISAs and collecting payments. VEMO is a pioneer in ISAs, and has worked extensively with Learners Guild to make them available to Learners.
    </p>
  </div>
    
  <button data-toggle="collapse" data-target="#q5f">I am applying from out of town, can I join the Enrollment Game remotely?</button>
  <div id="q5f" class="collapse">
    <p>No. Unfortunately, you need to be in person for that part of the enrollment process.</p>
  </div>
    
  <button data-toggle="collapse" data-target="#q5g">Can I visit the Guild to check it out?</button>
  <div id="q5g" class="collapse">
    <p>We encourage you to attend one of our online info sessions, where you will meet members of our community and have the opportunity to ask them questions. However, we can not presently accommodate unscheduled, in-person visits, as it is distracting for our current Learners.</p>
  </div>
</div>      