<section id="section-faqs" class="page-section">
  <div class="container clearfix">
    <div class="row clearfix">
      <div id="faqs" class="faqs">
        <h3>Frequently Asked Questions</h3>

        <p>
          As you can tell, we’re doing things a bit differently. So you’re probably going to have some questions. If you can’t find what you’re looking for, just let us know.
        </p>

        <div class="divider"><i class="icon-circle"></i></div>

        <div class="col_half">
          <h4><strong>Q.</strong>Isn’t “Learning Collective” just a fancy way of saying you’re a school or boot camp?</h4>
          <p>
            Lorem ipsum
          </p>

          <h4><strong>Q.</strong>Learners-only? Does that mean there aren’t teachers?</h4>
          <p>
            Lorem ipsum
          </p>

          <h4><strong>Q.</strong>Will we be graded?</h4>
          <p>
            Lorem ipsum
          </p>

          <h4><strong>Q.</strong>What will we learn?</h4>
          <p>
            Lorem ipsum
          </p>

          <h4><strong>Q.</strong>A $2,000/mo stipend? Really?</h4>
          <p>
            Lorem ipsum
          </p>

          <h4><strong>Q.</strong>What does this cost? How does the money work? If you’re investing in me, how do you get paid?</h4>
          <p>
            Lorem ipsum
          </p>

          <h4><strong>Q.</strong>What happens if I quit the process before graduating?</h4>
          <p>
            Lorem ipsum
          </p>

          <h4><strong>Q.</strong>Who is this learning environment for? Do I have to have any pre-existing skills?</h4>
          <p>
            Lorem ipsum
          </p>

          <h4><strong>Q.</strong>Who else is going? What kind of folks will I meet?</h4>
          <p>
            Lorem ipsum
          </p>

        </div>

        <div class="col_half col_last">
          <h4><strong>Q.</strong>Will I end up with a portfolio?</h4>
          <p>
            Lorem ipsum
          </p>

          <h4><strong>Q.</strong>What specific skills will I have when I’m done?</h4>
          <p>
            Lorem ipsum
          </p>

          <h4><strong>Q.</strong>What is the demand like for a Full Stack Developer?</h4>
          <p>
            Lorem ipsum
          </p>

          <h4><strong>Q.</strong>Do you help with job placement?</h4>
          <p>
            Lorem ipsum
          </p>

          <h4><strong>Q.</strong>What is the application process?</h4>
          <p>
            Lorem ipsum
          </p>

          <h4><strong>Q.</strong>Do you have an online option?</h4>
          <p>
            Lorem ipsum
          </p>

          <h4><strong>Q.</strong>Do you have a shorter immersion course?</h4>
          <p>
            Lorem ipsum
          </p>

          <h4><strong>Q.</strong>Any recommended reading/resources before I start?</h4>
          <p>
            Lorem ipsum
          </p>

          <h4><strong>Q.</strong>Will I earn a certificate or degree?</h4>
          <p>
            Lorem ipsum
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
