<section id="section-faqs" class="page-section">
  <div class="container clearfix">
    <div class="row clearfix">
      <div id="faqs" class="faqs">

        <div class="col_half nobottommargin">

            <h4 id="faq-1"><strong>Q. </strong>Isn’t “Learning Collective” just a fancy word for “school” or “bootcamp”?
            </h4>

              <p>
                Not to us. We're creating a dynamic learning environment, but we're not creating another school. The heart of our program is a cognitive apprenticeship model of learning—vetted by scientists and learning researchers—that is a truly powerful means of knowledge acquisition and skill development.
              </p>
              <p>
                We know a lot about bootcamps. In fact, many folks on our team were pioneers of that industry. But we weren’t satisfied with the results. While bootcamps do a decent job at helping students enter the software industry, they don’t do enough to set people up for rapidly advancing careers and longer term success.
              </p>



            <h4 id="faq-1"><strong>Q. </strong>Learners-only? Does that mean there are no teachers?
            </h4>

              <p>
                Yes. While we certainly have people with in-depth industry experience, senior level engineers, skilled facilitators, we don’t have teachers. A well designed learning environment causes a rapid transfer of knowledge between experts and peers. You'll be collaborating every day with people ahead of you in the program, and people who started after you. As you learn, you'll share what you know. At Learners Guild, our goal is to make knowledge spreads like wildfire.
              </p>
              <p>
                Because technology changes so quickly, knowing information isn’t enough. It doesn’t take long for today’s right answers to become obsolete. To prepare you, we focus not only on what you learn, but how you learn it, developing meta-learning and problem-solving skills.
                Learners Guild graduates are lifelong learners. Your ability to continue growing and refining your craft will set you up for sustained success as a software developer.
              </p>


            <h4 id="faq-1"><strong>Q.</strong>What will I learn?
            </h4>
              <p>
                We invest in you to learn as much as you need to attain and sustain a career as a software engineer. To support you, we hire expert practitioners to help you craft the best possible learning path towards your goal.
              </p>
              <p>
                If you're looking for a set curriculum like the one you would find at a school or bootcamp, you won't find it here. We don't believe in a cookie-cutter approach to learning.
              </p>
              <p>
                Instead, we focus on two things: helping you learn how to learn, and providing a rich environment for you to practice and develop your craft with other motivated learners.
              </p>
              <p>
                We believe the best answer to "what should I learn?" is "whatever the most skilled people around you know." So if you are surrounded by concert pianists, you're better off studying piano than the violin.
              </p>
              <p>
                We hire skilled full-stack JavaScript web developers to serve as expert  practitioners and mentors from whom you can learn skills and receive invaluable guidance.
              </p>
              <p>
                So... will you learn languages like JavaScript? And databases like PostgreSQL and MongoDB? And HTML and CSS and React and git and... The answer is: yes, of course. You certainly will learn these things, and many many more.
              </p>
              <p>
                More importantly, though, you will learn the habits of mind of an engineer. You will learn how to build products with a team. You will learn how to evaluate your own skills and choose appropriate challenges to help you advance them. You will learn how to mentor other learners, not just because it's a Good Thing To Do, but also because the best way to test your knowledge is to teach it.
              </p>
              <p>
                Finally, you will learn how to learn. After all, is there any more important skill?
              </p>


            <h4 id="faq-1"><strong>Q.</strong>Do you have an online option?
            </h4>

              <p>
                We don't. The power of our model is in the real-time, face-to-face interactions you'll have with people every day. Research shows that learning in a live, group context is accelerated. You learn more, you learn faster, and your conceptual understanding is deeper.
              </p>




            <h4 id="faq-1"><strong>Q.</strong>Will we be graded?
            </h4>

              <p>
                Testing your understanding and skills? Definitely. But grades? No. Grading is a carrot-and-stick approach that assumes you must be coerced to learn. We’re not here to coerce. We believe in your innate drive to learn and grow, and design our approach to learning around it.
              </p>
              <p>
                We don't care about grades. We care about what you understand and what you can do. We think reality is the ultimate test.
              </p>



            <h4 id="faq-1"><strong>Q.</strong>A $1,500/mo living allowance? Really?
            </h4>

              <p>
                Yes, really. The $1,500 monthly living allowance is intended to help with your cost of living while you're at Learners Guild. As much as possible, we want you to focus on learning, not earning.
              </p>



            <h4 id="faq-1"><strong>Q.</strong>What happens if I quit the process before graduating?
            </h4>

              <p>
                It’s in our best interest to see you thrive. If you don't succeed, we don't. We’re very careful to choose applicants who are committed to the process, and if you’re committed to learning, we’re determined to give you all the support you need to finish. In fact, that’s one reason we
                allow you to take extra time if necessary.
              </p>
              <p>
                That said, if you opt out, you will still owe the full tuition, and any living allowance you’ve received. On a case-by-case basis, we may pause a learner's participation in the program, under extenuating circumstances.
              </p>


            <h4 id="faq-1"><strong>Q.</strong>What are the requirements to attend?
            </h4>
              <p>
                Please read the <a href="#section-eligibility">eligibility requirements</a> section.
              </p>


            <h4 id="faq-1"><strong>Q.</strong>Who else is going? What kind of people will I meet?
            </h4>

              <p>
                Other adults like yourself, from a wide range of backgrounds, who share your dedication, passion, and curiosity.
              </p>



            <h4 id="faq-1"><strong>Q.</strong>Is the living allowance optional?
            </h4>

              <p>
                Yes it is. You get to decide whether or not to opt-in to receiving it.
              </p>

        </div>

        <div class="col_half col_last nobottommargin">

            <h4 id="faq-1"><strong>Q.</strong>Will I end up with a portfolio?
            </h4>

              <p>
                Yes, you’ll have an excellent opportunity to work on projects that will add to your portfolio. Some projects will be smaller, while others will be larger.
              </p>
              <p>
                We’ve designed our learning environment to focus on teamwork, so most of the projects are done in teams. However, there will be some opportunities to work on individual projects.
              </p>
              <p>
                We hope by the end of your time at Learners Guild, you will be contributing to open source projects (and perhaps even to our own product codebase).
              </p>


            <h4 id="faq-1"><strong>Q.</strong>What does this cost? How does the money work? If you’re investing in me, how do you get paid?
            </h4>

              <p>
                Good questions. The cost of attending Learners Guild is $28,000; however, there are no upfront costs. If a learner takes the maximum of the living allowance, that increases their cost of participation by an additional $20,000, bringing the total to $48,000.
              </p>
              <p>
                Once a learner has transitioned out into the workforce with earnings over $50,000, they will be obligated to initiate the repayment of their tuition and living allowance.
              </p>
              <p>
                Typical starting salaries are $70k to $95k a year. Learners have the option of paying back the loan in installments over a five year period.
              </p>



            <h4 id="faq-1"><strong>Q.</strong>Isn’t this too good to be true?
            </h4>

              <p>
                You’ll probably never stop asking this question. (We wish this program existed when we started our careers.) In fact, it’s our goal that you ask this every day you show up and find yourself learning in ways you never thought possible.
              </p>
              <p>
                We want you to ask this 40 weeks later, when you’ve landed a job you didn’t think you could have. And we want you to ask this 5, 10, and 20 years later… when you’re still in touch, and still getting support from the friends you made at Learners Guild.
              </p>




            <h4 id="faq-1"><strong>Q.</strong>Do you help with job placement?
            </h4>

              <p>
                <em>No.</em> We have specifically chosen to not provide job placement services. We made this decision because we want to ensure that <em>you</em> the learner remains our primary client. If we provided job placement services, our attention would be divided between satisfying businesses versus placing our complete focus on satisfying you.
              </p>
              <p>
                We have designed our learning experience around real-life industry ready skills. After six months at Learners Guild, you will have developed a good portfolio of work. Our hope is at that point, you start interviewing for your full-time position.
              </p>
              <p>
                For us, “gaining full-time employment as an engineer” is another skill that you will be developing at Learners Guild. Over your last few months in the program, you will get better and better at this, up to the point where <em>you</em> will be the one deciding where you to go and to further grow your skills.
              </p>


            <h4 id="faq-1"><strong>Q.</strong>Do you have a shorter immersion course?
            </h4>

              <p>
                Currently, no. While it’s possible to cover the basics in a shorter course, our goal is to have you walk out with a much deeper skillset than “the basics.” If we find a way to streamline our approach and still produce stellar results, we’ll certainly consider it.
              </p>




            <h4 id="faq-1"><strong>Q.</strong>Do I need my own computer ?
            </h4>

              <p>
                No. We will provide you with a computer.
              </p>


            <h4 id="faq-1"><strong>Q.</strong>Can I visit your collective to check it out?
            </h4>

              <p>
                Not currently. We’re protective of our learners. However, you can meet some of them and our team by showing up at one of our info sessions.
              </p>




            <h4 id="faq-1"><strong>Q.</strong>Will I earn a certificate or degree?
            </h4>

              <p>
                We're not in the business of giving out certificates or degrees. Our approach is strictly results oriented. There are a lot of people with degrees, but no job to match it. It’s a common mistake to confuse a symbol for learning with the learning itself.
              </p>
              <p>
                Learners Guild turns that around: if you don’t end up in a high-paying job, we don’t get paid. Our focus is on getting you ready for the workforce by helping you develop your skills, which are demonstrated by your ability to create a portfolio of work.
              </p>

            <h4 id="faq-1"><strong>Q.</strong>Can I finish early?
            </h4>

              <p>
                No. Your commitment is for 40 weeks.
              </p>

              {% include apply.html%}

        </div>
      </div>
    </div>
  </div>
</section>
