<section id="section-faqs" class="page-section">
  <div class="container clearfix">
    <div class="row clearfix">
      <div id="faqs" class="faqs">
        <h3>Frequently Asked Questions</h3>

        <p>
          As you can tell, we’re doing things a bit differently. So you’re probably going to have some questions. If you can’t find what you’re looking for, just let us know.
        </p>

        <div class="divider"><i class="icon-circle"></i></div>

        <div class="col_half">
          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>Isn’t “Learning Collective” just a fancy way of saying you’re a school or boot camp?
            </div>
            <div class="togglec">

              <p>
              No. We think Learning Collectives represent a new way for people to learn. The top-down (teacher-student) approach embraced by most education institutions is out-dated, slow, and inefficient at best.  Our program is designed around a cognitive apprenticeship method of learning-- one that has been vetted by scientists and learning researchers-- that has shown itself to be a truly powerful means of both knowledge acquisition and skill development.
            </p>
            <p>

              We also know quite a bit about bootcamps, in fact our team were pioneers of that industry. But we weren’t satisfied with the results because while bootcamps do a decent job at helping students enter the software industry, they don’t do enough to set people up for rapidly advancing careers and longer term success.
            </p>

            </div>
          </div>

          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>Learners-only? Does that mean there aren’t teachers?
            </div>
            <div class="togglec">

              <p>
                Yes. People who have attended schools for many years&mdash; most of us &mdash;assume that teaching is necessary for learning to occur. This is a fallacy. Learning and teaching are different, and we focus on learning. While we certainly have people with in-depth experience, senior level engineers, skilled facilitators, and so on, we don’t have teachers. A well designed learning environment causes a rapid transfer of knowledge from peers. As you learn, you will share what you know. This is a kind of “mutual exploration” of the knowledge. Trying to explain what you know challenges you to deepen your own understanding, even as you assist someone else with theirs.
              </p>
              <p>
                Because technology changes so quickly, knowing information isn’t enough. It doesn’t take long for today’s right answers to become obsolete. To prepare you, our learning facilitators focus on improving your problem-solving skills. Essentially, you learn how to learn. This way, you’re equipped with the skills that make life-long learning attainable, something that’s critical to becoming a good developer.
              </p>

            </div>
          </div>

          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>Will we be graded?
            </div>
            <div class="togglec">

              <p>
                Testing your understanding and skills? Definitely. But grades? No. There’s a big difference. Grading is a carrot-and-stick approach that assumes you must be coerced to learn. We’re not here to coerce. We only accept applicants who have a drive to learn. As learners, we don’t focus on grades. Instead, we focus on improving our understanding and skills. Essentially: We believe that ultimately, reality will be the assessor.
              </p>


            </div>
          </div>

          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>A $2,000/mo stipend? Really?
            </div>
            <div class="togglec">

              <p>
                Yes. Really. We want you to focus on learning, not earning. A $2,000 monthly stipend allows you to make learning your full-time job for 10 months. Remember, if you don’t succeed, then we don’t. So we take our investment in you seriously.
              </p>


            </div>
          </div>

          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>What does this cost? How does the money work? If you’re investing in me, how do you get paid?
            </div>
            <div class="togglec">

              <p>
                Good questions. The cost of attending Learners Guild is $28,000; however, there are no upfront costs. If a learner takes the maximum of the living allowance, that increases their cost of participation by an additional $20,000, bringing the total to $48,000. Once a learner has transitioned out into the workforce with earnings over $60,000, they will be obligated to initiate the repayment of their tuition and living allowance.
              </p>
              <p>
                The cost of attending Learners Guild is $28,000. If a learner takes the maximum of the additional stipend, that increases their cost by an additional $20,000, bring the total to $48,000. Once a learner has transitioned out into the workforce with earnings over $50,000, they start to pay back their cost of tuition and stipend. Learners Guild makes money by receiving the cost of tuition, while we put the stipend back in a pool, for other learners to use.
              </p>
              <p>
                Typical starting salaries are $85k-$95k a year. Learners have the option of paying back the loan in installments over a five year period, with an average payment of $500 a month for tuition and an additional $300 if the maximum amount of monthly stipends are used.
              </p>

            </div>
          </div>

          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>What happens if I quit the process before graduating?
            </div>
            <div class="togglec">

              <p>
                It’s in our best interest to see you thrive. We’re very careful to choose applicants who are committed to the process, and if you’re committed to learning, we’re determined to give you all the support you need to finish. In fact, that’s one reason we allow you to take extra time if necessary. That all said, if you opt out, you will still owe the full tuition, and any stipends you’ve received. (On a case-by-case basis, we are willing to pause the program for those who face extenuating circumstances.)
              </p>


            </div>
          </div>

          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>What are the requirements to attend?
            </div>
            <div class="togglec">

                <p>
                    There are a few mandatory requirements to participate in the Learners Guild learning collective. They are an ability to participate full-time, a proficiency with the English language, a minimum age of 21 and previous employment history.
                  </p>
                  <p>
                    Beyond a common desire to become a premium software engineer in a mutually supportive environment ... perhaps first and foremost, all of our learners share a drive to learn and grow. Not just intellectually, but socially and emotionally as well. We expect a minimum level of personal development and maturity.
                  </p>
                  <p>
                    We look for a baseline proficiency in both technical and social-emotional aptitude. It is important to understand that Learners Guild is not designed to support persons who are exploring software engineering for the first time. We are a learning collective that best works for advanced beginners.
                  </p>
                  <p>
                    You should consider yourself fit for Learners Guild if you understand and can demonstrate the following:
                    <ul class="fa-ul">
                      <li><i class="fa-li fa fa-check-square"></i> Algorithmic notions of control flow </li>
                      <li><i class="fa-li fa fa-check-square"></i> Abstraction </li>
                      <li><i class="fa-li fa fa-check-square"></i> Conditional thinking </li>
                      <li><i class="fa-li fa fa-check-square"></i> Problem decomposition </li>
                      <li><i class="fa-li fa fa-check-square"></i> Iterative thinking </li>
                    </ul>
                    If you are familiar with programming and have a crude understanding of it, then you would have used many of these concepts. If you have at least 50 to 100 hours of programming and web development experience under your belt, you will find Learners Guild an appropriate learning collective that will take your skills to another level.
                  </p>
                 <p>
                   Finally, we are excited about you if you have grit, if you are tenacious and understand that deliberate practice and sustained effort is what puts you on the path to success. We don’t care about your SAT scores, or whether or not you finished high-school, what we are interested in is your ability to learn and excitement about the craft of software engineering. If you can prove to us that you are ready to work hard in a learning collective, we would be happy to invest in you!
                </p>
            </div>
          </div>

          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>Who else is going? What kind of folks will I meet?
            </div>
            <div class="togglec">

              <p>
                Other adults like yourself, from a wide range of backgrounds.
              </p>

            </div>
          </div>

        </div>

        <div class="col_half col_last">
          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>Will I end up with a portfolio?
            </div>
            <div class="togglec">

              <p>
                Yes, you’ll have an excellent opportunity to work on projects that will add to your portfolio. Some projects will be smaller, while others will be larger.
              </p>
              <p>
                We’ve designed our learning environment to focus on team-work, so most of the projects are done in teams; however, there will be some opportunities to work on individual projects.
              </p>
              <p>
                We hope by the end of your time at Learners Guild, you will be contributing to open source projects as well as perhaps contributing to our own product codebase.
              </p>

            </div>
          </div>

          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>Do you have an online option?
            </div>
            <div class="togglec">

              <p>
                No. Research shows that learning in a live, group context is accelerated. You learn more, you learn faster, and the depth of your understanding goes deeper.
              </p>


            </div>
          </div>

          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>Isn’t this too good to be true?
            </div>
            <div class="togglec">

              <p>
                You’ll probably never stop asking this question. (We wish we existed when we started our careers.) In fact, it’s our goal that you ask this every day you show up and find yourself learning in ways you never thought possible. We want you to ask this 40 weeks later, when you’ve landed a job you didn’t think you could have. And we want you to ask this 5, 10, and 20 years later… when you’re still in touch, and still getting support from the friends you made at Learners Guild.
              </p>


            </div>
          </div>


          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>Do you help with job placement?
            </div>
            <div class="togglec">

              <p>
                <em>No.</em> We have specifically chosen to not provide job placement services. We made this decision because we want to ensure that <em>you</em> the learner remains our primary client. If we provided job placement services, we believe our attention would be divided between satisfying businesses versus placing our complete focus on satisfying you.
              </p>
              <p>
                We have designed our learning experience around real-life industry ready skills. After six months at Learners Guild, you would have developed a good portfolio of work. Our hope is at that point, you start interviewing for your full-time position. For us, “gaining full-time employment as an engineer” is another skill that you will be developing at Learners Guild. Over your last few months in the program, you will get better and better at this, till the point where <em>you</em> will be the one decided where you will go and further grow your skills.
              </p>

            </div>
          </div>



          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>Do you have a shorter immersion course?
            </div>
            <div class="togglec">

              <p>
                Currently, no. While it’s possible to cover the basics in a shorter course, our goal is to have you walk out with a much deeper skillset than “the basics.” If we find a way to streamline our approach and still produce stellar results, we’ll certainly consider it.
              </p>

            </div>
          </div>

          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>Do I need my own computer ?
            </div>
            <div class="togglec">

              <p>
                No. We will provide you with your own Mac laptop. If after a month of being at Learners Guild you decide we are not the right place for you, you can keep the laptop as our parting gift for you.
              </p>

            </div>
          </div>

          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>Can I visit your collective to check it out?
            </div>
            <div class="togglec">

              <p>
                Not currently. We’re protective of our learners. However, you can meet some of them and our team by showing up at one of our info-sessions.
              </p>

            </div>
          </div>


          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>Will I earn a certificate or degree?
            </div>
            <div class="togglec">

              <p>
                No. Our approach is strictly results oriented. There’s a lot of people with degrees, but no job to match it. It’s a common mistake to confuse a symbol for learning with the actual learning, itself. Learners Guild turns that around: if you don’t end up in a high-paying job, we don’t get paid. Our focus is on getting you ready for the workforce by helping you develop your skills which is demonstrated by your ability to create a portfolio of work.
              </p>


            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
