<section id="section-faqs" class="page-section">
  <div class="container clearfix">
    <div class="row clearfix">
      <div id="faqs" class="faqs">
        <h3>Frequently Asked Questions</h3>

        <p>
          As you can tell, we’re doing things a bit differently. So you’re probably going to have some questions. If you can’t find what you’re looking for, just let us know.
        </p>

        <div class="divider"><i class="icon-circle"></i></div>

        <div class="col_half">
          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>Isn’t “Learning Collective” just a fancy way of saying you’re a school or boot camp?
            </div>
            <div class="togglec">Lorem ipsum</div>
          </div>

          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>Learners-only? Does that mean there aren’t teachers?
            </div>
            <div class="togglec">Lorem ipsum</div>
          </div>

          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>Will we be graded?
            </div>
            <div class="togglec">Lorem ipsum</div>
          </div>

          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>What will we learn?
            </div>
            <div class="togglec">Lorem ipsum</div>
          </div>

          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>A $2,000/mo stipend? Really?
            </div>
            <div class="togglec">Lorem ipsum</div>
          </div>

          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>What does this cost? How does the money work? If you’re investing in me, how do you get paid?
            </div>
            <div class="togglec">Lorem ipsum</div>
          </div>

          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>What happens if I quit the process before graduating?
            </div>
            <div class="togglec">Lorem ipsum</div>
          </div>

          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>Who is this learning environment for? Do I have to have any pre-existing skills?
            </div>
            <div class="togglec">Lorem ipsum</div>
          </div>

          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>Who else is going? What kind of folks will I meet?
            </div>
            <div class="togglec">Lorem ipsum</div>
          </div>

        </div>

        <div class="col_half col_last">
          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>Will I end up with a portfolio?
            </div>
            <div class="togglec">Lorem ipsum</div>
          </div>

          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>What specific skills will I have when I’m done?
            </div>
            <div class="togglec">Lorem ipsum</div>
          </div>

          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>What is the demand like for a Full Stack Developer?
            </div>
            <div class="togglec">Lorem ipsum</div>
          </div>

          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>Do you help with job placement?
            </div>
            <div class="togglec">Lorem ipsum</div>
          </div>

          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>What is the application process?
            </div>
            <div class="togglec">Lorem ipsum</div>
          </div>

          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>Do you have an online option?
            </div>
            <div class="togglec">Lorem ipsum</div>
          </div>

          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>Do you have a shorter immersion course?
            </div>
            <div class="togglec">Lorem ipsum</div>
          </div>

          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>Any recommended reading/resources before I start?
            </div>
            <div class="togglec">Lorem ipsum</div>
          </div>

          <div class="toggle faq">
            <div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>Will I earn a certificate or degree?
            </div>
            <div class="togglec">Lorem ipsum</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
