
<!-- Footer
    ============================================= -->
    <footer id="footer" class="dark">

  <!-- Copyrights
  ============================================= -->
  <div id="copyrights">

    <div class="container clearfix">

      <div class="col_half">
        <img src="images/footer-logo.png" alt="" class="footer-logo">
        <div>
								<address>
									<strong>Headquarters:</strong><br>
									248 3rd Street #403 <br>
									Oakland, CA, 94607<br>
								</address>
				</div>
      </div>

      <div class="col_half col_last tright">
        <div class="copyrights-menu copyright-links fright clearfix">
          <a href="index.html">Home</a>/<a href="index.html#section-about" >About</a>/<a href="index.html#section-faqs">FAQs</a>/<a href="index.html#section-contact">Contact</a>
          /<a href="teampage.html">Team</a>
          <br>
          Copyrights &copy; 2016 All Rights Reserved by Learners Guild Inc.
        </div>

      </div>

    </div>

  </div><!-- #copyrights end -->

</footer><!-- #footer end -->

<!-- External JavaScripts
============================================= -->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/plugins.js"></script>
