<footer class="row">
  <div class="footer-primary col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 row">
    <div class="footer-logo footer-containers col-sm-4 col-md-3 col-lg-4">
      <img src="/images/LogoHorizontalBW_whiteLetters.png">
    </div>
    <div class="footer-containers col-sm-4 col-md-4 col-lg-4">
      <h5>CONTACT US</h5>
      <div class="contact-us-line"></div>
      <p>general inquiries: <a href="mailto:info@learnersguild.org">info@learnersguild.org</a></p>
      <p>applicants: <a href="mailto:enrollment@learnersguild.org">enrollment@learnersguild.org</a></p>
      <p>partnerships: <a href="mailto:info@learnersguild.org">info@learnersguild.org</a></p>
      <p class="address">492 Ninth Street (Garden Level)</p>
      <p>Oakland, CA 94607</p>
    </div>
    <div class="footer-containers col-sm-4 col-md-4 col-lg-4">
      <h5>FOLLOW US</h5>
      <div class="follow-us-line"></div>
      <a href="https://www.facebook.com/LearnersGuild/" target="_blank"><i class="fa fa-lg fa-facebook fa-2x" aria-hidden="true"></i></a>
      <a href="https://twitter.com/learnersguildus" target="_blank"><i class="fa fa-lg fa-twitter fa-2x" aria-hidden="true"></i></a>
      <a href="" target="_blank"><i class="fa fa-lg fa-linkedin fa-2x" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="footer-secondary col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
    Copyrights © 2016-2017 All Rights Reserved by Learners Guild Ltd. Public Benefit Corporation.
  </div>

</footer>

{% if page.url == "/new-application.html" %}
  <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1539916759636226');
    fbq('track', 'ViewContent');
  </script>
  <noscript>
    <img height="1" width="1" style="display:none"src="https://www.facebook.com/tr?id=1539916759636226&ev=PageView&noscript=1"/>
  </noscript>

{% else %}
  <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','//connect.facebook.net/en_US/fbevents.js');
    fbq('init', '769632966504023');
    fbq('track', "PageView");
  </script>
  <noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=769632966504023&ev=PageView&noscript=1"/>
  </noscript>
{% endif %}


<!-- Start of Async HubSpot Analytics Code -->
 <script type="text/javascript">
   (function(d,s,i,r) {
     if (d.getElementById(i)){return;}
     var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
     n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/2144508.js';
     e.parentNode.insertBefore(n, e);
   })(document,"script","hs-analytics",300000);
 </script>
<!-- end Async HubSpot Analytics Code -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="scripts/jquery.touchSwipe.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="scripts/app.js"></script>
