
<!-- Footer
    ============================================= -->
    <footer id="footer" class="dark">

  <!-- Copyrights
  ============================================= -->
  <div id="copyrights">

    <div class="container clearfix">

      <div class="col_half">
        <img src="images/footer-logo.png" alt="" class="footer-logo">


      </div>

      <div class="col_half col_last tright">
        <div class="copyrights-menu copyright-links fright clearfix">
          <a href="#">Home</a>/<a href="#" >About</a>/<a href="#">FAQs</a>/<a href="#"  >Contact</a>
          <br>
          Copyrights &copy; 2016 All Rights Reserved by Learners Guild Inc.
        </div>

      </div>

    </div>

  </div><!-- #copyrights end -->

</footer><!-- #footer end -->
