<div class="guild-tracker">
  <div class="container">
      <div class="guild-tracker__header">
        <h1>Your Path to Becoming a Web Developer</h1>
        <p>At Learners Guild, technical development is divided into sequential learning phases. You can progress through the program as fast as you’d like, but each phase is a maximum of eight (8) weeks long.  In each phase you acquire new skills, put them into practice and then demonstrate your proficiency as you interview for the next phase.  The interviews are structured like tech job interviews, so by the time you make it through program, you’ll gain the confidence you need to land that first job.</p>
      </div>
      <div class="table-responsive">
          <table id="table-path" class="table table-bordered">
              <thead>
                  <tr>
                      <th>Week</th>
                      <th>1<br/>2</th>
                      <th>3<br/>4</th>
                      <th>5<br/>6</th>
                      <th>7<br/>8</th>
                      <th>9<br/>10</th>
                      <th>11<br/>12</th>
                      <th>13<br/>14</th>
                      <th>15<br/>16</th>
                      <th>17<br/>18</th>
                      <th>19<br/>20</th>
                      <th>21<br/>22</th>
                      <th>23<br/>24</th>
                      <th>25<br/>26</th>
                      <th>27<br/>28</th>
                      <th>29<br/>30</th>
                      <th>31<br/>32</th>
                      <th>33<br/>34</th>
                      <th>35<br/>36</th>
                      <th>37<br/>38</th>
                      <th>39<br/>40</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td style="background-color: #4853a1">Phase 1</td>
                      <td style="background-color: #4853a1;  border-style: dotted;" colspan=3>Programming Fundamentals</td>
                      <td class="small-font" style="background-color: #4853a1; border-style: dotted;">Coding challenge and interview</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
                  <tr>
                      <td style="background-color: #03a6e0">Phase 2</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td colspan=3 style="background-color: #03a6e0; border-style: dotted;">Web Development Fundamentals</td>
                      <td class="small-font" style="background-color: #03a6e0; border-style: dotted;">Coding challenge and interview</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
                  <tr>
                      <td style="background-color: #f3bb17">Phase 3</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td colspan=3 style="background-color: #f3bb17; border-style: dotted;">Full Stack Projects</td>
                      <td class="small-font" style="background-color: #f3bb17; border-style: dotted;">Coding challenge and interview</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
                  <tr>
                      <td style="background-color: #ef3f61">Phase 4</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td colspan=4 style="background-color: #ef3f61">Apprenticeship</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
                  <tr>
                      <td style="background-color: #98ca3c">Phase 5</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td colspan=4 style="background-color: #98ca3c">Career Prep</td>
                  </tr>
              </tbody>
          </table>
      </div>
      
      <div class="guild-tracker__header">
        <p>Phases 1 and 2 build foundational skills similar to a <strong>bootcamp</strong>; Phases 3 and 4 apply those skills on practice and live deployment projects under the <strong>apprenticeship</strong> of a professional software developer. Phase 5 focuses on <strong>career prep</strong>, gaining the specific skills and practices needed to be competitive in the job market.</p>
      </div>
      <div class="table-responsive">
          <table id="table-phases" class="table table-bordered" style="border: none">
              <thead>
                  <tr>
                      <th style="width: 30px; background-color: transparent; border: none;"></th>
                      <th class="col-xs-3">Phase</th>
                      <th>Focus</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td rowspan=2 class="text-rotate" style="background-color: #919191; width: 30px;"><div class="vertical-text vertical-text-1"><span>Bootcamp</span></div></td>
                      <td style="background-color: #4853a1">Programming Fundamentals</td>
                      <td rowspan=2 class="text-larger" style="color: #333;">Get solid on the basics. You will mostly work individually and self-paced. Focus is on foundational skills, mastery and independent problem solving skills.</td>
                  </tr>
                  <tr>
                      <td style="background-color: #03a6e0">Web Development Fundamentals</td>
                  </tr>
                  <tr>
                      <td rowspan=2 class="text-rotate" style="background-color: #6c6c6c; width: 30px;"><div class="vertical-text vertical-text-2"><span>Apprenticeship</span></div></td>
                      <td style="background-color: #f3bb17">Full Stack Projects</td>
                      <td class="text-larger" style="color: #333;">Put your skills into practice. Start pair programming, working on weekly project cycles. Focus is on full stack skills application, working in team and shipping code.</td>
                  </tr>
                  <tr>
                      <td style="background-color: #ef3f61">Apprenticeship</td>
                      <td class="text-larger" style="color: #333;">Real world coding. Now you are working on a team with a professional developer. Focus is on gaining experience with real world problem solving, larger code bases and live users.</td>
                  </tr>
                  <tr>
                      <td class="text-rotate" style="background-color: #323232; width: 30px;"><div class="vertical-text vertical-text-3"><span>Career</span></div></td>
                      <td style="background-color: #98ca3c">Career Prep</td>
                      <td class="text-larger" style="color: #333;">Launching your career. Getting ready to enter the job market. Focus is on networking, job prospecting, technical interview practice, resume and online presence development, nailing that first job offer.</td>
                  </tr>
              </tbody>
          </table>
      </div>
   </div>
</div>