

<!-- Header
============================================= -->
<header id="header" class="transparent-header dark full-header" data-sticky-class="not-dark">

  <div id="header-wrap">

    <div class="container clearfix hidden-xs">

      <!-- Logo
      ============================================= -->
      <div id="logo">
        <a href="/" class="standard-logo" data-dark-logo="/images/thelogo.png"><img src="https://brand.learnersguild.org/assets/learners-guild-logo-dark-grey-250x149.png" alt="Canvas Logo"></a>
        <a href="/" class="retina-logo" data-dark-logo="/images/thelogo.png"><img src="https://brand.learnersguild.org/assets/learners-guild-logo-dark-grey-250x149.png" alt="Canvas Logo"></a>
      </div><!-- #logo end -->

      {% include nav.html %}

    </div>

    <div class="clearfix visible-xs">
      <div id="primary-menu-trigger" class="hamburger hamburger--stand">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>

      <!-- Logo
      ============================================= -->
      <div id="logo">
        <a href="/" class="standard-logo" data-dark-logo="https://brand.learnersguild.org/assets/learners-guild-logo-dark-grey-250x149.png"><img src="https://brand.learnersguild.org/assets/learners-guild-logo-dark-grey-250x149.png" alt="Canvas Logo"></a>
        <a href="/" class="retina-logo" data-dark-logo="https://brand.learnersguild.org/assets/learners-guild-logo-dark-grey-250x149.png"><img src="https://brand.learnersguild.org/assets/learners-guild-logo-dark-grey-250x149.png" alt="Canvas Logo"></a>
      </div><!-- #logo end -->

      {% include nav.html %}
    </div>

  </div>

</header><!-- #header end -->
