<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="A Learning Collective" />

  <link href="https://fonts.googleapis.com/css?family=Lato:200,300,400italic,600,700|Raleway:200,300,400,500,600|Crete+Round:400italic" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />

  <link rel="stylesheet" href="/style.min.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/faq.css" type="text/css" />

  {% if page.url == "/community-advancing-diversity-in-tech-and-winning-together.html" %}
  <meta property="og:type" content="article" />
  <meta property="og:image" content="https://www.learnersguild.org/images/advancing-image.jpg">
  <meta property="og:title" content="Advancing Diversity in Tech and Winning Together">
  <meta property="og:description" content="Learner’s Guild’s Field Trip To Slack">
  {% elsif page.url == "/community-no-tuition-until-you-land-a-job.html" %}
  <meta property="og:type" content="article" />
  <meta property="og:image" content="https://www.learnersguild.org/images/Learners-guild-800x533.jpg">
  <meta property="og:title" content="No Tuition Until You Land a Job">
  <meta property="og:description" content="Oakland Coding School's New Pay Model: No Tuition Until You Land a Job">
  {% elsif page.url == "/community-goodbye-to-learners-guild.html" %}
  <meta property="og:type" content="article" />
  <meta property="og:image" content="https://www.learnersguild.org/images/goodbye-image.jpeg">
  <meta property="og:title" content="A Goodbye to Learners Guild">
  <meta property="og:description" content="For the past 4 months, I have been in an intensive software engineering apprenticeship program called Learner’s Guild in Oakland, CA.">
  {% elsif page.url == "/community-shereef-bishay-profile.html" %}
  <meta property="og:type" content="article" />
  <meta property="og:image" content="https://www.learnersguild.org/images/social-media-img.jpg">
  <meta property="og:title" content="Learners Guild Profile: Shereef Bishay">
  <meta property="og:description" content="Shereef Bishay, the founder of the influential code school Dev Bootcamp, realized that in becoming successful, his business had strayed far from his own social mission. It was time to try again.">
  {% elsif page.url == "/community-meet-the-members.html" %}
  <meta property="og:type" content="article" />
  <meta property="og:image" content="https://www.learnersguild.org/images/newres/hp2.png">
  <meta property="og:title" content="Week in the Life at Learners Guild">
  <meta property="og:description" content="People often ask, &ldquo;What's a day like at the Guild?&rdquo; Well, instead of just telling what a day is like, we thought we'd go ahead and show what a whole week is like.">
  {% elsif page.url == "/community-ana-sauceda-why-culture-matters.html" %}
  <meta property="og:type" content="article" />
  <meta property="og:image" content="https://www.learnersguild.org/images/newres/hp2.png">
  <meta property="og:title" content="Why Culture Matters at Learners Guild">
  <meta property="og:description" content="Learners Guild creates space and provides tools for the immense amount of unlearning most of us must go through and struggle with while going through this life-changing program.">
  {% elsif page.url == "/community-silicon-valley-investors-offer-10m-to-boost-diversity-in-tech.html" %}
  <meta property="og:type" content="article" />
  <meta property="og:image" content="https://www.learnersguild.org/images/social-media-img.jpg">
  <meta property="og:title" content="Investors Give $10M to Boost Diversity in Tech">
  <meta property="og:description" content="At a time when Silicon Valley is on the receiving end of criticism for lack of diversity and a tech-bro culture, one coalition of investors is putting its money where its mouth is.">
  {% elsif page.url == "/community-filling-software-engineering-jobs-one-cohort-at-a-time.html" %}
  <meta property="og:type" content="article" />
  <meta property="og:image" content="https://www.learnersguild.org/images/engineering-jobs.jpeg">
  <meta property="og:title" content="Filling Engineering Jobs One Cohort at a Time">
  <meta property="og:description" content="The products, services, and business models of higher education today aren’t serving their primary customer: students looking to develop resilient skills that will lead to fulfilling, financially-viable work.">
  {% else %}
  <meta property="og:image" content="https://www.learnersguild.org/images/social-media-img.jpg">
  <meta property="og:image:url" content="https://www.learnersguild.org/images/social-media-img.jpg">
  <meta property="og:image:secure_url" content="https://www.learnersguild.org/images/social-media-img.jpg">
  {% endif %}
  

  <!-- favicon -->
  <link rel="icon" type="image/png" sizes="192x192" href="https://brand.learnersguild.org/android-chrome-192x192.png">
  <link rel="manifest" href="https://brand.learnersguild.org/manifest.json">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" sizes="114x114" href="https://brand.learnersguild.org/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://brand.learnersguild.org/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://brand.learnersguild.org/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://brand.learnersguild.org/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://brand.learnersguild.org/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="57x57" href="https://brand.learnersguild.org/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://brand.learnersguild.org/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://brand.learnersguild.org/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://brand.learnersguild.org/apple-touch-icon-76x76.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="icon" type="image/png" sizes="16x16" href="https://brand.learnersguild.org/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="230x230" href="https://brand.learnersguild.org/favicon-230x230.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://brand.learnersguild.org/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://brand.learnersguild.org/favicon-96x96.png">
  <link rel="shortcut icon" href="https://brand.learnersguild.org/favicon.ico">
  <meta property="twitter:image" content="https://brand.learnersguild.org/twitter.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="https://brand.learnersguild.org/mstile-144x144.png">
  <meta name="msapplication-config" content="https://brand.learnersguild.org/browserconfig.xml">
  <link rel="yandex-tableau-widget" href="https://brand.learnersguild.org/yandex-browser-manifest.json">
  <meta property="og:image" content="https://brand.learnersguild.org/open-graph.png">
  <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)" href="https://brand.learnersguild.org/apple-touch-startup-image-1024x748.png">
  <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" href="https://brand.learnersguild.org/apple-touch-startup-image-1536x2008.png">
  <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" href="https://brand.learnersguild.org/apple-touch-startup-image-2048x1496.png">
  <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" href="https://brand.learnersguild.org/apple-touch-startup-image-320x460.png">
  <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" href="https://brand.learnersguild.org/apple-touch-startup-image-640x1096.png">
  <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" href="https://brand.learnersguild.org/apple-touch-startup-image-640x920.png">
  <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)" href="https://brand.learnersguild.org/apple-touch-startup-image-768x1004.png">

  {% if page.url == "/" %}
    <meta name="description" content="Learner's Guild: The alternative to college for aspiring software developers">
    <meta name="keywords" content="learners guild, learner's guild, software developer, become a software developer, alternative to college, become a web developer, Oakland, CA">
  {% elsif page.url == "/faq.html" %}
    <meta name="description" content="Learners Guild frequently asked questions. Everything you wanted to know but were afraid to ask.">
    <meta name="keywords" content="learners guild, learner's guild, frequently asked questions, faq, software developer, become a software developer, alternative to college, become a web developer, Oakland, CA">
  {% elsif page.url == "/program.html" %}
    <meta name="description" content="Learners Guild Program: Learn by working on real world problems in an optimal learning environment to become the best software developer.">
    <meta name="keywords" content="learners guild, learner's guild, learners guild program, learning environment, software developer, become a software developer, alternative to college, become a web developer, Oakland, CA">
  {% elsif page.url == "/apply.html" %}
    <meta name="description" content="Are you ready to apply to Learners Guild? Check the eligibility requirements and our enrollment process.">
    <meta name="keywords" content="learners guild, learner's guild, apply, apply to learners guild, eligibility requirements, enroll software developer, become a software developer, alternative to college, become a web developer, Oakland, CA">
  {% elsif page.url == "/about.html" %}
    <meta name="description" content="About Learners Guild. Everything you wanted to know but were afraid to ask.">
    <meta name="keywords" content="learners guild, learner's guild, about us, team, learners guild team, software developer, become a software developer, alternative to college, become a web developer, Oakland, CA">
  {% endif %}

  <!-- Document Title -->
  <title>
    {% if page.url == '/' %}
      Learners Guild - The Alternative to College for Aspiring Software Developers
    {% elsif page.url == '/faq.html' %}
      Learners Guild - Frequently Asked Questions
    {% elsif page.url == '/apply.html' %}
      Learners Guild - How to Apply
    {% elsif page.url == '/program.html' %}
      Learners Guild - Program Details
    {% elsif page.url == '/about.html' %}
      Learners Guild - About Us
      {% endif %}
  </title>

</head>
