<div id="home-carousel">
    <div class="carousel slide homepage" data-ride="carousel" id="myCarousel">
      <div class="carousel-inner homepage" role="listbox">
        <div class="item active homepage-carousel_pic1" style="background: url('/images/homeSplash1.jpg') no-repeat 100% center; background-size: cover;">
          <div class="carousel-caption hidden-xs">
            <h3>Learn to code.</h3>
            <p>Pay us only when you get a high-paying job.</p><a href="https://enroll.learnersguild.org"><button class="btn home-page_button btn-round-lg btn-lg round noSwipe" id="homepagebutton" type="button">Learn More</button></a>
          </div>
          <div class="carousel-caption visible-xs">
            <h3>Learn to code.</h3>
            <p>Pay us only when you get a high-paying job.</p><a href="https://enroll.learnersguild.org"><button class="btn home-page_button btn-round-lg btn-lg round noSwipe" id="homepagebutton" type="button">Learn More</button></a>
          </div>
        </div>
        <div class="item homepage-carousel_pic2" style="background: url('/images/homeSplash2.jpg') no-repeat 100% center; background-size: cover;">
          <div class="carousel-caption">
            <h3>Learn in a diverse environment.</h3>
            <p>Build a professional network of developers from diverse backgrounds.</p></a>
          </div>
        </div>
        <div class="item homepage-carousel_pic3" style="background: url('/images/homeSplash3.jpg') no-repeat 100% center; background-size: cover;">
          <div class="carousel-caption">
            <h3>Learn by Apprenticeship.</h3>
            <p>Work on self-directed projects and development teams for live systems with the mentorship of senior engineers.</p><a href="#learning-model"><button class="btn home-page_button btn-round-lg btn-lg round noSwipe" id="homepagebutton" type="button">Learn about our learning model</button></a>
          </div>
        </div>
        <div class="item homepage-carousel_pic4" style="background: url('/images/homeSplash4.jpg') no-repeat 100% center; background-size: cover;">
          <div class="carousel-caption">
            <h3>Learn to increase your emotional intelligence.</h3>
            <p>Develop the skills that help you manage high pressure situations and effectively collaborate with others through our social and emotional learning curriculum.</p>
          </div>
        </div>
      </div>
      <div>
        <ol class="carousel-indicators carousel1">
          <li class="active" data-slide-to="0" data-target="#myCarousel"></li>
          <li class="" data-slide-to="1" data-target="#myCarousel"></li>
          <li class="" data-slide-to="2" data-target="#myCarousel"></li>
          <li class="" data-slide-to="3" data-target="#myCarousel"></li>
        </ol><a class="left carousel-control" data-slide="prev" href="#myCarousel" id="myCarousel1" role="button"><img src="/images/arrow-left.png" alt="move left" class="arrow-controls left-control"> <span class="sr-only">Previous</span></a> <a class="right carousel-control" data-slide="next" href="#myCarousel" id="myCarousel1" role="button"><img src="/images/arrow-right.png" alt="move right" class="arrow-controls right-control"> <span class="sr-only">Next</span></a>
      </div>
    </div>
</div>