<div id="home-carousel">
    <div class="carousel slide homepage" data-ride="carousel" id="myCarousel">
      <div class="carousel-inner homepage" role="listbox">
        <div class="item active homepage-carousel_pic1" style="background: url('/images/homeSplash1.png') no-repeat 100% center; background-size: cover;">
          <div class="carousel-caption hidden-xs">
            <h3>Learn to code.</h3>
            <h3>Get paid while you do it.</h3>
            <p>Pay us only when you get a high-paying job.</p><a href="https://enroll.learnersguild.org"><button class="btn home-page_button btn-round-lg btn-lg round noSwipe" id="homepagebutton" type="button">See if I qualify</button></a>
          </div>
          <div class="carousel-caption visible-xs">
            <h3>Learn to code. <br>Get paid while you do it.</h3>
            <p>Pay us only when you get a high-paying job.</p><a href="https://enroll.learnersguild.org"><button class="btn home-page_button btn-round-lg btn-lg round noSwipe" id="homepagebutton" type="button">See if I qualify</button></a>
          </div>
        </div>
        <div class="item homepage-carousel_pic2" style="background: url('/images/homeSplash2.png') no-repeat 100% center; background-size: cover;">
          <div class="carousel-caption">
            <h3>Learn in an environment of trust and teamwork.</h3>
            <p>Get rigorous training without shark tank competition.</p><a href="/community"><button class="btn home-page_button btn-round-lg btn-lg round noSwipe" id="homepagebutton" type="button">Learn more about community</button></a>
          </div>
        </div>
        <div class="item homepage-carousel_pic3" style="background: url('/images/homeSplash3.png') no-repeat 100% center; background-size: cover;">
          <div class="carousel-caption">
            <h3>Learn by Apprenticeship.</h3>
            <p>Learn the basics. Hone your skills working with professional developers. Land an awesome job.</p><a href="/howitworks"><button class="btn home-page_button btn-round-lg btn-lg round noSwipe" id="homepagebutton" type="button">Learn about our learning model</button></a>
          </div>
        </div>
      </div>
      <div>
        <ol class="carousel-indicators carousel1">
          <li class="active" data-slide-to="0" data-target="#myCarousel"></li>
          <li class="" data-slide-to="1" data-target="#myCarousel"></li>
          <li class="" data-slide-to="2" data-target="#myCarousel"></li>
        </ol><a class="left carousel-control" data-slide="prev" href="#myCarousel" id="myCarousel1" role="button"><img src="/images/arrow-left.png" alt="move left" class="arrow-controls left-control"> <span class="sr-only">Previous</span></a> <a class="right carousel-control" data-slide="next" href="#myCarousel" id="myCarousel1" role="button"><img src="/images/arrow-right.png" alt="move right" class="arrow-controls right-control"> <span class="sr-only">Next</span></a>
      </div>
    </div>
</div>