
<!-- Page Title
============================================= -->

<!-- Page Title
============================================= -->

<section id="page-title" class="page-title-parallax page-title-dark" style="padding: 250px 0 100px; background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url('images/founder.jpg'); background-size: cover;" data-stellar-background-ratio="0.4" data-stellar-vertical-offset="0">

  <div class="container clearfix">
    <h1>Schedule an online video chat</h1>
    <span>Meet us. Find out more about the program. Get your questions answered.</span>
    <Br><br>
    <div class="down-image text-center">
      <img src="images/scroll-down.png" alt="Scroll Down">
    </div>
</section><!-- #page-title end -->
