<div id="learning-model" class="learning-model" style="background: url('/images/newres/hp2.png') no-repeat 0 center; background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-left">
        <h1>Our program</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 text-center">
        <img src="../images/LogoCircleOnlyWhite.png" alt="">
      </div>
      <div class="col-sm-9 text-left">
        <h3>A succcessful career takes more than technical skill</h3>
        <p>Build self-leadership and grow into a highly effective developer in our integrated social-emotional intelligence, meta-learning, and career development workshops.</p>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <hr>
        </div>
      </div>
      <div class="col-sm-3 text-left">
        <h2>The Technical Program</h2>
      </div>
      <div class="col-sm-4 text-left">
        <p class="first-p">Our technical learning program has two phases that follow the arc of your growth as a web developer.</p>
        <p>Refine foundational web development skills on collaborative full stack projects.</p>
        <p>Then apprentice under experienced engineers on live systems, or self-direct your own project with a team of leaders and expert guidance.</p>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-4 text-left">
        <h2>Practice</h2>
        <p>Work on full stack projects<br>Develop best practices<br>Get pair programming training</p>
        <h2>Apprenticeship</h2>
        <p>Develop and deploy live systems under the apprenticeship of senior engineers</p>
      </div>
    </div>
  </div>
</div>