<!-- Primary Navigation
============================================= -->
<nav id="primary-menu">

  <ul>
    <li><a href="/" ><div>Home</div></a></li>
    <li><a href="program.html"><div>Program</div></a></li>
    <li><a href="faq.html"><div>FAQs</div></a></li>
    <li><a href="about.html"><div>About Us</div></a></li>
    <li><a href="apply.html"><div>Apply</div></a></li>
    <!-- <li><a href="mailto:info@learnersguild.org"><div>Contact</div></a></li> -->

  </ul>

  <!-- <button id="open-popup">Subscribe to our mailing list</button> -->

</nav><!-- #primary-menu end -->
