<!-- Primary Navigation
============================================= -->
<nav id="primary-menu">

  <ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1500">
    <li><a href="#" data-href="#section-apply"><div>Apply</div></a></li>
    <li><a href="#" data-href="#section-about"><div>About</div></a></li>
    <li><a href="#" data-href="#section-faqs"><div>FAQs</div></a></li>
    <li><a href="#" data-href="#section-contact"><div>Contact</div></a></li>
  </ul>

</nav><!-- #primary-menu end -->
