<!-- Primary Navigation
============================================= -->
<nav id="primary-menu">

  <ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1500">
    <li><a href="index.html#section-about" ><div>About</div></a></li>
    <li><a href="http://eepurl.com/bUCyhT"><div>Apply</div></a></li>
    <li><a href="index.html#section-faqs"><div>FAQs</div></a></li>
    <li><a href="index.html#section-contact"><div>Contact</div></a></li>
    <li><a href="teampage.html"><div>Team</div></a></li>
  </ul>

</nav><!-- #primary-menu end -->
