<header id="header" class="transparent-header dark full-header" data-sticky-class="not-dark">
  
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/"><img src="/images/LogoPrimary.png" alt="Learner's Guild Logo" class="LG-logo"></a>
      <a href="/"><img src="/images/LogoCircleOnly.png" alt="Learner's Guild Logo" class="circle-logo"></a>
      <a href="apply.htm"><div class="nav-apply-pill pull-right">APPLY NOW</div></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">HOME</a></li>
        <li><a href="howitworks.html">THE GUILD</a></li>
        <li><a href="community.html">COMMUNITY</a></li>
        <li><a href="impact.html">IMPACT</a></li>
        <li><a href="faq.html">FAQ</a></li>
        <li><a href="about.html">ABOUT</a></li>
      </ul>
    </div>
  </nav>
</header>
