<header id="header" class="transparent-header dark full-header" data-sticky-class="not-dark">
  <nav class="navbar navbar-default navbar-fixed-top">

    <div class="navbar-header">
      <a href="/"><img src="/images/theLogo.png" alt="Learner's Guild Logo"></a>
      <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/"><div>Home</div></a></li>
        <li><a href="program.html"><div>Program</div></a></li>
        <li><a href="faq.html"><div>FAQ</div></a></li>
        <li><a href="about.html"><div>About</div></a></li>
        <li><a href="apply.html"><div>Apply</div></a></li>
      </ul>
    </div>

  </nav>
</header>