<header id="header" class="transparent-header dark full-header" data-sticky-class="not-dark">
  <div id="header-wrap">
    <div class="container clearfix hidden-xs hidden-sm">

      <div id="nav-logo">
        <a href="/" class="standard-logo" data-dark-logo="/images/theLogo.png"><img src="/images/theLogo.png" alt="Learner's Guild Logo"></a>
      </div>
      {% include navDropdown.html %}
    </div>

    <div class="clearfix visible-xs visible-sm">
      <div id="primary-menu-trigger" class="hamburger hamburger--stand">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>

      <div id="nav-logo-phone">
        <a href="/" class="standard-logo" data-dark-logo="/images/theLogo.png"><img src="/images/theLogo.png" alt="Learner's Guild Logo"></a>
      </div>
      {% include navDropdown.html %}
    </div>
  </div>
</header>