<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

    <p class="lead">
      This Privacy Policy describes Learners Guild’s practices regarding the collection, use and disclosure of the information we collect from and about you when you use Learners Guild’s web-site. We take our obligations regarding your privacy seriously and have made every effort to draft this Privacy Policy in a manner that is clear and easy for you to understand. By accessing our website, you agree to this Privacy Policy.
    </p>

    <p class="lead">
      We use your information to periodically reach out to you to ask how we can better serve you.
    </p>
    </div>

  </div>

</section>
<!-- #content end -->
