
<!-- Page Title
============================================= -->
<section id="page-title" class="page-title-parallax page-title-dark" style="padding: 250px 0; background-image: url('images/apply-hero.jpg'); background-size: cover; background-position: center center;" data-stellar-background-ratio="0.4" data-stellar-vertical-offset="-50">

  <div class="container clearfix">
    <h1>Our Program</h1>
    <span>Learn by working on real world problems in an optimal learning environment</span>
  </div>

  <!-- scroll down arrow image -->
  <div class="down-image text-center">
    <img src="images/scroll-down.png" alt="Scroll Down">
  </div>

</section><!-- #page-title end -->
