
<!-- Page Title
============================================= -->
<section id="page-title" class="page-title-parallax page-title-dark" style="padding: 250px 0; background-image: url('images/computer.jpg'); background-size: cover; background-position: center center;" data-stellar-background-ratio="0.4">

  <div class="container clearfix">
    <h1>Our Program</h1>
    <span>Learn by working on real world problems in an optimal learning environment</span>
  </div>

</section><!-- #page-title end -->
