<div class="container clearfix">

<div id="section-specs" class="heading-block title-center page-section">
  <h2>Learn by doing</h2>
<span>No tests, no grades, no cookie-cutter curriculum</span>

</div>

<div id="side-navigation">

  <div class="col_one_third">

    <ul class="sidenav">
      <li class="ui-tabs-active"><a href="#snav-content1"><i class="icon-users"></i>Collective Learning<i class="icon-chevron-right"></i></a></li>
      <li><a href="#snav-content2"><i class="icon-money"></i>Risk-Free. No Upfront Cost.<i class="icon-chevron-right"></i></a></li>
      <li><a href="#snav-content3"><i class="icon-adjust"></i>Accessible &amp Inclusive<i class="icon-chevron-right"></i></a></li>
      <li><a href="#snav-content4"><i class="icon-tint"></i>Cognitive Apprenticeship<i class="icon-chevron-right"></i></a></li>
      <li><a href="#snav-content5"><i class="icon-time"></i>Balanced Hours<i class="icon-chevron-right"></i></a></li>
      <li><a href="#snav-content6"><i class="icon-magic"></i>Life Long Learning<i class="icon-chevron-right"></i></a></li>
    </ul>

  </div>

  <div class="col_two_third col_last">

    <div id="snav-content1">
      <h3>Collective Learning.</h3>
          <p class="lead">
            Learners Guild is a supportive, collective, environment that is designed around cognitive apprenticeship. We help people do whatever it takes to become ready for a career in web development. This includes learning at least one formal programming language (JavaScript), and a host of other tools and technologies.
          </p>
          <p class="lead">
            We stagger our sessions so you learn new skills from others who are a few months ahead, and you master your technique by mentoring those just a few months behind.  In this type of collaborative environment, you will not only build world-class learning aptitude and skills, but also make new friends for life.
          </p>

    </div>

    <div id="snav-content2">
      <h3>No Upfront Cost. No Debt. No Risk</h3>
      <p class="lead">It's a simple proposition: if you don’t get a high-paying job, we don’t get paid. Period. Bring your dedication and passion, and we will invest in you.</p>
      <p class="lead">If you can’t imagine taking 10 months off of work, we offer an optional $1,500 monthly living allowance to bridge the gap. (We understand. It’s hard to focus on learning if you’re also struggling to cover the bills.) After the program, If you graduate and don’t earn at least a geographically-appropriate salary, you owe us nothing.</p>
    </div>


    <div id="snav-content3">
      <h3>Accessible &amp Inclusive</h3>
      <p class="lead">Everyone is welcome at Learners Guild. We especially encourage historically underrepresented groups in software engineering--people of color, women, LGBTQ individuals, persons with disabilities, and veterans--to consider joining us.</p>
    </div>

    <div id="snav-content4">
      <h3>Cognitive Apprenticeship</h3>
          <p class="lead">We don't believe in one-size-fits-all learning.</p>
					<p class="lead">If you're looking for a set curriculum like the one you would find at a school or bootcamp, you won't find it at Learners Guild</p>
					<p class="lead">We believe the best answer to "what should I learn?" is "whatever the most skilled people around you know." So <strong>we've created a learning collective--a learners-only apprenticeship program.</strong></p>
					<p class="lead">You'll be learning skills and receiving guidance from full-stack JavaScript web developers--some of whom are pioneers in the tech world. And within 10 weeks of the program, <strong>you'll act as a mentor to a newer cohort of learners</strong>, guiding them as they encounter concepts that you've recently mastered.</p>
    </div>

    <div id="snav-content5">
      <h3>Balanced Hours. Have a life outside of learning.</h3>
      <p class="lead">We meet every weekday from 8:30am - 6:00pm.</p>
      <p class="lead">You shouldn’t have to sacrifice all of your free time or your family’s well-being while getting an immersive education. At Learners Guild, you’ll have time to spend with your family and friends so you can return the next day refreshed and ready to learn.</p>
    </div>

    <div id="snav-content6">
      <h3>Life Long Learning</h3>
      <p class="lead">
        With the help of our expert learning facilitators you will learn not only how to be a great junior engineer but, more importantly, how to be a great learner. We believe a successful career is defined by an open mindset, well-honed collaboration skills, social and emotional intelligence, and an ability to adapt and learn. We know that technologies will keep advancing and changing, so learning how to learn is the most valuable skill for software engineers (and also for life).
      </p>
    </div>



  </div>

</div>

<script>
  $(function() {
  $( "#side-navigation" ).tabs({ show: { effect: "fade", duration: 400 } });
  });
</script>

</div>
