	<!-- Content
	============================================= -->

<div id="wrapper" class="clearfix">
	<section id="content">

		<section id="landing-video" style="padding: 80px 0;">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<h2 class="text-center">Why Learners Guild?</h2>
						<h3 class="text-center">Shereef Bishay, founder of Dev Bootcamp <br class="hidden-xs" />and Learners Guild explains.</h3>
						<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_vpld4j6fjs popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
					</div>
				</div>
			</div>
		</section>

		<style>
			#wistia_19_socialbar .socialbar_button {
				display: none !important;
			}

		</style>

		<div id="section-home" class="page-section">
			<div class="container clearfix">
				<h2 class="divcenter font-body center" style="max-width: 700px; font-size: 40px; margin-bottom: 0;">If You're Passionate About Software Development, Come Learn With Us.</h2>

				<div id="slider-services" class="owl-carousel carousel-widget" data-margin="20" data-loop="true" data-nav="false" data-pagi="true" data-autoplay="4000" data-speed="800" data-items-xs="1"  data-items-sm="1" data-items-lg="1">

					<div class="intro-services center col-padding" style="padding-top:10px;">
						<div class="circle-wrap">
							<i class="i-plain color i-xlarge icon-ok-sign inline-block" style="margin-bottom: 15px;"></i>
						</div>
						<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
							<h4 style="margin-bottom: 15px;">You Pay Us When You Get Paid.</h4>
							<p class="text-muted">What's the catch? There is no catch. As part of an Income Sharing Agreement, no more than 20% of your first three years' salary will go to paying for your Learners Guild education. As a Public Benefit Corporation, we want our success to be tied to your success.</p>
						</div>
						<div><a href="#" data-remodal-target="modal" data-offset="70" class="button button-dark button-rounded button-small t600" onClick="goog_report_conversion();">Request Application</a></div>
					</div>

					<div class="intro-services center col-padding" style="padding-top:10px;">
						<div class="circle-wrap">
							<i class="i-plain color i-xlarge icon-calendar inline-block" style="margin-bottom: 15px;"></i>
						</div>
						<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
							<h4 style="margin-bottom: 15px;">Countdown to a New Career.</h4>
							<p class="text-muted">July 11, 2016: That’s when you’ll begin your 10-month journey with Learners Guild -- a college alternative training program from the founder of Dev Bootcamp</strong>.</p>
						</div>
						<div><a href="#" data-remodal-target="modal" data-offset="70" class="button button-dark button-rounded button-small t600" onClick="goog_report_conversion();">Request Application</a></div>
					</div>

					<div class="intro-services center col-padding" style="padding-top:10px;">
						<div class="circle-wrap">
							<i class="i-plain color i-xlarge icon-laptop inline-block" style="margin-bottom: 15px;"></i>
						</div>
						<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
							<h4 style="margin-bottom: 15px;">Learn Code From Other Coders</h4>
							<p>You’ll be collaborating with your peers every day  on real-world problems under the guidance of <strong>senior level engineers and skilled learning facilitators.</strong></p>
						</div>
						<div><a href="#" data-remodal-target="modal" data-offset="70" class="button button-dark button-rounded button-small t600" onClick="goog_report_conversion();">Request Application</a></div>
					</div>

					<div class="intro-services center col-padding" style="padding-top:10px;">
						<div class="circle-wrap">
							<i class="i-plain color i-xlarge icon-money inline-block" style="margin-bottom: 15px;"></i>
						</div>
						<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
							<h4 style="margin-bottom: 15px;">No Upfront Costs, No Risks. Period.</h4>
							<p>We have a simple proposition: come learn with us. We'll cover your program fees. <strong>After you get a full-time job as an engineer, you can repay us.</strong> And if you don't get a job in web development, that’s on us, not on you: <strong>you'll owe us nothing.</strong></p>
						</div>
						<div><a href="#" data-remodal-target="modal" data-offset="70" class="button button-dark button-rounded button-small t600" onClick="goog_report_conversion();">Request Application</a></div>
					</div>
				</div>
				<div class="line"></div>
			</div>
		</div>

		<section id="animate-in">
			<div class="container clearfix">
				<div class="col_three_fifth topmargin-sm bottommargin">
					<img data-animate="fadeInLeftBig" src="images/photo5.jpg" alt="Imac">
				</div>
				<div class="col_two_fifth topmargin-sm bottommargin-lg col_last">
					<div class="heading-block">
						<h2>Prepare Yourself for an Open Source World.</h2>
						<span>No books, no cookie-cutter curriculum, no teachers.</span>
					</div>
					<p>Imagine being surrounded by a group of people as passionate about programming as you are. Your job for 40 weeks: to collaborate with coders of all experience levels on challenges that simulate actual scenarios in the real world.</p>
					<a href="#" data-remodal-target="modal" class="button button-border button-rounded button-large noleftmargin topmargin-sm" onClick="goog_report_conversion();">Request Application</a>
				</div>

				<div class="col_two_fifth topmargin-sm bottommargin-lg hidden-xs">
					<div class="heading-block">
						<h2>Wait. No Teachers?</h2>
						<span>We don't believe in one-size-fits-all learning.</span>
					</div>
					<p>If you're looking for a set curriculum like the one you would find at a school or bootcamp, you won't find it at Learners Guild</p>
					<p>We believe the best answer to "what should I learn?" is "whatever the most skilled people around you know." So <strong>we've created a learning collective--a learners-only apprenticeship program.</strong></p>
					<p>You'll be learning skills and receiving guidance from full-stack JavaScript web developers--some of whom are pioneers in the tech world. And within 10 weeks of the program, <strong>you'll act as a mentor to a newer cohort of learners</strong>, guiding them as they encounter concepts that you've recently mastered.</p>
				</div>
				<div class="col_three_fifth topmargin-sm bottommargin col_last hidden-xs">
					<img data-animate="fadeInRightBig" src="images/photo2.jpg" alt="Imac">
				</div>

				<div class="col_three_fifth topmargin-sm bottommargin visible-xs">
					<img data-animate="fadeInRightBig" src="images/photo2.jpg" alt="Imac">
				</div>
				<div class="col_two_fifth topmargin-sm bottommargin-lg visible-xs col_last">
					<div class="heading-block">
						<h2>Wait. No Teachers?</h2>
						<span>We don't believe in one-size-fits-all learning.</span>
					</div>
					<p>If you're looking for a set curriculum like the one you would find at a school or bootcamp, you won't find it at Learners Guild</p>
					<p>We believe the best answer to "what should I learn?" is "whatever the most skilled people around you know." So <strong>we've created a learning collective--a learners-only apprenticeship program.</strong></p>
					<p>You'll be learning skills and receiving guidance from full-stack JavaScript web developers--some of whom are pioneers in the tech world. And within 10 weeks of the program, <strong>you'll act as a mentor to a newer cohort of learners</strong>, guiding them as they encounter concepts that you've recently mastered.</p>
				</div>

				<div class="col_three_fifth topmargin-sm bottommargin">
					<img data-animate="fadeInLeftBig" src="images/photo3.jpg" alt="Imac">
				</div>
				<div class="col_two_fifth topmargin-sm bottommargin-lg col_last">
					<div class="heading-block">
						<h2>Have a Life Outside of Learning</h2>
						<span>We meet every weekday from 8:30am - 6:00pm.</span>
					</div>
					<p>You shouldn’t have to sacrifice all of your free time or your family’s well-being while getting an immersive education. At Learners Guild, you’ll have time to spend with your family and friends so you can <strong>return the next day refreshed and ready to learn.</strong></p>
					<a href="#" data-remodal-target="modal" class="button button-border button-rounded button-large noleftmargin topmargin-sm" onClick="goog_report_conversion();">Request Application</a>
				</div>

				<div class="col_two_fifth topmargin-sm bottommargin-lg hidden-xs">
					<div class="heading-block">
						<h2>Nothing To Lose. Everything to Gain.</h2>
						<span>Getting an education should never be a risk.</span>
					</div>
					<p><strong>You shouldn't have to go into tens of thousands of dollars of debt</strong> before you even earn a penny in the career you're training for.
					<p>And <strong>you shouldn't have to worry</strong> about how you're going to pay the bills or support your family while you study to earn a better livelihood.</p>
					<p>So here is our guarantee: <strong>we'll cover your program fees and $1500 per month of your living expenses</strong> for the duration of the program. Only when you've obtained a full-time position in a development career will we ask you to pay us back.</p>
					<p><strong>No risks, no worry, no debt. Period.</strong></p>
				</div>
				<div class="col_three_fifth topmargin-sm bottommargin col_last hidden-xs">
					<img data-animate="fadeInRightBig" src="images/photo4.jpg" alt="Imac">
				</div>
				<div class="col_three_fifth topmargin-sm bottommargin col_last visible-xs">
					<img data-animate="fadeInRightBig" src="images/photo4.jpg" alt="Imac">
				</div>
				<div class="col_two_fifth topmargin-sm bottommargin-lg visible-xs">
					<div class="heading-block">
						<h2>Nothing To Lose. Everything to Gain.</h2>
						<span>Getting an education should never be a risk.</span>
					</div>
					<p><strong>You shouldn't have to go into tens of thousands of dollars of debt</strong> before you even earn a penny in the career you're training for.
					<p>And <strong>you shouldn't have to worry</strong> about how you're going to pay the bills or support your family while you study to earn a better livelihood.</p>
					<p>So here is our guarantee: <strong>we'll cover your program fees and $1500 per month of your living expenses</strong> for the duration of the program. Only when you've obtained a full-time position in a development career will we ask you to pay us back.</p>
					<p><strong>No risks, no worry, no debt. Period.</strong></p>
				</div>

			</div>
		</section>

		<section id="meet-team">
			<div class="container clearfix">
				<div class="row">
					<div class="col-sm-12">
						<div class="fancy-title title-border title-center">
							<h3>Meet Your Learning Team</h3>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<div class="team">
							<div class="team-image">
								<img src="images/team/Shereef.jpg" alt="Shereef Bishay">
							</div>
							<div class="team-desc">
								<div class="team-title"><h4>Shereef Bishay</h4><span>Founding Partner</span></div>
								<div class="team-bio">Founding Partner; Founder of Dev Bootcamp, Former Senior Software Developer - Microsoft</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="team">
							<div class="team-image">
								<img src="images/team/omoju.jpg" alt="Omoju Miller">
							</div>
							<div class="team-desc">
								<div class="team-title"><h4>Omoju Miller</h4><span>Partner</span></div>
								<div class="team-bio">Former tech portfolio manager at Google; PhD in Computer Sciences from UC Berkeley</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="team">
							<div class="team-image">
								<img src="images/team/Carla.jpg" alt="Carla Bagdonas">
							</div>
							<div class="team-desc">
								<div class="team-title"><h4>Carla Bagdonas</h4><span>Partner</span></div>
								<div class="team-bio">Learning facilitator and curriculum developer with Interchange Institute.</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="team">
							<div class="team-image">
								<img src="images/team/Karim.jpg" alt="Karim Bishay">
							</div>
							<div class="team-desc">
								<div class="team-title"><h4>Karim Bishay</h4><span>Partner</span></div>
								<div class="team-bio">Holacracy evangelist and teaching facilitator at Dev Bootcamp</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<div class="team">
							<div class="team-image">
								<img src="images/team/David.jpg" alt="David Guendelman">
							</div>
							<div class="team-desc">
								<div class="team-title"><h4>David Guendelman</h4><span>Partner</span></div>
								<div class="team-bio">CFO for several social entrepreneurship ventures.</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="team">
							<div class="team-image">
								<img src="images/team/Matthew.jpg" alt="Matthew Lee">
							</div>
							<div class="team-desc">
								<div class="team-title"><h4>Matthew Lee</h4><span>Partner</span></div>
								<div class="team-bio">Founder of HomeGrown Advisors; over 15 years as economic empowerment advisor</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="team">
							<div class="team-image">
								<img src="images/team/Tanner.jpg" alt="Tanner Welsh">
							</div>
							<div class="team-desc">
								<div class="team-title"><h4>Tanner Welsh</h4><span>Partner</span></div>
								<div class="team-bio">Co-founder of Dev Bootcamp NYC &amp; student of the School of Life</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="team">
							<div class="team-image">
								<img src="images/team/Jeffrey.jpg" alt="Jeffrey Wescott">
							</div>
							<div class="team-desc">
								<div class="team-title"><h4>Jeffrey Wescott</h4><span>Partner</span></div>
								<div class="team-bio">Serial Entrepreneur, Former VP of Product &amp; Engineering- change.org</div>
							</div>
						</div>
					</div>
				</div>
				<div class="line"></div>
			</div>
		</section>

		{% include college-comp.html %}

		<section id="new-life">
			<div class="section notopborder nobottomborder nomargin nopadding nobg">
				<div class="container clearfix">

					<div class="col_half nobottommargin topmargin">
						<img src="images/services/4.jpg" alt="Image" class="nobottommargin">
					</div>

					<div class="col_half subscribe-widget nobottommargin col_last">

						<div class="heading-block topmargin-lg">
							<h3><strong>Your New Life <br class="visible-xs" />Begins Now.</strong></h3>
							<span>Our Oakland cohort begins July 11, 2016.</span>
						</div>

						<p>A richly diverse community of peers, all on their way to fulfilling careers in software engineering, all under the guidance of proven experts in the field. <strong>Free of risk, free of debt, free to learn.</strong></p>
						<p style="margin-bottom: 30px;">We hope to see you there.</p>
						<a href="#" data-remodal-target="modal" class="button button-border button-rounded button-large noleftmargin topmargin-sm" onClick="goog_report_conversion();">Request Application</a>
					</div>
				</div>
			</div>
		</section>

	</section>
</div>

<div class="remodal" data-remodal-id="modal">
  <button data-remodal-action="close" class="remodal-close"></button>
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
  <script>
    hbspt.forms.create({
      portalId: '2144508',
      formId: '43e7b6e9-70ab-4b13-a7e7-424d14173702'
    });
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','//connect.facebook.net/en_US/fbevents.js');

    
  </script>
</div>

