<!-- Page Title
============================================= -->
<section id="page-title" class="page-title-parallax" style="padding: 230px 0; background: linear-gradient(rgba(255, 255, 255, .15), rgba(255, 255, 255, .15)), url('images/landing-hero.jpg'); background-size: cover; background-repeat: no-repeat;" data-stellar-background-ratio="0.4" data-stellar-vertical-offset="0">

  <div class="container clearfix">
    <div class="row">
    	<div class="col-sm-10 col-sm-offset-1">
    		<h1 class="text-center">Learn Code, Get Your Dream Job, Then Pay For Tuition.</h1>
    	</div>
    	<div class="col-sm-8 col-sm-offset-2">
    		<p class="text-center">It's time that someone invested in you for a change. <br/>We guarantee that you'll land a superb career in software development after completing our 10-month program--or you owe us nothing.</p>
    	</div>
    	<div class="col-sm-4 col-sm-offset-4">
			<div class="request-app-btn text-center">
				<a href="#" class="btn btn-orange text-center"><strong>Request Application</strong></a>
			</div>
    	</div>
    </div>
  </div>
	<!-- scroll down arrow image -->
	<div class="down-image text-center">
	  <img src="images/scroll-down.png" alt="Scroll Down">
	</div>
</section><!-- #page-title end -->