<!-- Content
============================================= -->

<section id="passion">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h2 class="text-center">If You're Passionate About Software Development, Come Learn With Us.</h2>
			</div>
			<div class="col-sm-6">
				<h3>Countdown to a New Career.</h3>
				<p>July 11, 2016: That’s when you’ll begin your 10-month journey with the Oakland cohort of Learners Guild. In less than a year, you’ll walk into a new life with a new title: <strong>full-stack developer</strong>.</p>
				<h3>Learn Code From Other Coders.</h3>
				<p>You’ll be collaborating with your peers every day  on real-world problems under the guidance of <strong>senior level engineers and skilled learning facilitators.</strong></p>
				<h3>No Upfront Costs, No Risks. Period.</h3>
				<p>We have a simple proposition: come learn with us. We'll cover your tuition. <strong>After you get a full-time job as an engineer, you can repay us.</strong></p>
				<p>And if you don't get a job in web development, that’s on us, not on you: <strong>you'll owe us nothing.</strong></p>
			</div>
			<div class="col-sm-6">
				<img src="" class="img-responsive" alt="Start a new career with Learners Guild">
			</div>
		</div>
	</div>
</section>

<section id="open-source">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<img src="" alt="education for an open-source world" class="img-responsive">
			</div>
			<div class="col-sm-6">
				<p class="lead">Education for an Open Source World.</p>
				<p>Imagine being surrounded by a group of people as passionate about programming as you are. Your job for 40 weeks: to collaborate with coders of all experience levels on challenges that simulate actual scenarios in the real world. <strong>No books, no cookie-cutter curriculum, no teachers.</strong></p>
			</div>
		</div>
	</div>
</section>

<section id="no-teachers">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<p class="lead">Wait. No Teachers?</p>
				<p>Nope. If you're looking for a set curriculum like the one you would find at a school or bootcamp, you won't find it here. At Learners Guild, <strong>we don't believe in one-size-fits-all learning.</strong></p>
				<p>We believe the best answer to "what should I learn?" is "whatever the most skilled people around you know." So <strong>we've created a learning collective--a learners-only apprenticeship program.</strong></p>
				<p>You'll be learning skills and receiving guidance from full-stack JavaScript web developers--some of whom are pioneers in the tech world. And within 10 weeks of the program, <strong>you'll act as a mentor to a newer cohort of learners</strong>, guiding them as they encounter concepts that you've recently mastered.</p>
			</div>
			<div class="col-sm-6">
				<img src="" alt="No teachers" class="img-responsive">
			</div>
		</div>
	</div>
</section>

<section id="nothing-to-lose">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<img src="" alt="Nothing to lose, everythig to gain" class="img-responsive">
			</div>
			<div class="col-sm-6">
				<p class="lead">Nothing To Lose. Everything to Gain.</p>
				<p>Getting an education should never be a risk. <strong>You shouldn't have to go into tens of thousands of dollars of debt</strong> before you even earn a penny in the career you're training for.
				<p>And <strong>you shouldn't have to worry</strong> about how you're going to pay the bills or support your family while you study to earn a better livelihood.</p>
				<p>So here is our guarantee: <strong>we'll cover your tuition and $1500 per month of your living expenses</strong> for the duration of the program. Only when you've obtained a full-time position in a development career will we ask you to pay us back.</p>
				<p><strong>No risks, no worry, no debt. Period.</strong></p>
			</div>
		</div>
	</div>
</section>

<section id="meet-team">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<img src="" alt="" class="img-responsive img-circle">
				<h4 class="text-center team-name">SHereef Bishay</h4>
				<p class="text-center team-bio">Founding Partner<br/>
					Founder of Dev Bootcamp &amp; Bettermeans.com</p>
			</div>
			<div class="col-sm-3">
				<img src="" alt="" class="img-responsive img-circle">
				<h4 class="text-center team-name">Omoju Miller</h4>
				<p class="text-center team-bio">Former tech portfolio manager at Google; PhD in Computer Sciences from UC Berkeley</p>
			</div>
			<div class="col-sm-3">
				<img src="" alt="" class="img-responsive img-circle">
				<h4 class="text-center team-name">Matt Lee</h4>
				<p class="text-center team-bio">Founder of HomeGrown Advisors; over 15 years as economic empowerment advisor</p>
			</div>
			<div class="col-sm-3">
				<img src="" alt="" class="img-responsive img-circle">
				<h4 class="text-center team-name">Kareem Bishay</h4>
				<p class="text-center team-bio">Holacracy evangelist and teaching facilitator at Dev Bootcamp</p>
			</div>
			<div class="clearfix hidden-xs"></div>
			<div class="col-sm-3">
				<img src="" alt="" class="img-responsive img-circle">
				<h4 class="text-center team-name">Jeffrey Wescott</h4>
				<p class="text-center team-bio">Internet technologist &amp; entrepreneur. Co-founder &amp; CEO of cine.io</p>
			</div>
			<div class="col-sm-3">
				<img src="" alt="" class="img-responsive img-circle">
				<h4 class="text-center team-name">Tanner Welsh</h4>
				<p class="text-center team-bio">Co-founder of Dev Bootcamp NYC &amp; student of the School of Life</p>
			</div>
			<div class="col-sm-3">
				<img src="" alt="" class="img-responsive img-circle">
				<h4 class="text-center team-name">Carla Bagdonas</h4>
				<p class="text-center team-bio">Learning facilitator and curriculum developer with Interchange Institute.</p>
			</div>
			<div class="col-sm-3">
				<img src="" alt="" class="img-responsive img-circle">
				<h4 class="text-center team-name">David Guendelman</h4>
				<p class="text-center team-bio">CFO for several social entrepreneurship ventures.</p>
			</div>
		</div>
	</div>
</section>

<section id="learners-vs-college">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h2 class="text-center">Learners Guild vs. College or Bootcamp</h2>
				<p class="text-center">So why should you pick the Learners Guild path to career success over a degree program or an intensive bootcamp? Here's what sets us apart:</p>
			</div>
			<div class="col-sm-12">
				<!-- Insert table here -->
				<table class="table1">
				    <thead>
				        <tr>
				            <th></th>
				            <th scope="col" abbr="Starter">Learners Guild</th>
				            <th scope="col" abbr="Medium">School</th>
				            <th scope="col" abbr="Business">Bootcamp</th>
				        </tr>
				    </thead>
				    <tbody>
					    <tr>
					        <th scope="row">What?</th>
					        <td>Degree alternative</td>
					        <td>Traditional CS degree</td>
					        <td>Skills augmentation</td>
					    </tr>
				        <tr>
				            <th scope="row">Goal</th>
				            <td>Holistic, skills-based education for software development jobs</td>
				            <td>Holistic education, predominantly not skills-based</td>
				            <td>Quick 'finishing school' for those who want basic or updated coding skills</td>
				        </tr>
				        <tr>
				            <th scope="row">Student profile for success</th>
				            <td>Anyone</td>
				            <td>Top tier high school students</td>
				            <td>Have a degree, looking to brush up</td>
				        </tr>
				        <tr>
				            <th scope="row">Timing</th>
				            <td>10 months</td>
				            <td>4 years</td>
				            <td>10-12 weeks</td>
				        </tr>
				        <tr>
				            <th scope="row">Cost</th>
				            <td>$28K</td>
				            <td>$153K</td>
				            <td>$13K</td>
				        </tr>
				        <tr>
				            <th scope="row">Financing</th>
				            <td>Learner's Guild finances upfront through outside investors – repayment hinges on successful student employment</td>
				            <td>Student responsibility (loans) - pays regardless of job outcome</td>
				            <td>Student responsibility (loans) - pays regardless of job outcome</td>
				        </tr>
				        <tr>
				            <th scope="row">Job focused?</th>
				            <td><span class="check"></span></td>
				            <td><span class="cross"></span></td>
				            <td><span class="check"></span></td>
				        </tr>
				    </tbody>
				</table>
			</div>
			<div class="col-sm-10 col-sm-offset-1">
				<p>The upshot: unlike college or bootcamp students, as a Learners Guild learner <strong>you'll never be in a position where you can't repay a loan.</strong></p>
			</div>
		</div>
	</div>
</section>

<section id="new-life" style="background: url('images/parallax/home/7.jpg') no-repeat center center; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h2 class="text-center">Your New Life Begins Now.</h2>
				<p>A richly diverse community of peers, all on their way to fulfilling careers in software engineering together, all under the guidance of proven experts in the field. <strong>Free of risk, free of debt, free to learn.</strong></p>
			</div>
			<div class="col-sm-10-col-sm-offset-1">
				<div class="row">
					<div class="col-sm-7">
						<h3>Our Oakland cohort begins July 11, 2016.</h3>
						<p>We hope to see you there.</p>
					</div>
					<div class="col-sm-5">
						<a href="#" class="btn btn-orange text-center"><strong>Request Application</strong></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
