<!-- Page Title
============================================= -->
<section id="page-title" class="page-title-parallax" style="padding: 250px 0; background: url('images/parallax/home/7.jpg'); background-size: cover; background-repeat: no-repeat;" data-stellar-background-ratio="0.4" data-stellar-vertical-offset="-100">

  <div class="container clearfix">
    <h1 class="text-center">Learn Code, Get Your Dream Job, Then Pay For Tuition.</h1>
    <p class="text-center">It's time that someone invested in you for a change. We guarantee that you'll land a superb career in software development after completing our 10-month program--or you owe us nothing.</p>
    <div class="request-app-btn text-center">
    	<a href="#" class="btn btn-orang text-center"><strong>Request Application</strong></a>
    </div>
  </div>

</section><!-- #page-title end -->