<!-- Content
============================================= -->

<section id="passion">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
				<h2 class="text-center">If You're Passionate About Software Development, Come Learn With Us.</h2>
			</div>
		</div>
	</div>

	<div id="carousel" class="owl-carousel">
	    <section class="item">
		  	<div class="container">
		  		<div class="row">
		  			<div class="col-sm-8 col-sm-offset-2">
		  				<div class="meta">
		  					<div class="text-center">
		  						<img src="images/calendar-icon.png" alt="Countdown to a new career">
		  					</div>
		  					<p class="lead">Countdown to a New Career.</p>
		  					<p>July 11, 2016: That’s when you’ll begin your 10-month journey with the Oakland cohort of Learners Guild. In less than a year, you’ll walk into a new life with a new title: <strong>full-stack developer</strong>.</p>
		  				</div>
		  			</div>
		  		</div>
		  	</div>
	    </section>

	    <section class="item">
	    	<div class="container">
	    		<div class="row">
	    			<div class="col-sm-8 col-sm-offset-2">
	    				<div class="meta">
	    					<div class="text-center">
	    						<img src="images/laptop.jpg" alt="Countdown to a new career">
	    					</div>
	    					<p class="lead">Learn Code From Other Coders.</p>
	    					<p>You’ll be collaborating with your peers every day  on real-world problems under the guidance of <strong>senior level engineers and skilled learning facilitators.</strong></p>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    </section>

	    <section class="item">
	    	<div class="container">
	    		<div class="row">
	    			<div class="col-sm-8 col-sm-offset-2">
	    				<div class="meta">
	    					<div class="text-center">
	    						<img src="images/no-money.jpg" alt="Countdown to a new career">
	    					</div>
	    					<p class="lead">No Upfront Costs, No Risks. Period.</p>
	    					<p>We have a simple proposition: come learn with us. We'll cover your tuition. <strong>After you get a full-time job as an engineer, you can repay us.</strong></p>
	    					<p>And if you don't get a job in web development, that’s on us, not on you: <strong>you'll owe us nothing.</strong></p>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    </section>
	</div>
</section>

<section id="open-source">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<img src="images/open-source.jpg" alt="education for an open-source world" class="img-responsive">
			</div>
			<div class="col-sm-6">
				<div class="meta">
					<p class="lead">Prepare Yourself for an Open Source World.</p>
					<p>Imagine being surrounded by a group of people as passionate about programming as you are. Your job for 40 weeks: to collaborate with coders of all experience levels on challenges that simulate actual scenarios in the real world.</p>
					<p class="books"><strong>No books, no cookie-cutter curriculum, no teachers.</strong></p>
					<div>
						<a href="#" class="btn btn-orange text-center"><strong>Request Application</strong></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="no-teachers">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 hidden-xs">
				<div class="meta">
					<p class="lead">Wait. No Teachers?</p>
					<p>Nope. If you're looking for a set curriculum like the one you would find at a school or bootcamp, you won't find it here. At Learners Guild, <strong>we don't believe in one-size-fits-all learning.</strong></p>
					<p>We believe the best answer to "what should I learn?" is "whatever the most skilled people around you know." So <strong>we've created a learning collective--a learners-only apprenticeship program.</strong></p>
					<p>You'll be learning skills and receiving guidance from full-stack JavaScript web developers--some of whom are pioneers in the tech world. And within 10 weeks of the program, <strong>you'll act as a mentor to a newer cohort of learners</strong>, guiding them as they encounter concepts that you've recently mastered.</p>
				</div>
			</div>
			<div class="col-sm-6 hidden-xs">
				<img src="images/no-teachers.jpg" alt="No teachers" class="img-responsive">
			</div>
			<div class="col-sm-6 visible-xs">
				<img src="images/no-teachers.jpg" alt="No teachers" class="img-responsive">
			</div>
			<div class="col-sm-6 visible-xs">
				<div class="meta">
					<p class="lead">Wait. No Teachers?</p>
					<p>Nope. If you're looking for a set curriculum like the one you would find at a school or bootcamp, you won't find it here. At Learners Guild, <strong>we don't believe in one-size-fits-all learning.</strong></p>
					<p>We believe the best answer to "what should I learn?" is "whatever the most skilled people around you know." So <strong>we've created a learning collective--a learners-only apprenticeship program.</strong></p>
					<p>You'll be learning skills and receiving guidance from full-stack JavaScript web developers--some of whom are pioneers in the tech world. And within 10 weeks of the program, <strong>you'll act as a mentor to a newer cohort of learners</strong>, guiding them as they encounter concepts that you've recently mastered.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="life">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="col-sm-6">
					<img src="images/nothing-to-lose.jpg" alt="Nothing to lose, everythig to gain" class="img-responsive">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="meta">
					<p class="lead">Have a Life Outside of Learning</p>
					<p>You shouldn’t have to sacrifice all of your free time or your family’s well-being while getting an immersive education. At Learners Guild, <strong>we meet every weekday from 8:30 am- 6:00 pm.</strong> You’ll have time to spend with your family and friends so you can <strong>return the next day refreshed and ready to learn.</strong></p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="nothing-to-lose">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 hidden-xs">
				<div class="meta">
					<p class="lead">Nothing To Lose. Everything to Gain.</p>
					<p>Getting an education should never be a risk. <strong>You shouldn't have to go into tens of thousands of dollars of debt</strong> before you even earn a penny in the career you're training for.
					<p>And <strong>you shouldn't have to worry</strong> about how you're going to pay the bills or support your family while you study to earn a better livelihood.</p>
					<p>So here is our guarantee: <strong>we'll cover your tuition and $1500 per month of your living expenses</strong> for the duration of the program. Only when you've obtained a full-time position in a development career will we ask you to pay us back.</p>
					<p><strong>No risks, no worry, no debt. Period.</strong></p>
				</div>
			</div>
			<div class="col-sm-6 hidden-xs">
				<img src="images/nothing-to-lose.jpg" alt="Nothing to lose, everythig to gain" class="img-responsive">
			</div>
			<div class="col-sm-6 visible-xs">
				<img src="images/nothing-to-lose.jpg" alt="Nothing to lose, everythig to gain" class="img-responsive">
			</div>
			<div class="col-sm-6 visible-xs">
				<div class="meta">
					<p class="lead">Nothing To Lose. Everything to Gain.</p>
					<p>Getting an education should never be a risk. <strong>You shouldn't have to go into tens of thousands of dollars of debt</strong> before you even earn a penny in the career you're training for.
					<p>And <strong>you shouldn't have to worry</strong> about how you're going to pay the bills or support your family while you study to earn a better livelihood.</p>
					<p>So here is our guarantee: <strong>we'll cover your tuition and $1500 per month of your living expenses</strong> for the duration of the program. Only when you've obtained a full-time position in a development career will we ask you to pay us back.</p>
					<p><strong>No risks, no worry, no debt. Period.</strong></p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="meet-team">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h2 class="text-center">Meet Your Learning Team</h2>
			</div>
			<div class="col-sm-3">
				<img src="images/team/Shereef.jpg" alt="" class="img-responsive img-circle">
				<h4 class="text-center team-name">Shereef Bishay</h4>
				<p class="text-center team-bio">Founding Partner<br/>
					Founder of Dev Bootcamp &amp; Bettermeans.com</p>
			</div>
			<div class="col-sm-3">
				<img src="images/team/omoju.jpg" alt="" class="img-responsive img-circle">
				<h4 class="text-center team-name">Omoju Miller</h4>
				<p class="text-center team-bio">Former tech portfolio manager at Google; PhD in Computer Sciences from UC Berkeley</p>
			</div>
			<div class="col-sm-3">
				<img src="images/team/Matthew.jpg" alt="" class="img-responsive img-circle">
				<h4 class="text-center team-name">Matt Lee</h4>
				<p class="text-center team-bio">Founder of HomeGrown Advisors; over 15 years as economic empowerment advisor</p>
			</div>
			<div class="col-sm-3">
				<img src="images/team/Karim.jpg" alt="" class="img-responsive img-circle">
				<h4 class="text-center team-name">Karim Bishay</h4>
				<p class="text-center team-bio">Holacracy evangelist and teaching facilitator at Dev Bootcamp</p>
			</div>
			<div class="clearfix hidden-xs"></div>
			<div class="col-sm-3">
				<img src="images/team/Jeffrey.jpg" alt="" class="img-responsive img-circle">
				<h4 class="text-center team-name">Jeffrey Wescott</h4>
				<p class="text-center team-bio" style="margin-bottom: 0;">Internet technologist &amp; entrepreneur. Co-founder &amp; CEO of cine.io</p>
			</div>
			<div class="col-sm-3">
				<img src="images/team/Tanner.jpg" alt="" class="img-responsive img-circle">
				<h4 class="text-center team-name">Tanner Welsh</h4>
				<p class="text-center team-bio" style="margin-bottom: 0;">Co-founder of Dev Bootcamp NYC &amp; student of the School of Life</p>
			</div>
			<div class="col-sm-3">
				<img src="images/team/Carla.jpg" alt="" class="img-responsive img-circle">
				<h4 class="text-center team-name">Carla Bagdonas</h4>
				<p class="text-center team-bio" style="margin-bottom: 0;">Learning facilitator and curriculum developer with Interchange Institute.</p>
			</div>
			<div class="col-sm-3">
				<img src="images/team/David.jpg" alt="" class="img-responsive img-circle">
				<h4 class="text-center team-name">David Guendelman</h4>
				<p class="text-center team-bio last-bio" style="margin-bottom: 0;">CFO for several social entrepreneurship ventures.</p>
			</div>
		</div>
	</div>
</section>

<section id="learners-vs-college">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h2 class="text-center">Learners Guild vs. <br class="visible-xs"/>College or Bootcamp</h2>
				<p class="text-center over-table">So why should you pick the Learners Guild path to career success over a degree program or an intensive bootcamp? <br class="hidden-xs" />Here's what sets us apart:</p>
			</div>
			<div class="col-sm-12">
				<!-- Insert table here -->
				<table>
				  <thead>
				    <tr>
				      <th style="border:none;">&nbsp;</th>
				      <th align="center"><img src="https://brand.learnersguild.org/assets/learners-guild-logo-dark-grey-250x149.png" alt="Learners Guild" class="learners-logo"></th>
				      <th align="center"><img src="images/school-table.jpg" alt="College" class="college-logo">School</th>
				      <th align="center"><img src="images/htmltag.png" alt="Bootcamp" class="htmltag">Bootcamp</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>What?</td>
				      <td class="beige"><strong>Degree alternative</strong></td>
				      <td class="graybeige"><strong>Traditional CS degree</strong></td>
				      <td class="gray"><strong>Skills augmentation</strong></td>
				    </tr>
				    <tr>
				      <td>Goal</td>
				      <td class="beige">Holistic, skills-based education for software development jobs</td>
				      <td class="graybeige">Holistic education, predominantly not skills-based</td>
				      <td class="gray">Quick 'finishing school' for those who want basic or updated coding skills</td>
				    </tr>
				    <tr>
				      <td>Student profile for success</td>
				      <td class="beige">Anyone</td>
				      <td class="graybeige">Top tier high school students</td>
				      <td class="gray">Have a degree, looking to brush up</td>
				    </tr>
				    <tr>
				      <td>Timing</td>
				      <td class="beige">10 months</td>
				      <td class="graybeige">4 years</td>
				      <td class="gray">10-12 weeks</td>
				    </tr>
				    <tr>
				      <td>Cost</td>
				      <td class="beige">$28K</td>
				      <td class="graybeige">$153K</td>
				      <td class="gray">$13K</td>
				    </tr>
				    <tr>
				      <td>Financing</td>
				      <td class="beige">Learner’s Guild finances upfront through outside investors – repayment hinges on successful student employment</td>
				      <td class="graybeige">Student responsibility (loans) – pays regardless of job outcome</td>
				      <td class="gray">Student responsibility (loans) – pays regardless of job outcome</td>
				    </tr>
				    <tr>
				      <td>Job focused?</td>
				      <td class="beige"><b class="check">✔</b></td>
				      <td class="graybeige"><b class="dash">X</b></td>
				      <td class="gray"><b class="check">✔</b></td>
				    </tr>
				  </tbody>
				</table>
			</div>
			<div class="col-sm-10 col-sm-offset-1">
				<p class="under-table text-center">The upshot: unlike college or bootcamp students, as a Learners Guild learner <strong><br class="hidden-xs" />you'll never be in a position where you can't repay a loan.</strong></p>
			</div>
		</div>
	</div>
</section>

<section id="new-life" style="background: url('images/screen.jpg') no-repeat center center; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h2 class="text-center">Your New Life <br class="visible-xs" />Begins Now.</h2>
				<p>A richly diverse community of peers, all on their way to fulfilling careers in software engineering, all under the guidance of proven experts in the field. <strong>Free of risk, free of debt, free to learn.</strong></p>
				<h3>Our Oakland cohort begins July 11, 2016.</h3>
				<p style="margin-bottom: 30px;">We hope to see you there.</p>
				<div class="text-center">
					<a href="#" class="btn btn-orange text-center"><strong>Request Application</strong></a>
				</div>
			</div>
		</div>
	</div>
</section>
