
<!-- Page Title
============================================= -->
<section id="page-title" class="page-title-parallax page-title-dark" style="padding-bottom: 200px; padding-top: 200px; background: linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)), url('images/photo5.jpg'); background-size: cover;" data-stellar-background-ratio="0.4" data-stellar-vertical-offset="-100">

  <div class="container clearfix">
    <h1>Self Assessment</h1>
    <span>Complete the exercises below to see <br class="hidden-xs">if you are ready to apply</span>
  </div>
</section><!-- #page-title end -->
