<div id="web-development-assessment" class="container clearfix">
  <div class="row clearfix">
    <div class="fancy-title title-border text-center topmargin-sm">
      <h2>Basics of web development</h2>
    </div>

    <div class="col_one_third">
      <table class="table">
        <thead>
          <tr>
            <th>Resources for growing your web development skills</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Read and complete <a target="_blank" href="http://learn.shayhowe.com/html-css/">Shay Howe&#8217;s HTML &amp; CSS lessons</a></td>
          </tr>
          <tr>
            <td>Read chapters 1&#8211;10 of <a target="_blank" href="http://eloquentjavascript.net/">Eloquent JavaScript</a></td>
          </tr>
          <tr>
            <td>Complete <a target="_blank" href="https://www.codecademy.com/learn/make-a-website">Make a Website</a>, <a target="_blank" href="https://www.codecademy.com/en/skills/make-an-interactive-website">Make an Interactive Website</a>, <a target="_blank"
                href="https://www.codecademy.com/learn/javascript">JavaScript</a> tracks on Codecademy</td>
          </tr>
          <tr>
            <td>Complete the <a target="_blank" href="https://www.khanacademy.org/computing/computer-programming/programming">Intro to JS</a> and <a target="_blank" href="https://www.khanacademy.org/computing/computer-programming/html-css">Intro to HTML/CSS</a>                    course on Khan Academy</td>
          </tr>
          <tr>
            <td>Read <a target="_blank" href="http://www.20thingsilearned.com/en-US">20 Things I Learned About Browsers and the Web</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col_two_third col_last">
      <p class="lead">The basics of web development covers topics like HTML, CSS, and JavaScript, as well as some conceptual understanding of how browsers and the web work.</p>

      <p class="lead"><strong>To self-assess your web development skills,</strong> do the coding exercise below using the embedded editor.</p>
    </div>
  </div>
</div>

<section class="section notopmargin">
  <div id="web-development-exercise" class="container clearfix">
    <div class="row clearfix">
      <div class="col_one_third"></div>
      <div class="col_two_third col_last">
        <h3 class="nobottommargin">Web development exercise</h3>
      </div>
    </div>

    <div id="side-navigation" class="row clearfix">
      <div class="col_one_third">
        <ul class="sidenav">
          <li class="ui-tabs-active"><a data="#snav-content1">Intro: make a color picker<i class="icon-chevron-right"></i></a></li>
          <li><a data="#snav-content2">Step 1: more buttons!<i class="icon-chevron-right"></i></a></li>
          <li><a data="#snav-content3">Step 2: change text color<i class="icon-chevron-right"></i></a></li>
          <li><a data="#snav-content4">Step 3: choose a harmonious palette<i class="icon-chevron-right"></i></a></li>
          <li><a data="#snav-content5">Wrap up: how'd you do?<i class="icon-chevron-right"></i></a></li>
        </ul>
      </div>

      <div class="col_two_third col_last">
        <div id="snav-content1">
          <!-- <h3>Exercise intro</h3> -->
          <p class="lead">A color picker is a simple UI (User Interface) tool that allows a user to choose from a list of colors. It is used in lots of software where users can select different colors.</p>
          <p class="lead">For example, say you are designing a blog editor. You will likely want to let users choose the colors of things like their blog header, background, and text. A color picker is a user-friendly way to edit things like this.</p>
          <p class="lead">In this exercise, you'll build a web page with a color picker that, when clicked, changes the background color of the page. <strong>Use the editor below to complete the steps of this exercise.</strong></p>
        </div>

        <div id="snav-content2" style="display:none;">
          <!-- <h3>Step 1: more buttons!</h3> -->
          <p class="lead">3 colors are nice, but not quite enough. It'd be better to have more colors available.</p>
          <ul>
            <li class="lead"><i class="icon-check"></i> Create a button for each color of the rainbow</li>
            <li class="lead"><i class="icon-check"></i> Make each button change the background color of the page to the corresponding color</li>
          </ul>
          <p class="lead"><em>Hint: you can find a list of the CSS color keywords in the <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/CSS/color_value">Mozilla Developer Network documentation for CSS</a>.</em></p>
        </div>

        <div id="snav-content3" style="display:none;">
          <!-- <h3>Step 2: change text color</h3> -->
          <p class="lead">Usually, more than just the background can be changed.</p>
          <p class="lead">To make this page a bit more interesting, let's allow users to change the color of the text on the page as well.</p>
          <ul>
            <li class="lead"><i class="icon-check"></i> Add at least one text element to the page with some sample text (e.g. <code>&lt;h1&gt;My Page&lt;/h1&gt;</code>)</li>
            <li class="lead"><i class="icon-check"></i> Create a new color palette to manage the color of the text</li>
            <li class="lead"><i class="icon-check"></i> Make each button in the text color palette change the color of the text on the page to the corresponding color</li>
          </ul>
          <p class="lead"><em>Hint: to change the color of text, use the <code>color</code> attribute in CSS.</em></p>
        </div>

        <div id="snav-content4" style="display:none;">
          <!-- <h3>Step 3: choose a harmonious palette</h3> -->
          <p class="lead">The rainbow is a nice range of colors, but it isn't very unique.</p>
          <p class="lead">It'd be nicer if the colors in the palette were more complimentary - they should look good together, so the text looks nicer on the background.</p>
          <ul>
            <li class="lead"><i class="icon-check"></i> Create a new color palette with a set of complimentary colors (there are lots of free options online - just search "color palette generator")</li>
            <li class="lead"><i class="icon-check"></i> Replace each button from the old palette with a new button using the complimentary palette</li>
          </ul>
          <p class="lead"><em>Hint: you'll likely need to use the hex value of these colors. Learn more about how to use colors in HTML and CSS with <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_started/Color">the MDN guide on color</a>.</em></p>
        </div>

        <div id="snav-content5" style="display:none;">
          <p class="lead">Congratulations, you finished. High five!</p>
          <p class="lead">So, how'd you do? Was it difficult?</p>
          <p class="lead">If you were able to complete all the steps of this exercise in less than 45 minutes with no outside help (except for Google, of course), you’re <strong>very likely skilled enough</strong> in web developement to start Learners Guild.</p>
          <p class="lead">If you were <em>not</em> able to complete the exercise, or if you found it exceedingly difficult, then you are probably not quite ready to join Learners Guild. Use some of the resources listed above to strenthen your web development skills.</p>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-sm-12">
        <p data-height="300" data-theme-id="dark" data-slug-hash="dpzzmZ" data-default-tab="js,result" data-user="learnersguild" data-embed-version="2" data-editable="true" class="codepen">See the Pen <a href="http://codepen.io/learnersguild/pen/dpzzmZ/">Color Picker</a> by Learners Guild (<a href="http://codepen.io/learnersguild">@learnersguild</a>) on <a href="http://codepen.io">CodePen</a>.</p>
        <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
      </div>
    </div>
  </div>
</section>
