<div id="computational-thinking-assessment" class="container clearfix">
  <div class="row clearfix">
    <div class="fancy-title title-border text-center topmargin-sm">
      <h2>Computational thinking</h2>
    </div>

    <div class="col-sm-3 col-sm-offset-1">
      <table class="table">
        <thead>
          <tr>
            <th>Resources for growing your computational thinking abilities</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a target="_blank" href="https://www.google.com/edu/resources/programs/exploring-computational-thinking/">Google&#8217;s Exploring Computational Thinking Page</a></td>
          </tr>
          <tr>
            <td><a target="_blank" href="https://blog.udemy.com/logical-reasoning-questions/">Logical Reasoning Questions and Step by Step Solutions For All</a></td>
          </tr>
          <tr>
            <td><a target="_blank" href="https://www.khanacademy.org/computing/computer-science">Khan Academy’s Computer Science courses</a>, especially the Algorithms course</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-7">
      <p class="lead"><a target="_blank" href="https://en.wikipedia.org/wiki/Computational_thinking">Computational thinking</a> is the range of cognitive abilities needed to program a computer. It includes abilities like logical reasoning, algorithm design, pattern
        recognition, and evaluating a series of sequential instructions.</p>

      <p class="lead"><em>To self-assess your computational thinking skills,</em> complete the <a target="_blank" href="https://www.kent.ac.uk/careers/tests/computer-test.htm">Computer Programming Aptitude Test</a> from the University of Kent. If your score is higher
        than 14 or so, you’re definitely ready for Learners Guild.</p>

      <p class="lead">If your score is lower, you will want to practice more to build up your computational thinking ability. Don't be discouraged if you didn't get the score you'd hoped! Computational thinking is a skill just like basketball or dance: the more you
        practice, the better you’ll get.</p>
    </div>
  </div>

  <hr class="row clearfix">

  <div class="row clearfix">
    <div class="col-sm-10 col-sm-offset-1">
      <p class="lead"><em>*Note: don’t limit yourself to just the above resources! There are a lot more out there if you do some searching.</em></p>
    </div>
  </div>
</div>
