<div id="computational-thinking-assessment" class="container clearfix">
  <div class="row clearfix">
    <div class="fancy-title title-border text-center topmargin-sm">
      <h2>Computational thinking</h2>
    </div>

    <div class="col_one_third">
      <table class="table">
        <thead>
          <tr>
            <th>Resources for growing your computational thinking abilities</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a target="_blank" href="https://www.google.com/edu/resources/programs/exploring-computational-thinking/">Google&#8217;s Exploring Computational Thinking Page</a></td>
          </tr>
          <tr>
            <td><a target="_blank" href="https://blog.udemy.com/logical-reasoning-questions/">Logical Reasoning Questions and Step by Step Solutions For All</a></td>
          </tr>
          <tr>
            <td><a target="_blank" href="https://www.khanacademy.org/computing/computer-science">Khan Academy’s Computer Science courses</a>, especially the Algorithms course</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col_two_third col_last">
      <p class="lead">
        <a target="_blank" href="https://en.wikipedia.org/wiki/Computational_thinking">Computational thinking</a> is the range of cognitive abilities needed to program a computer. It includes abilities like logical reasoning, algorithm design, pattern
        recognition, and evaluating a series of sequential instructions.
      </p>
      <p class="lead">
        Why is computational thinking important? Writing programs for computers can be difficult, requiring significant mental effort. Developing good problem-solving strategies and habits of mind will help you move find solutions more quickly and (hopefully)
        enjoy the challenge of doing so!
      </p>
      <p class="lead">
        The puzzles here are designed to exercise key computational thinking abilities. They don't require any special technical training beyond basic math. If you enjoy this kind of problem solving, you're likely going to enjoy other aspects of programming.
      </p>
    </div>
  </div>
</div>

<section class="section notopmargin">
  <div id="computational-thinking-exercise" class="container clearfix">
    <div class="row clearfix">
      <div class="col_two_third">
        <h2 class="nobottommargin">Puzzles</h2>
        <p class="lead">
          Go through the four puzzles listed below. When you're done, you can check your answers using the key at the very bottom of the page.
        </p>

        <p class="lead">If you get 2 or more questions wrong, you will want to practice more to build up your computational thinking ability before you're ready for Learners Guild. Don't be discouraged if you didn't get the score you'd hoped! Computational thinking is a skill just like basketball or dance: the more you practice,
          the better you’ll get.</p>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col_two_third">
        <h3>1: Encoding, decoding, and pattern recognition</h3>
        <p class="lead">The code for the word &quot;BIRD&quot; is <code>CJSE</code>.
          <br>The code for the word &quot;COUNTRY&quot; is <code>DPVOUSZ</code>.
          <br>The code for the word &quot;HOT&quot; is <code>IPU</code>.</p>
        <p class="lead"><em>What is the code for &quot;SAMBA&quot;?</em></p>
        <ol>
          <li class="lead"><code>TZLBZ</code></li>
          <li class="lead"><code>TBNCB</code></li>
          <li class="lead"><code>FNZON</code></li>
          <li class="lead"><code>TBMCD</code></li>
          <li class="lead"><code>RZLAZ</code></li>
        </ol>
        <p class="lead"><em>What word does the code <code>BXFTPNF</code> represent?</em></p>
        <p class="lead">Write down your answer so you can review later.</p>

        <hr>
      </div>

      <div class="col_one_third col_last">
      </div>
    </div>

    <div class="row clearfix">
      <div class="col_two_third">
        <h3>2: Sequence evaluation</h3>

        <p class="lead">You control the triangle in the grid graph pictured here. Your objective is to collect all of the gold stars by moving the triangle over them.</p>
        <p class="lead">You can send it 3 kinds of commands: MOVE will make it more forward one square, TURNL will make it turn left, and TURNR will make it turn right.</p>
        <p class="lead"><em>Which of the following sequences of commands will make the triangle cross over <strong>every</strong> gold star?</em></p>
        <ol>
          <li class="lead">TURNR, 4x MOVE, TURNL, 3x MOVE, TURNL, 7x MOVE, TURNR, 4x MOVE</li>
          <li class="lead">7x MOVE, TURNL, 2x MOVE, TURNL, 3x MOVE, TURNL, 6x MOVE, TURNR, 3x MOVE</li>
          <li class="lead">3x MOVE, TURNL, 2x MOVE, TURNR, 4x MOVE, TURNR, 5x MOVE, TURNR, 6x MOVE, TURNL, 1x MOVE</li>
          <li class="lead">7x MOVE, TURNL, 2x MOVE, TURNL, 4x MOVE, TURNL, 6x MOVE, TURNR, 2x MOVE</li>
        </ol>

        <hr>
      </div>
      <div class="col_one_third col_last">
        <img src="images/grid-exercise.png" alt="Grid for sequence evaluation exercise" />
      </div>
    </div>

    <div class="row clearfix">
      <div class="col_two_third">
        <h3>3: Conditionals and logical reasoning</h3>
        <p class="lead">A grocery store uses stickers to categorize and label their goods according to the rules listed here.</p>
        <p class="lead">Read the rules and then answer the questions.</p>
        <p class="lead"><em>What would the sticker look like for an imported organic banana that can be purchased with food stamps, but is not on sale?</em></p>
        <ol>
          <li class="lead">Green square with <code>#i</code> on the label</li>
          <li class="lead">Green circle with <code>#i</code> on the label</li>
          <li class="lead">Blue circle with <code>#L</code> on the label</li>
          <li class="lead">Green circle with <code>I</code> on the label</li>
        </ol>
        <p class="lead"><em>What kind of sticker would you use for conventional salmon raised locally that are on sale and available for purchase with food stamps?</em></p>
        <p class="lead">Write down your answer so you can review later.</p>

        <hr>
      </div>

      <div class="col_one_third col_last">
        <ul class="list-group">
          <li class="list-group-item"><strong>Rules for labeling grocery items:</strong></li>
          <li class="list-group-item">For fresh produce (fruits and vegetables), the stickers are circular. For meat, fish, and poultry, the stickers are square. For all other products, the stickers are diamond-shaped.</li>
          <li class="list-group-item">The stickers for organic food are green; for conventional food they are blue.</li>
          <li class="list-group-item">Items that are available for purchase with food stamps have a <code>#</code> printed on their stickers.</li>
          <li class="list-group-item">If the food was produced locally, the sticker will have an <code>l</code>. If it was produced in another state in the US, it will have the letter <code>u</code>. Imported items are demarcated by an <code>i</code> on the sticker.</li>
          <li class="list-group-item">If the item is on sale, all letters on the sticker will be printed in uppercase.</li>
        </ul>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col_two_third">
        <h3>4: Keeping track of and manipulating values</h3>
        <p class="lead">Use the table to solve the following problem.</p>
        <p class="lead">Follow these instructions:</p>
        <ul>
          <li class="lead">Add B2 to D3. Put the result in E1.</li>
          <li class="lead">Multiply A4 by C3. Put the result in E2.</li>
          <li class="lead">Subtract D2 from E1. Replace E1 with the result.</li>
        </ul>
        <p class="lead"><em>What is the sum of E1 and E2?</em></p>
        <ol>
          <li class="lead">20</li>
          <li class="lead">17</li>
          <li class="lead">4</li>
          <li class="lead">24</li>
        </ol>
      </div>

      <div class="col_one_third col_last">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="text-align:center"></th>
              <th style="text-align:center">A</th>
              <th style="text-align:center">B</th>
              <th style="text-align:center">C</th>
              <th style="text-align:center">D</th>
              <th style="text-align:center">E</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align:center"><strong>1</strong></td>
              <td style="text-align:center">5</td>
              <td style="text-align:center">9</td>
              <td style="text-align:center">2</td>
              <td style="text-align:center">7</td>
              <td style="text-align:center"></td>
            </tr>
            <tr>
              <td style="text-align:center"><strong>2</strong></td>
              <td style="text-align:center">2</td>
              <td style="text-align:center">3</td>
              <td style="text-align:center">4</td>
              <td style="text-align:center">1</td>
              <td style="text-align:center"></td>
            </tr>
            <tr>
              <td style="text-align:center"><strong>3</strong></td>
              <td style="text-align:center">3</td>
              <td style="text-align:center">7</td>
              <td style="text-align:center">2</td>
              <td style="text-align:center">6</td>
              <td style="text-align:center">&nbsp;</td>
            </tr>
            <tr>
              <td style="text-align:center"><strong>4</strong></td>
              <td style="text-align:center">6</td>
              <td style="text-align:center">1</td>
              <td style="text-align:center">5</td>
              <td style="text-align:center">6</td>
              <td style="text-align:center">&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<div class="container clearfix">
  <div class="row clearfix">
    <div class="col-sm-12">
      <h4>Answer Key</h4>
      <p>Puzzle 1 (Encoding and decoding): 2, &quot;AWESOME&quot;
        <br>Puzzle 2 (Sequence evaluation): 4
        <br>Puzzle 3 (Conditionals and logical reasoning): 2, &quot;blue square with <code>#L</code>&quot;
        <br>Puzzle 4 (Manipulating and storing values): 1
      </p>
    </div>
  </div>
</div>
