<div class="owl-carousel1">
    <div class="item">
      <div class="container clearfix">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="title-border text-center topmargin-sm">
              <h2>Computational Thinking</h2>
            </div>
            <p class="lead">
              <a target="_blank" href="https://en.wikipedia.org/wiki/Computational_thinking">Computational thinking</a> is the range of cognitive abilities needed to program a computer. It includes abilities like logical reasoning, algorithm design, pattern recognition, and evaluating a series of sequential instructions.
              </p>
            <p class="lead">
              Why is computational thinking important? Writing programs for computers can be difficult, requiring significant mental effort. Developing good problem-solving strategies and habits of mind will help you to find solutions more quickly and (hopefully) enjoy the challenge of doing so!
              </p>
            <p class="lead">
              The puzzles here are designed to exercise key computational thinking abilities. They don't require any special technical training beyond basic math. If you enjoy this kind of problem solving, you're likely going to enjoy other aspects of programming.
              </p>
              <p class="lead">Click Next below to begin.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container clearfix">
        <div class="row clearfix">
          <div class="col-sm-12">
            <h3 class="text-center">Puzzle 1: Encoding, decoding, and pattern recognition</h3>
          </div>
          <div class="col_two_third">
            <p class="lead">The code for the word &quot;BIRD&quot; is <code>CJSE</code>.
              <br>The code for the word &quot;COUNTRY&quot; is <code>DPVOUSZ</code>.
              <br>The code for the word &quot;HOT&quot; is <code>IPU</code>.</p>
            <p class="lead"><em>What is the code for &quot;SAMBA&quot;?</em></p>
            <ol>
              <li class="lead"><code>TZLBZ</code></li>
              <li class="lead"><code>TBNCB</code></li>
              <li class="lead"><code>FNZON</code></li>
              <li class="lead"><code>TBMCD</code></li>
              <li class="lead"><code>RZLAZ</code></li>
            </ol>
            <p class="lead"><em>What word does the code <code>BXFTPNF</code> represent?</em></p>
            <p class="lead">Write down your answer so you can review later.</p>

            <hr>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container clearfix">
        <div class="row clearfix">
          <div class="col-sm-12">
            <h3 class="text-center">Puzzle 2: Sequence evaluation</h3>
          </div>
          <div class="col_two_third">
            <p class="lead">You control the triangle in the grid graph pictured here. Your objective is to collect all of the gold stars by moving the triangle over them.</p>
            <p class="lead">You can send it 3 kinds of commands: MOVE will make it more forward one square, TURNL will make it turn left, and TURNR will make it turn right.</p>
            <p class="lead"><em>Which of the following sequences of commands will make the triangle cross over <strong>every</strong> gold star?</em></p>
            <ol>
              <li class="lead">TURNR, 4x MOVE, TURNL, 3x MOVE, TURNL, 7x MOVE, TURNR, 4x MOVE</li>
              <li class="lead">7x MOVE, TURNL, 2x MOVE, TURNL, 3x MOVE, TURNL, 6x MOVE, TURNR, 3x MOVE</li>
              <li class="lead">3x MOVE, TURNL, 2x MOVE, TURNR, 4x MOVE, TURNR, 5x MOVE, TURNR, 6x MOVE, TURNL, 1x MOVE</li>
              <li class="lead">7x MOVE, TURNL, 2x MOVE, TURNL, 4x MOVE, TURNL, 6x MOVE, TURNR, 2x MOVE</li>
            </ol>
        
            <hr>
          </div>
          <div class="col_one_third col_last">
            <img src="images/grid-exercise.png" alt="Grid for sequence evaluation exercise" />
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container clearfix">
        <div class="row clearfix">
          <div class="col-sm-12">
            <h3 class="text-center">Puzzle 3: Conditionals and logical reasoning</h3>
          </div>
          <div class="col_two_third">
            <p class="lead">A grocery store uses stickers to categorize and label their goods according to the rules listed here.</p>
            <p class="lead">Read the rules and then answer the questions.</p>
            <p class="lead"><em>What would the sticker look like for an imported organic banana that can be purchased with food stamps, but is not on sale?</em></p>
            <ol>
              <li class="lead">Green square with <code>#i</code> on the label</li>
              <li class="lead">Green circle with <code>#i</code> on the label</li>
              <li class="lead">Blue circle with <code>#L</code> on the label</li>
              <li class="lead">Green circle with <code>I</code> on the label</li>
            </ol>
            <p class="lead"><em>What kind of sticker would you use for conventional salmon raised locally that are on sale and available for purchase with food stamps?</em></p>
            <p class="lead">Write down your answer so you can review later.</p>
        
            <hr>
          </div>
        
          <div class="col_one_third col_last">
            <ul class="list-group">
              <li class="list-group-item"><strong>Rules for labeling grocery items:</strong></li>
              <li class="list-group-item">For fresh produce (fruits and vegetables), the stickers are circular. For meat, fish, and poultry, the stickers are square. For all other products, the stickers are diamond-shaped.</li>
              <li class="list-group-item">The stickers for organic food are green; for conventional food they are blue.</li>
              <li class="list-group-item">Items that are available for purchase with food stamps have a <code>#</code> printed on their stickers.</li>
              <li class="list-group-item">If the food was produced locally, the sticker will have an <code>l</code>. If it was produced in another state in the US, it will have the letter <code>u</code>. Imported items are demarcated by an <code>i</code> on the sticker.</li>
              <li class="list-group-item">If the item is on sale, all letters on the sticker will be printed in uppercase.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container clearfix">
        <div class="row clearfix">
          <div class="col-sm-12">
            <h3 class="text-center">Puzzle 4: Keeping track of and manipulating values</h3>
          </div>
          <div class="col_two_third">
            <p class="lead">Use the table to solve the following problem.</p>
            <p class="lead">Follow these instructions:</p>
            <ul>
              <li class="lead">Add B2 to D3. Put the result in E1.</li>
              <li class="lead">Multiply A4 by C3. Put the result in E2.</li>
              <li class="lead">Subtract D2 from E1. Replace E1 with the result.</li>
            </ul>
            <p class="lead"><em>What is the sum of E1 and E2?</em></p>
            <ol>
              <li class="lead">20</li>
              <li class="lead">17</li>
              <li class="lead">4</li>
              <li class="lead">24</li>
            </ol>
          </div>
        
          <div class="col_one_third col_last">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th style="text-align:center"></th>
                  <th style="text-align:center">A</th>
                  <th style="text-align:center">B</th>
                  <th style="text-align:center">C</th>
                  <th style="text-align:center">D</th>
                  <th style="text-align:center">E</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="text-align:center"><strong>1</strong></td>
                  <td style="text-align:center">5</td>
                  <td style="text-align:center">9</td>
                  <td style="text-align:center">2</td>
                  <td style="text-align:center">7</td>
                  <td style="text-align:center"></td>
                </tr>
                <tr>
                  <td style="text-align:center"><strong>2</strong></td>
                  <td style="text-align:center">2</td>
                  <td style="text-align:center">3</td>
                  <td style="text-align:center">4</td>
                  <td style="text-align:center">1</td>
                  <td style="text-align:center"></td>
                </tr>
                <tr>
                  <td style="text-align:center"><strong>3</strong></td>
                  <td style="text-align:center">3</td>
                  <td style="text-align:center">7</td>
                  <td style="text-align:center">2</td>
                  <td style="text-align:center">6</td>
                  <td style="text-align:center">&nbsp;</td>
                </tr>
                <tr>
                  <td style="text-align:center"><strong>4</strong></td>
                  <td style="text-align:center">6</td>
                  <td style="text-align:center">1</td>
                  <td style="text-align:center">5</td>
                  <td style="text-align:center">6</td>
                  <td style="text-align:center">&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container clearfix">
        <div class="row clearfix">
          <div class="col-sm-12 center">
            <p class="lead">
              You're all done! Use the answer key below to determine your computational thinking score.
            </p>
            <p class="lead">
              If you are ready for Learners Guild, use the button below to submit an application.
            </p>
            <a href="https://www.surveymonkey.com/r/learners-guild-application" target="_blank" class="button button-desc button-border button-rounded">
              <div>
                Go to Application
              </div>
            </a>
          </div>
        </div>

        <div class="row clearfix">
          <p class="lead">Resources for growing your computational thinking abilities</p>
          <p><a target="_blank" href="https://www.google.com/edu/resources/programs/exploring-computational-thinking/">Google&#8217;s Exploring Computational Thinking Page</a></p>
          <p><a target="_blank" href="https://blog.udemy.com/logical-reasoning-questions/">Logical Reasoning Questions and Step by Step Solutions For All</a></p>
          <td><a target="_blank" href="https://www.khanacademy.org/computing/computer-science">Khan Academy’s Computer Science courses</a>, especially the Algorithms course</td>
        </div>
        
        <div class="row clearfix">
          <hr>
          <div class="col-sm-12">
            <h4>Answer Key</h4>
            <p>Puzzle 1 (Encoding and decoding): 2, &quot;AWESOME&quot;
              <br>Puzzle 2 (Sequence evaluation): 3 or 4
              <br>Puzzle 3 (Conditionals and logical reasoning): 2, &quot;blue square with <code>#L</code>&quot;
              <br>Puzzle 4 (Manipulating and storing values): 1
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container clearfix">
        <div class="row clearfix">
          <div class="col-sm-12">
            <h3 class="text-center">Resources for growing your web development skills</h3>
            <p class="lead">Read and complete <a href="http://learn.shayhowe.com/html-css/">Shay Howe’s HTML &amp; CSS lessons</a></p>
            <p class="lead">Read chapters 1–10 of <a href="http://eloquentjavascript.net/">Eloquent JavaScript</a></p>
            <p class="lead">Complete <a href="https://www.codecademy.com/learn/make-a-website">Make a Website</a>, <a href="https://www.codecademy.com/en/skills/make-an-interactive-website">Make an Interactive Website</a>, <a href="https://www.codecademy.com/learn/javascript">JavaScript</a> tracks on Codecademy</p>
            <p class="lead">Complete the <a href="https://www.khanacademy.org/computing/computer-programming/programming">Intro to JS</a> and <a href="https://www.khanacademy.org/computing/computer-programming/html-css">Intro to HTML/CSS</a> course on Khan Academy</p>
            <p class="lead">Read <a href="http://www.20thingsilearned.com/en-US">20 Things I Learned About Browsers and the Web</a></p>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="modal1" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Are you Ready to Apply?</h4>
      </div>
      <div class="modal-body">
        <p>If you are new to programming, you may not know whether or not you have the requisite skills to join Learners Guild. Use this self-assessment to help find out.</p>
        <p>There is no test in our application—this is purely for you to know if you're ready to apply.</p>
        <p>To be ready for the program, you'll need to gain some basic proficiency in two key skills: computational thinking and web development.</p>
        <p>Use the exercises below to help you determine if you are ready and to discover resources that can help you prepare.</p>
        <p>Once you've finished, you will know if you're ready to submit your <a href="https://www.surveymonkey.com/r/learners-guild-application">application to Learners Guild.</a></p>
        <p>If you are not quite ready, we've listed some freely available resources that you can use to learn. We also recommend seeking out help from other people; software development is a team sport, after all. One place to start is to search for "beginner programmer" or "web development" Meetups in your area.</p>
        <hr>
        <h4>Reasons you may need to prepare</h4>
        <ul>
          <li>To build the basic skills necessary to fully engage with our enrollment process and to start the program itself</li>
          <li>To spend a suffient amount of time with programming to know that you like it, and know that you’re ready to commit to a career as a software developer</li>
        </ul>
        <p>Watch the video for an overview of the self-assessment.</p>
        <script src="//fast.wistia.com/embed/medias/ad86d9bukm.jsonp" async></script><script src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:62.5% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_ad86d9bukm popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->