<div class="container clearfix">
  <div class="row clearfix">
    <div class="col-sm-10 col-sm-offset-1">
      <p class="lead">Once you are sure that you are willing to commit to joining our learning collective to pursue a career in web development, <strong>the next question you should ask yourself is: "am I prepared?"</strong></p>
    </div>
  </div>

  <div class="row clearfix">
    <div class="col-sm-6 col-sm-offset-1">
      <p class="lead">To be ready, you'll need to gain some basic proficiency in two key skills: <strong>computational thinking</strong> and <strong>web development</strong>.</p>
      <p class="lead">Use the exercises below to help you determine if you are ready and to discover resources that can help you prepare.</p>
    </div>
    <div class="col-sm-3 col-sm-offset-1">
      <table class="table">
        <thead>
          <tr>
            <th>Reasons you may need to prepare</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>To build the basic skills necessary to fully engage with our enrollment process and to start the program itself</td>
          </tr>
          <tr>
            <td>To spend a suffient amount of time with programming to know that you like it, and know that you’re ready to commit to a career as a software developer</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
