
<!-- Page Title
============================================= -->
<section id="page-title" class="page-title-parallax page-title-dark" style="padding-bottom: 200px; padding-top: 200px; background: linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)), url('images/photo5.jpg'); background-size: cover;" data-stellar-background-ratio="0.4" data-stellar-vertical-offset="-100">

  <div class="container clearfix">
    <h1>This page is currently inactive.</h1>
    <span>Whoops! You must've gotten here through an old link. If you were trying to find the self-assessment, it has been disabled. You don't need to take it before submitting your application.</span>
  </div>
</section><!-- #page-title end -->
