
<section id="section-services" class="page-section section dark nopadding nomargin noborder ohidden" style="height: 700px; background-color: rgb(34, 34, 34);">
  <div class="vertical-middle" style="position: absolute; top: 50%; width: 100%; padding-top: 0px; padding-bottom: 0px; margin-top: -210.5px;">
    <div class="container clearfix">

      <div class="heading-block center bottommargin-lg">
        <h2>Overview</h2>
        <span>What makes our Program Awesome</span>
      </div>

      <div class="col_one_third">
        <div class="feature-box fbox-plain">
          <div class="fbox-icon">
            <a href="program.html"><i class="icon-certificate"></i></a>
          </div>
          <h3>No Degree Requirement</h3>
          <p>You don't need a college degree to get in. Just a passion for building software.</p>
        </div>
      </div>

      <div class="col_one_third">
        <div class="feature-box fbox-plain">
          <div class="fbox-icon">
            <a href="program.html"><i class="icon-unlink"></i></a>
          </div>
          <h3>No Up-Front Tuition</h3>
          <p>Admittance is free. You only pay back the cost once you've found a paying job.</p>
        </div>
      </div>

      <div class="col_one_third col_last">
        <div class="feature-box fbox-plain">
          <div class="fbox-icon">
            <a href="program.html"><i class="icon-money"></i></a>
          </div>
          <h3>Living Allowance</h3>
          <p>$1,500 month to keep you afloat so you can focus on learning.</p>
        </div>
      </div>

      <div class="clear"></div>

      <div class="col_one_third">
        <div class="feature-box fbox-plain">
          <div class="fbox-icon">
            <a href="program.html"><i class="icon-support"></i></a>
          </div>
          <h3>Facilitation and Support </h3>
          <p>Learn alongside expert facilitators and mentors.</p>
        </div>
      </div>

      <div class="col_one_third">
        <div class="feature-box fbox-plain">
          <div class="fbox-icon">
            <a href="program.html"><i class="icon-users"></i></a>
          </div>
          <h3>Accesible and Inclusive</h3>
          <p>Learn in an inclusive environment.</p>
        </div>
      </div>

      <div class="col_one_third col_last">
        <div class="feature-box fbox-plain">
          <div class="fbox-icon">
            <a href="program.html"><i class="icon-tasks"></i></a>
          </div>
          <h3>Cognitive Apprenticeship</h3>
          <p>Learn alongside expert practitioners while also learning to be a team lead.</p>
        </div>
      </div>

      <div class="clear"></div>

      <div class="center">
        <a href="apply.html" class="button button-desc button-border button-rounded center"><div>Apply to Learners Guild</div></a>
        <a href="program.html" class="button button-desc button-border button-rounded center"><div>Learn more</div></a>
        <!--<div id="grnhse_app"></div>-->
      </div>

    </div>
  </div>
</section>
