<!-- Slider
============================================= -->
<section id="slider" class="full-screen clearfix">

  <div class="full-screen section parallax nopadding nomargin noborder ohidden" style="background-image: url('../images/teamSittedChilling.jpg');" data-stellar-background-ratio="0.3">
    <div class="container center">
      <div class="vertical-middle">

        <div class="emphasis-title">

          <h1 class="t600 ls4 bottommargin-sm" style="font-size: 60px;">
            We invest up to $1,500 a month in you to become a software engineer
          </h1>
              <!-- class="t600 ls4 uppercase bottommargin-sm" style="font-size: 60px;">-->
              <p class="lead">10 month intensive program. Full time. In person. <B>Oakland + New York</B>.</p>
              <p class="lead">Only pay us back when you get a job.</p>
        </div>
        <a href="https://boards.greenhouse.io/learnersguild/jobs/184098" class="button button-dark t400 ls2 button-rounded" data-easing="easeInOutExpo" data-speed="1250" data-offset="0">APPLY NOW</a>
        <a href="#" class="button button-border button-rounded" data-scrollto="#section-about" data-easing="easeInOutExpo" data-speed="1250" data-offset="0">Learn More</a>

      </div>
    </div>

    <div class="video-wrap">
      <div class="video-overlay" style="background: rgba(255,255,255,0.8);"></div>
    </div>

  </div>

</section><!-- #slider end -->
