<div class="heading-block center">
  <h2>We're excited to meet you. <span>Let's get in touch.</span>
  </h2>
</div>

<div class="row clearfix rightmargin-lg leftmargin-lg">
  <div class="col_half">
    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="nobottommargin">Join mailing list</h4></div>
        <div class="panel-body" style="padding: 20px;">

        {% include mailchimp_signup.html %}
      </div>
    </div>
  </div>
  <div class="col_half col_last">
    <p class="lead">
      Sign up for our mailing list to learn about upcoming info sessions and other events.
    </p>
    <p class="lead">
    <!--  When you’re ready to apply, submit your application over here.
      <br /> -->
      More questions? Check out our FAQ section or reach out to us on <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>, or <a href="https://www.facebook.com/{{ site.facebook_username }}/">Facebook</a>.
    </p>
    <p class="lead">For applicant inquiries, please email <a href="mailto:enrollment@learnersguild.org">enrollment@learnersguild.org</a></p>
    <p class="lead">For other/partnership inquiries, please email <a href="mailto:{{ site.contact_email }}">{{ site.contact_email }}</a>.</p>
  </div>

</div>
