<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <!-- We help those with unrealized potential unlock their talents and transform their lives so they can compete in today’s economy and earn a dignified livelihood. -->

    <div class="container clearfix">

      <div class="clear"></div>
      <div class="fancy-title title-border">
        <h3>TEAM</h3>
      </div>

      <div class="row">

        <div class="col-md-3 col-sm-6 bottommargin">
          <div class="team">
            <div class="team-image">
              <img src="images/team/Carla.jpg" alt="Carla Bagdonas">
            </div>
            <div class="team-desc">
              <div class="team-title">
                <h4>Carla Bagdonas </h4><span>Partner</span></div>
              <!-- <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
              </a> -->
              <a href="https://www.linkedin.com/in/carlabagdonas" class="social-icon inline-block si-small si-light si-rounded si-linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 bottommargin">
          <div class="team">
            <div class="team-image">
              <img src="images/team/Shereef.jpg" alt="Shereef Bishay">
            </div>
            <div class="team-desc">
              <div class="team-title">
                <h4>Shereef Bishay</h4><span>Founder / Partner</span></div>
              <a href="http://twitter.com/shereef" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
              </a>
              <a href="http://www.linkedin.com/in/shereefbishay" class="social-icon inline-block si-small si-light si-rounded si-linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 bottommargin">
          <div class="team">
            <div class="team-image">
              <img src="images/team/Karim.jpg" alt="Karim Bishay">
            </div>
            <div class="team-desc">
              <div class="team-title">
                <h4>Karim Bishay</h4><span>Partner</span></div>
              <!-- <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
              </a> -->
              <a href="http://www.linkedin.com/in/karimbishay" class="social-icon inline-block si-small si-light si-rounded si-linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- End team member -->


        <div class="col-md-3 col-sm-6 bottommargin">
          <div class="team">
            <div class="team-image">
              <img src="images/team/David.jpg" alt="David Guendelman">
            </div>
            <div class="team-desc">
              <div class="team-title">
                <h4>David Guendelman </h4><span>Partner</span></div>
              <!-- <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
              </a> -->
              <a href="https://www.linkedin.com/in/david-guendelman-47b4653" class="social-icon inline-block si-small si-light si-rounded si-linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- End team member -->

      </div>
      <!-- End Row -->

      <!-- ANOTHER ROW -->
      <div class="row">

        <!--
        NO PICTURE
        <div class="col-md-3 col-sm-6 bottommargin">
          <div class="team">
            <div class="team-image">
              <img src="images/team/grey.jpeg" alt="Will Grant">
            </div>
            <div class="team-desc">
              <div class="team-title"><h4>Will Grant </h4><span>Consultant</span></div>
              <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
              </a>
              <a href="#" class="social-icon inline-block si-small si-light si-rounded si-linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
              </a>
            </div>
          </div>
        </div>-->
        <!-- End team member -->

        <div class="col-md-3 col-sm-6 bottommargin">
          <div class="team">
            <div class="team-image">
              <img src="images/team/Matthew.jpg" alt="Matthew Lee">
            </div>
            <div class="team-desc">
              <div class="team-title">
                <h4>Matthew Lee </h4><span>Partner</span></div>
              <!-- <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
              </a> -->
              <a href="https://www.linkedin.com/in/matthewlee1" class="social-icon inline-block si-small si-light si-rounded si-linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- End team member -->

        <!--
        NO PICTURE
        <div class="col-md-3 col-sm-6 bottommargin">
          <div class="team">
            <div class="team-image">
              <img src="images/team/grey.jpeg" alt="Adam Lupu">
            </div>
            <div class="team-desc">
              <div class="team-title"><h4>Adam Lupu </h4><span>Consultant</span></div>
              <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
              </a>
              <a href="https://www.linkedin.com/in/adamlupu" class="social-icon inline-block si-small si-light si-rounded si-linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
              </a>
            </div>
          </div>
        </div> -->
        <!-- End team member -->

        <div class="col-md-3 col-sm-6 bottommargin">
          <div class="team">
            <div class="team-image">
              <img src="images/team/omoju.jpg" alt="Omoju Miller">
            </div>
            <div class="team-desc">
              <div class="team-title">
                <h4>Omoju Miller </h4><span>Partner</span></div>
              <!-- <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
              </a> -->
              <a href="https://www.linkedin.com/in/omojumiller" class="social-icon inline-block si-small si-light si-rounded si-linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- End team member -->

        <div class="col-md-3 col-sm-6 bottommargin">
          <div class="team">
            <div class="team-image">
              <img src="images/team/Simon.jpg" alt="Simon Moyes">
            </div>
            <div class="team-desc">
              <div class="team-title">
                <h4>Simon Moyes </h4><span>Consultant</span></div>
              <!-- <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
              </a> -->
              <!-- <a href="#" class="social-icon inline-block si-small si-light si-rounded si-linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
              </a> -->
            </div>
          </div>
        </div>
        <!-- End team member -->

        <div class="col-md-3 col-sm-6 bottommargin">
          <div class="team">
            <div class="team-image">
              <img src="images/team/Tanner.jpg" alt="Tanner Welsh">
            </div>
            <div class="team-desc">
              <div class="team-title">
                <h4>Tanner Welsh </h4><span>Partner</span></div>
              <a href="https://www.twitter.com/tannerwelsh" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
              </a>
              <a href="https://www.linkedin.com/in/tannerwelsh" class="social-icon inline-block si-small si-light si-rounded si-linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- End team member -->

      </div>
      <!-- End Row -->

      <!-- ANOTHER ROW -->
      <div class="row">

        <div class="col-md-3 col-sm-6 bottommargin">
          <div class="team">
            <div class="team-image">
              <img src="images/team/Jeffrey.jpg" alt="Jeffrey Wescott">
            </div>
            <div class="team-desc">
              <div class="team-title">
                <h4>Jeffrey Wescott </h4><span>Partner</span></div>
              <!-- <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
              </a> -->
              <a href="https://www.linkedin.com/in/jeffreywescott" class="social-icon inline-block si-small si-light si-rounded si-linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- End team member -->

      </div>
      <!-- End Row -->

    </div>

  </div>

</section>
<!-- #content end -->
