

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">


					<div class="clear"></div>

					<div class="fancy-title title-border">
						<h3>TEAM</h3>
					</div>


					<div class="row">

						<div class="col-md-3 col-sm-6 bottommargin">

							<div class="team">
								<div class="team-image">
									<img src="images/team/Carla.jpg" alt="Carla Bagdonas">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Carla Bagdonas </h4><span>Partner</span></div>
									<a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
										<i class="icon-twitter"></i>
										<i class="icon-twitter"></i>
									</a>
									<a href="https://www.linkedin.com/in/carlabagdonas" class="social-icon inline-block si-small si-light si-rounded si-linkedin">
										<i class="icon-linkedin"></i>
										<i class="icon-linkedin"></i>
									</a>
								</div>
							</div>

						</div>

						<div class="col-md-3 col-sm-6 bottommargin">

							<div class="team">
								<div class="team-image">
									<img src="images/team/shereef.jpeg" alt="Shereef Bishay">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Shereef Bishay</h4><span>Founder / Partner</span></div>
									<a href="http://twitter.com/shereef" class="social-icon inline-block si-small si-light si-rounded si-twitter">
										<i class="icon-twitter"></i>
										<i class="icon-twitter"></i>
									</a>
									<a href="http://www.linkedin.com/in/shereefbishay" class="social-icon inline-block si-small si-light si-rounded si-linkedin">
										<i class="icon-linkedin"></i>
										<i class="icon-linkedin"></i>
									</a>
								</div>
							</div>

						</div>

						<div class="col-md-3 col-sm-6 bottommargin">

							<div class="team">
								<div class="team-image">
									<img src="images/team/Karim.png" alt="Karim Bishay">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Karim Bishay</h4><span>Partner</span></div>
									<a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
										<i class="icon-twitter"></i>
										<i class="icon-twitter"></i>
									</a>
									<a href="http://www.linkedin.com/in/karimbishay" class="social-icon inline-block si-small si-light si-rounded si-linkedin">
										<i class="icon-linkedin"></i>
										<i class="icon-linkedin"></i>
									</a>
								</div>
							</div>

						</div>


						<div class="col-md-3 col-sm-6 bottommargin">

							<div class="team">
								<div class="team-image">
									<img src="images/team/David.png" alt="David Guendelman">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>David Guendelman </h4><span>Partner</span></div>
									<a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
										<i class="icon-twitter"></i>
										<i class="icon-twitter"></i>
									</a>
									<a href="https://www.linkedin.com/in/david-guendelman-47b4653" class="social-icon inline-block si-small si-light si-rounded si-linkedin">
										<i class="icon-linkedin"></i>
										<i class="icon-linkedin"></i>
									</a>
								</div>
							</div>


						</div>

					</div>


					<!--- ANOTHER ROW -->

					<div class="row">

						<div class="col-md-3 col-sm-6 bottommargin">

							<div class="team">
								<div class="team-image">
									<img src="images/team/Matthew.jpg" alt="Matthew Lee">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Matthew Lee </h4><span>Partner</span></div>
									<a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
										<i class="icon-twitter"></i>
										<i class="icon-twitter"></i>
									</a>
									<a href="https://www.linkedin.com/in/matthewlee1" class="social-icon inline-block si-small si-light si-rounded si-linkedin">
										<i class="icon-linkedin"></i>
										<i class="icon-linkedin"></i>
									</a>
								</div>
							</div>


						</div>

						<div class="col-md-3 col-sm-6 bottommargin">

							<div class="team">
								<div class="team-image">
									<img src="images/team/Omoju.jpg" alt="Omoju Miller">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Omoju Miller </h4><span>Partner</span></div>
									<a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
										<i class="icon-twitter"></i>
										<i class="icon-twitter"></i>
									</a>
									<a href="https://www.linkedin.com/in/omojumiller" class="social-icon inline-block si-small si-light si-rounded si-linkedin">
										<i class="icon-linkedin"></i>
										<i class="icon-linkedin"></i>
									</a>
								</div>
							</div>


						</div>

						<div class="col-md-3 col-sm-6 bottommargin">

							<div class="team">
								<div class="team-image">
									<img src="images/team/Tanner.jpg" alt="Tanner Welsh">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Tanner Welsh </h4><span>Partner</span></div>
									<a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
										<i class="icon-twitter"></i>
										<i class="icon-twitter"></i>
									</a>
									<a href="https://www.linkedin.com/in/tannerwelsh" class="social-icon inline-block si-small si-light si-rounded si-linkedin">
										<i class="icon-linkedin"></i>
										<i class="icon-linkedin"></i>
									</a>
								</div>
							</div>


						</div>

						<div class="col-md-3 col-sm-6 bottommargin">

							<div class="team">
								<div class="team-image">
									<img src="images/team/Jeffrey.jpg" alt="Jeffrey Westcott">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Jeffrey Westcott </h4><span>Partner</span></div>
									<a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
										<i class="icon-twitter"></i>
										<i class="icon-twitter"></i>
									</a>
									<a href="https://www.linkedin.com/in/jeffreywescott" class="social-icon inline-block si-small si-light si-rounded si-linkedin">
										<i class="icon-linkedin"></i>
										<i class="icon-linkedin"></i>
									</a>
								</div>
							</div>


						</div>

					</div>


					<!-- END ROWS -->

					<!--- INVESTORS --->

					<div class="clear"></div>

					<div class="fancy-title title-border">
						<h3>INVESTORS</h3>
					</div>


					<div class="row">

						<div class="col-md-3 col-sm-6 bottommargin">

							<div class="team">
								<div class="team-image">
									<img src="images/team/Bloomberg.jpeg" alt="Bloomberg Beta">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Bloomberg Beta </h4></div>
								</div>
							</div>

						</div>

						<div class="col-md-3 col-sm-6 bottommargin">

							<div class="team">
								<div class="team-image">
									<img src="images/team/Kapor.png" alt="Kapor Capital">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Kapor Capital </h4></div>
								</div>
							</div>

						</div>

						<div class="col-md-3 col-sm-6 bottommargin">

							<div class="team">
								<div class="team-image">
									<img src="images/team/Learn.png" alt="Learn Capital">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Learn Capital </h4></div>
								</div>
							</div>

						</div>

						<div class="col-md-3 col-sm-6 bottommargin">

							<div class="team">
								<div class="team-image">
									<img src="images/team/Obvious.png" alt="Obvious Ventures">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Obvious Ventures </h4></div>
								</div>
							</div>

					 </div>




					</div>
					<!-- # INVESTORS end -->

				</div>

			</div>

		</section><!-- #content end -->
