
<!-- Page Title
============================================= -->
<section id="page-title" class="page-title-parallax page-title-dark" style="background: linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)), url('images/team/team-photo.jpg'); background-size: 100% auto !important; background-repeat:none;" data-stellar-background-ratio="0.4" data-stellar-vertical-offset="-100">

  <div class="container clearfix">
    <h1 style="text-align:center;">About Us</h1>
    <!-- <span>Everything you wanted to know but were afraid to ask</span> -->
  </div>
  
  <!-- scroll down arrow image -->
  <div class="down-image text-center">
    <img src="images/scroll-down.png" alt="Scroll Down">
  </div>

</section><!-- #page-title end -->
