<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap" style="padding:0;">

    <!-- We help those with unrealized potential unlock their talents and transform their lives so they can compete in today’s economy and earn a dignified livelihood. -->

    <section id="mission-vision">
      <div class="container clearfix">
      
        <div class="clear"></div>
      
        <div class="row">
          <div class="fancy-title title-border text-center">
            <h3>Our Mission</h3>
          </div>
          <div class="col-sm-6 col-sm-offset-3">
            <blockquote>&ldquo;To find out what one is fitted to do, and to secure an opportunity to do it, is the key to happiness.&rdquo; ~ John Dewey</blockquote>
          </div>
          <article id="mission" class="col-sm-10 col-sm-offset-1">
            <p>The mission of Learners Guild is to provide the opportunity for anyone who has the will and capacity to become a professional software developer to be able to do so.</p>
            <ul style="padding-left:30px;">
              <li>Today, millions of Americans are unemployed or severely underemployed. At the same time, there are hundreds of thousands of unfilled software engineering jobs, and that number grows every year.</li>
              <li>The higher education system is failing to address this economic challenge, with rising tuition, poor results, and mounting student debt.</li>
              <li>The technology industry has a diversity problem: women are largely underrepresented, and blacks and latinos are almost invisible. As a result the future is being built by people who represent a fraction of it.</li>
            </ul>
            <p>We fulfill our purpose by building a learning community of beginner software developers that is self-organizing, highly scaleable and accessible. Our aim is to support everyone who has the will and capacity to obtain valued employment to do so.</p>
            <p>We build systems that support a thriving learning culture: inclusive, safe, and effective. We invest financial, curricular, and mentoring support in our learning communities. We believe learning is a collective and personal transformation: we provide social and emotional intelligence curricula to facilitate the journey.</p>
            <p>We believe learning should be profitable for everyone: we are for purpose and for profit. We do not sacrifice one for the other. Our financial success is aligned with our learners. We only profit when they do and aim to create significantly more value than we require to operate our business.</p>
            <p>With our learners, we take full responsibility for every member learning the craft and gaining meaningful employment.</p>
          </article>
        </div>
      </div> <!-- close container -->
    </section>

    <section id="hiring">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="text-center">We're Hiring</h3>
            <p class="text-center">Start a fulfilling career at Learners Guild today!</p>
          </div>
          <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
            <div class="button-wrap">
              <a href="https://learnersguild.workable.com" target="_blank" class="btn btn-primary top-btn btn-block">Learn More</a>
              <a href="https://learnersguild.workable.com" target="_blank" class="btn btn-primary bottom-btn btn-block">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="our-team">
      <div class="container clearfix">
        <div class="row">

          <div class="fancy-title title-border text-center">
            <h3>TEAM</h3>
          </div>

          {% for member in site.data.team %}

          <div class="col-md-4 col-sm-6 bottommargin">
            <div class="team">
              <div class="team-image">
                <img src="{{member.image}}" alt="{{member.name}}">
              </div>
              <div class="team-desc">
                <div class="team-title">
                  <h4>{{member.name}} </h4><span>{{member.title}}</span></div>

                  {% if member.twitter %}
                    <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                      <i class="icon-twitter"></i>
                      <i class="icon-twitter"></i>
                    </a>
                  {% endif %}
                  {% if member.linkedin %}
                    <a href="https://www.linkedin.com/in/carlabagdonas" class="social-icon inline-block si-small si-light si-rounded si-linkedin">
                      <i class="icon-linkedin"></i>
                      <i class="icon-linkedin"></i>
                    </a>
                  {% endif %}
              </div>
            </div>
          </div>

          {% endfor %}

        </div> <!-- End Row -->

      </div> <!-- close container -->
    </section>

  </div>

</section>
<!-- #content end -->
