
<!-- Page Title
============================================= -->
<section id="page-title" class="page-title-parallax page-title-dark" style="background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url('images/lgteamall.jpg'); background-size: cover;" data-stellar-background-ratio="0.4" data-stellar-vertical-offset="-100">

  <div class="container clearfix">
    <h1>About Us</h1>
    <!-- <span>Everything you wanted to know but were afraid to ask</span> -->
  </div>

</section><!-- #page-title end -->
