<section id="technical-preparation">
  <div class="container clearfix">
    <div class="row clearfix">
      <div class="heading-block center">
        <h2>Technical Preparation</h2>
        <span>Are you ready for Learners Guild?</span>
      </div>

      <p class="lead">Once you are sure that you are willing to commit to joining our learning collective to pursue a career in web development, the next question you should ask yourself is: am I prepared?</p>

      <p class="lead">You need to prepare for Learners Guild for two main reasons:</p>

      <ol>
        <li class="lead">You need the basic skills to be able to engage in our Enrollment Games and start the program itself</li>
        <li class="lead">You need to have done enough programming to know that you like it, and know that you’re ready to commit to a career as a software developer</li>
      </ol>

      <p class="lead">These technical skills are not advanced, and you can acquire them through many freely available resources. There are two main skills that you’ll need to develop in order to be ready: computational thinking and basic web development aptitude.</p>

      <div class="col_half">
        <h3>Computational thinking</h3>

        <p class="lead"><a href="https://en.wikipedia.org/wiki/Computational_thinking">Computational thinking</a> is the range of cognitive abilities needed to program a computer. It includes abilities like logical reasoning, algorithm design, pattern recognition, and evaluating a series of sequential instructions.</p>

        <p class="lead"><em>To self-assess your computational thinking skills,</em> complete the <a href="https://www.kent.ac.uk/careers/tests/computer-test.htm">Computer Programming Aptitude Test</a> from the University of Kent. If your score is higher than 19, you’re definitely ready for Learners Guild.</p>

        <p class="lead">If your score is lower, you will want to practice more to build up your computational thinking ability. Luckily, computational thinking is a skill just like basketball or dance: the more you practice, the better you’ll get.</p>

        <p class="lead">Here are some resources you can use to grow your computational thinking skills:</p>

        <ul class="list-group">
          <li class="list-group-item"><a href="https://www.google.com/edu/resources/programs/exploring-computational-thinking/">Google&#8217;s Exploring Computational Thinking Page</a></li>
          <li class="list-group-item"><a href="https://blog.udemy.com/logical-reasoning-questions/">Logical Reasoning Questions and Step by Step Solutions For All</a></li>
          <li class="list-group-item"><a href="https://www.khanacademy.org/computing/computer-science">Khan Academy’s Computer Science courses</a>, especially the Algorithms course</li>
        </ul>
      </div>

      <div class="col_half col_last">
        <h3>Basics of web development</h3>

        <p class="lead">The basics of web development covers topics like HTML, CSS, and JavaScript, as well as some conceptual understanding of how browsers and the web work.</p>

        <p class="lead"><em>To self-assess your web development skills,</em> try to complete this <a href="https://gist.github.com/lg-bot/d3653ebe023f0f515644">coding challenge to make a color picker</a> with HTML, CSS, and JavaScript. If you can complete steps 2&#8211;4 of this challenge in less than an hour with no outside help (except for Google, of course), you’re likely skilled enough in basic web development to join Learners Guild.</p>

        <p class="lead">If you aren’t able to complete the challenge, or if it was very difficult for you, then you will want to strengthen your web development skills.</p>

        <p class="lead">Here are ways you can grow your basic web development skills:</p>

        <ul class="list-group">
          <li class="list-group-item"><i class="icon-ok-sign"></i> Read <a href="http://www.20thingsilearned.com/en-US">20 Things I Learned About Browsers and the Web</a></li>
          <li class="list-group-item"><i class="icon-ok-sign"></i> Read and complete <a href="http://learn.shayhowe.com/html-css/">Shay Howe&#8217;s HTML &amp; CSS lessons</a></li>
          <li class="list-group-item"><i class="icon-ok-sign"></i> Read chapters 1&#8211;10 of <a href="http://eloquentjavascript.net/">Eloquent JavaScript</a></li>
          <li class="list-group-item"><i class="icon-ok-sign"></i> Complete <a href="https://www.codecademy.com/learn/make-a-website">Make a Website</a>, <a href="https://www.codecademy.com/en/skills/make-an-interactive-website">Make an Interactive Website</a>, <a href="https://www.codecademy.com/learn/javascript">JavaScript</a> tracks on Codecademy</li>
          <li class="list-group-item"><i class="icon-ok-sign"></i> Complete the <a href="https://www.khanacademy.org/computing/computer-programming/programming">Intro to JS</a> and <a href="https://www.khanacademy.org/computing/computer-programming/html-css">Intro to HTML/CSS</a> course on Khan Academy</li>
        </ul>
      </div>

      <p class="lead"><em>*Note: don’t limit yourself to just the above resources! There are a lot more out there if you do some searching.</em></p>
    </div>
  </div>
</section>
