<!-- Page Title
============================================= -->

<section id="page-title" class="page-title-parallax page-title-dark" style="padding: 300px 0 300px; background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url('images/teamSittedChilling.jpg'); background-size: cover;" data-stellar-background-ratio="0.4" data-stellar-vertical-offset="0">

    <div class="container clearfix">
        <h1 class="text-center">You did it!</h1>
        <span class="text-center"> Thank you for submitting an application to join the Guild. If your application qualifies, we will be contacting you shortly to arrange an online interview.</span>
    </div>
</section><!-- #page-title end -->