<!-- Page Title
============================================= -->

<section id="page-title" class="page-title-parallax page-title-dark" style="padding: 300px 0 300px; background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url('images/teamSittedChilling.jpg'); background-size: cover;" data-stellar-background-ratio="0.4" data-stellar-vertical-offset="0">

  <div class="container clearfix">
      <h1 class="text-center">Thank you for your application <br class="hidden-xs"> to Learners Guild.</h1>
      <span class="text-center">We will be contacting you shortly.</span>
</section><!-- #page-title end -->