<!-- Page Title
============================================= -->

<section id="slider" class="slider-parallax full-screen force-full-screen first-slider">

    <div class="slider-parallax-inner">

        <div class="full-screen force-full-screen dark section nopadding nomargin noborder ohidden" style="background-image: url('images/heo-landing-page-2.jpg'); background-size: cover; background-position: center center;">

            <div class="container center" style="z-index:15;">
                <div class="vertical-middle">
                    <div class="emphasis-title">
                        <h2 class="text-center" style="margin-bottom:0;">Go From Beginner to Full Stack <br class="visible-lg" />Developer in 10 Months,</h2>
                        <h1>
                            <span class="text-rotater nocolor" data-separator="|" data-rotate="fadeIn" data-speed="2000">
                                <span class="t-rotate t700 font-body opm-large-word">Risk Free.|Worry Free.|Debt Free.</span>
                            </span>
                        </h1>
                    </div>
                    <a href="#" data-remodal-target="modal" class="button button-border button-light button-circle" data-easing="easeInOutExpo" data-speed="1250" data-offset="70">Request Application</a>
                    <div class="clearfix"></div>
                    <div class="col-sm-8 col-sm-offset-2">
                        <p class="text-center slider-tagline">We guarantee that you'll land a superb career in software development after completing our 10-month program--<strong>or you owe us nothing.</strong></p>
                        <p class="text-center slider-tagline">We're proud to partner with WomenWhoCode.com. <strong>Welcome, Women Who Code members!</strong></p>
                    </div>
                </div>
            </div>

            <div class="video-wrap">
                <div class="video-overlay" style="background-color: rgba(0,0,0,0.35);"></div>
            </div>

            <a href="#" data-scrollto="#content" data-easing="easeInOutExpo" data-speed="1250" data-offset="65" class="one-page-arrow dark"><i class="icon-angle-down infinite animated fadeInDown"></i></a>

        </div>

    </div>

</section><!-- #slider end