	<!-- Content
	============================================= -->

<div id="wrapper" class="clearfix">
	<section id="content">

		<section id="landing-video" style="padding: 80px 0;">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<div class="row" style="margin-bottom:50px;">
							<div class="col-sm-6 text-center learner-logo"><img src="images/partner-logos/lg-logo.jpg" alt=""></div>
							<div class="col-sm-6 text-center"><img src="images/partner-logos/women-logo.png" alt=""></div>
						</div>
						<h2 class="text-center">Why Learners Guild?</h2>
						<h3 class="text-center">Shereef Bishay, founder of Dev Bootcamp <br class="hidden-xs" />and Learners Guild explains.</h3>

						<script src="//fast.wistia.com/embed/medias/wqsqs6qtcp.jsonp" async></script><script src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_wqsqs6qtcp popover=true popoverAnimateThumbnail=true videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
					</div>
				</div>
			</div>
		</section>

		<style>
			#wistia_19_socialbar .socialbar_button {
				display: none !important;
			}

		</style>

		<section id="quote" class="page-section">
			<div class="container">
				<div class="row mb0">
					<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 quote-container">
						<a href="http://www.inc.com/salvador-rodriguez/long-term-coding-schools.html" target="_blank">
							<div class="row mb0">
								<div class="col-sm-4 text-center" style="padding: 20px 0;">
									<img src="/images/inc-logo-white.jpg" alt="Inc. Quote">
								</div>
								<div class="col-sm-8">
									<p class="mb0" style="font-size:20px;"><em>"I think in 10 years or 20 years, people are going to laugh at the notion that a student should bear the entire financial risk of their education."</em></p>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>

		<div id="section-home" class="page-section">
			<div class="container clearfix">
				<h2 class="divcenter font-body center" style="max-width: 700px; font-size: 40px; margin-bottom: 0;">If You're Passionate About Software Development, Come Learn With Us.</h2>

				<div id="slider-services" class="owl-carousel carousel-widget" data-margin="20" data-loop="true" data-nav="false" data-pagi="true" data-autoplay="4000" data-speed="800" data-items-xs="1"  data-items-sm="1" data-items-lg="1">

					<div class="intro-services center col-padding" style="padding-top:10px;">
						<div class="circle-wrap">
							<i class="i-plain color i-xlarge icon-ok-sign inline-block" style="margin-bottom: 15px;"></i>
						</div>
						<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
							<h4 style="margin-bottom: 15px;">You Pay Us When You Get Paid.</h4>
							<p class="text-muted">What's the catch? There is no catch. As part of an Income Sharing Agreement, no more than 20% of your first three years' salary will go to paying for your Learners Guild education. As a Public Benefit Corporation, we want our success to be tied to your success.</p>
						</div>
						<div><a href="#" data-remodal-target="modal" data-offset="70" class="button button-dark button-rounded button-small t600" >Request Application</a></div>
					</div>

					<div class="intro-services center col-padding" style="padding-top:10px;">
						<div class="circle-wrap">
							<i class="i-plain color i-xlarge icon-calendar inline-block" style="margin-bottom: 15px;"></i>
						</div>
						<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
							<h4 style="margin-bottom: 15px;">Countdown to a New Career.</h4>
							<p class="text-muted">February 13th 2017: That’s when you’ll begin your 10-month journey with Learners Guild -- a college alternative training program from the founder of Dev Bootcamp</strong>.</p>
						</div>
						<div><a href="#" data-remodal-target="modal" data-offset="70" class="button button-dark button-rounded button-small t600">Request Application</a></div>
					</div>

					<div class="intro-services center col-padding" style="padding-top:10px;">
						<div class="circle-wrap">
							<i class="i-plain color i-xlarge icon-laptop inline-block" style="margin-bottom: 15px;"></i>
						</div>
						<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
							<h4 style="margin-bottom: 15px;">Learn Code From Other Coders</h4>
							<p>You’ll be collaborating with your peers every day  on real-world problems under the guidance of <strong>senior level engineers and skilled learning facilitators.</strong></p>
						</div>
						<div><a href="#" data-remodal-target="modal" data-offset="70" class="button button-dark button-rounded button-small t600">Request Application</a></div>
					</div>

					<div class="intro-services center col-padding" style="padding-top:10px;">
						<div class="circle-wrap">
							<i class="i-plain color i-xlarge icon-money inline-block" style="margin-bottom: 15px;"></i>
						</div>
						<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
							<h4 style="margin-bottom: 15px;">No Upfront Costs, No Risks. Period.</h4>
							<p>We have a simple proposition: come learn with us. We'll cover your program fees. <strong>After you get a full-time job as an engineer, you can repay us.</strong> And if you don't get a job in web development, that’s on us, not on you: <strong>you'll owe us nothing.</strong></p>
						</div>
						<div><a href="#" data-remodal-target="modal" data-offset="70" class="button button-dark button-rounded button-small t600">Request Application</a></div>
					</div>
				</div>
				<div class="line"></div>
			</div>
		</div>

		<section id="animate-in">
			<div class="container clearfix">
				<div class="col_three_fifth topmargin-sm bottommargin">
					<img data-animate="fadeInLeftBig" src="images/photo5.jpg" alt="Imac">
				</div>
				<div class="col_two_fifth topmargin-sm bottommargin-lg col_last">
					<div class="heading-block">
						<h2>Prepare Yourself for an Open Source World.</h2>
						<span>No books, no cookie-cutter curriculum, no teachers.</span>
					</div>
					<p>Imagine being surrounded by a group of people as passionate about programming as you are. Your job for 40 weeks: to collaborate with coders of all experience levels on challenges that simulate actual scenarios in the real world.</p>
					<a href="#" data-remodal-target="modal" class="button button-border button-rounded button-large noleftmargin topmargin-sm">Request Application</a>
				</div>

				<div class="col_two_fifth topmargin-sm bottommargin-lg hidden-xs">
					<div class="heading-block">
						<h2>Wait. No Teachers?</h2>
						<span>We don't believe in one-size-fits-all learning.</span>
					</div>
					<p>If you're looking for a set curriculum like the one you would find at a school or bootcamp, you won't find it at Learners Guild</p>
					<p>We believe the best answer to "what should I learn?" is "whatever the most skilled people around you know." So <strong>we've created a learning collective--a learners-only apprenticeship program.</strong></p>
					<p>You'll be learning skills and receiving guidance from full-stack JavaScript web developers--some of whom are pioneers in the tech world. And within 10 weeks of the program, <strong>you'll act as a mentor to a newer cohort of learners</strong>, guiding them as they encounter concepts that you've recently mastered.</p>
				</div>
				<div class="col_three_fifth topmargin-sm bottommargin col_last hidden-xs">
					<img data-animate="fadeInRightBig" src="images/photo2.jpg" alt="Imac">
				</div>

				<div class="col_three_fifth topmargin-sm bottommargin visible-xs">
					<img data-animate="fadeInRightBig" src="images/photo2.jpg" alt="Imac">
				</div>
				<div class="col_two_fifth topmargin-sm bottommargin-lg visible-xs col_last">
					<div class="heading-block">
						<h2>Wait. No Teachers?</h2>
						<span>We don't believe in one-size-fits-all learning.</span>
					</div>
					<p>If you're looking for a set curriculum like the one you would find at a school or bootcamp, you won't find it at Learners Guild</p>
					<p>We believe the best answer to "what should I learn?" is "whatever the most skilled people around you know." So <strong>we've created a learning collective--a learners-only apprenticeship program.</strong></p>
					<p>You'll be learning skills and receiving guidance from full-stack JavaScript web developers--some of whom are pioneers in the tech world. And within 10 weeks of the program, <strong>you'll act as a mentor to a newer cohort of learners</strong>, guiding them as they encounter concepts that you've recently mastered.</p>
				</div>

				<div class="col_three_fifth topmargin-sm bottommargin">
					<img data-animate="fadeInLeftBig" src="images/photo3.jpg" alt="Imac">
				</div>
				<div class="col_two_fifth topmargin-sm bottommargin-lg col_last">
					<div class="heading-block">
						<h2>Have a Life Outside of Learning</h2>
						<span>We meet every weekday from 8:30am - 6:00pm.</span>
					</div>
					<p>You shouldn’t have to sacrifice all of your free time or your family’s well-being while getting an immersive education. At Learners Guild, you’ll have time to spend with your family and friends so you can <strong>return the next day refreshed and ready to learn.</strong></p>
					<a href="#" data-remodal-target="modal" class="button button-border button-rounded button-large noleftmargin topmargin-sm">Request Application</a>
				</div>

				<div class="col_two_fifth topmargin-sm bottommargin-lg hidden-xs">
					<div class="heading-block">
						<h2>Nothing To Lose. Everything to Gain.</h2>
						<span>Getting an education should never be a risk.</span>
					</div>
					<p><strong>You shouldn't have to go into tens of thousands of dollars of debt</strong> before you even earn a penny in the career you're training for.
					<p>And <strong>you shouldn't have to worry</strong> about how you're going to pay the bills or support your family while you study to earn a better livelihood.</p>
					<p>So here is our guarantee: <strong>we'll cover your program fees and $1500 per month of your living expenses</strong> for the duration of the program. Only when you've obtained a full-time position in a development career will we ask you to pay us back.</p>
					<p><strong>No risks, no worry, no debt. Period.</strong></p>
				</div>
				<div class="col_three_fifth topmargin-sm bottommargin col_last hidden-xs">
					<img data-animate="fadeInRightBig" src="images/photo4.jpg" alt="Imac">
				</div>
				<div class="col_three_fifth topmargin-sm bottommargin col_last visible-xs">
					<img data-animate="fadeInRightBig" src="images/photo4.jpg" alt="Imac">
				</div>
				<div class="col_two_fifth topmargin-sm bottommargin-lg visible-xs">
					<div class="heading-block">
						<h2>Nothing To Lose. Everything to Gain.</h2>
						<span>Getting an education should never be a risk.</span>
					</div>
					<p><strong>You shouldn't have to go into tens of thousands of dollars of debt</strong> before you even earn a penny in the career you're training for.
					<p>And <strong>you shouldn't have to worry</strong> about how you're going to pay the bills or support your family while you study to earn a better livelihood.</p>
					<p>So here is our guarantee: <strong>we'll cover your program fees and $1500 per month of your living expenses</strong> for the duration of the program. Only when you've obtained a full-time position in a development career will we ask you to pay us back.</p>
					<p><strong>No risks, no worry, no debt. Period.</strong></p>
				</div>

			</div>
		</section>

		<section id="quote" class="page-section">
			<div class="container">
				<div class="row mb0">
					<div class="col-sm-8 col-sm-offset-2 quote-container">
						<a href="http://www.inc.com/salvador-rodriguez/long-term-coding-schools.html" target="_blank">
							<div class="row mb0">
								<div class="col-sm-4 text-center" style="padding: 20px 0;">
									<img src="/images/inc-logo-white.jpg" alt="Inc. Quote">
								</div>
								<div class="col-sm-8">
									<p class="mb0" style="font-size:20px;"><em>"It's not just these schools' business model that stands out. They also have a unique way of admitting students, teaching them, and ensuring that their classes can attract individuals of all socioeconomic backgrounds."</em></p>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>

		<section id="our-team">
		  <div class="container clearfix">
		    <div class="row">

		      <div class="fancy-title title-border text-center">
		        <h3>MEET THE TEAM</h3>
		      </div>

		      {% for member in site.data.team %}

		          <div class="col-md-3 col-sm-6 bottommargin">
		            <div class="team">
		              <div class="team-image">
		                <img src="{{member.image}}" alt="{{member.name}}">
		              </div>
		              <div class="team-desc">
		                <div class="team-title">
		                  <h4>{{member.name}} </h4><span>{{member.title}}</span></div>

		                  {% if member.twitter %}
		                    <a href="{{member.twitter}}" class="social-icon inline-block si-small si-light si-rounded si-twitter">
		                      <i class="icon-twitter"></i>
		                      <i class="icon-twitter"></i>
		                    </a>
		                  {% endif %}
		                  {% if member.linkedin %}
		                    <a href="{{member.linkedin}}" class="social-icon inline-block si-small si-light si-rounded si-linkedin">
		                      <i class="icon-linkedin"></i>
		                      <i class="icon-linkedin"></i>
		                    </a>
		                  {% endif %}
		              </div>
		            </div>
		          </div>
		          
		          {% if forloop.index == 12 %}
		            </div>
		          {% elsif forloop.index == 4 %}
		            </div><div class="row">
		          {% elsif forloop.index == 8 %}
		            </div><div class="row">
		          {% endif %}

		      {% endfor %}

		    </div> <!-- End Row -->
		  </div> <!-- close container -->
		</section>

		{% include college-comp.html %}

		<section id="new-life">
			<div class="section notopborder nobottomborder nomargin nopadding nobg">
				<div class="container clearfix">

					<div class="col_half nobottommargin topmargin">
						<img src="images/services/4.jpg" alt="Image" class="nobottommargin">
					</div>

					<div class="col_half subscribe-widget nobottommargin col_last">

						<div class="heading-block topmargin-lg">
							<h3><strong>Your New Life <br class="visible-xs" />Begins Now.</strong></h3>
							<span>Our Next Oakland cohort begins Nov. 28th, 2016.</span>
						</div>

						<p>A richly diverse community of peers, all on their way to fulfilling careers in software engineering, all under the guidance of proven experts in the field. <strong>Free of risk, free of debt, free to learn.</strong></p>
						<p style="margin-bottom: 30px;">We hope to see you there.</p>
						<a href="#" data-remodal-target="modal" class="button button-border button-rounded button-large noleftmargin topmargin-sm">Request Application</a>
					</div>
				</div>
			</div>
		</section>

	</section>
</div>

<div class="remodal" data-remodal-id="modal">
  <button data-remodal-action="close" class="remodal-close"></button>
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
  <script>
    hbspt.forms.create({
      portalId: '2144508',
      formId: '43e7b6e9-70ab-4b13-a7e7-424d14173702'
    });
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','//connect.facebook.net/en_US/fbevents.js');

    
  </script>
</div>

