//blank

.ab1:hover *, .ab1:hover, .ab1:hover a, .ab1:hover a*{
  color:white !important;
}

.b1, .b1 *, .b1:hover, .b1:hover *{
color:white !important;
}

@media (max-width: 800px) {
  
  P{
   font-size:18px !important; 
    max-width:95%;
  }
  
  .hlogo1{
  text-align: center;
width: 175px !important;
display: block !important;
margin: 0 !important;
height: 39px !important;
margin-top: 8px !important;
  }
  
  
}
