//blank

.ab1:hover *, .ab1:hover{
  color:white !important;
}

.b1, .b1 *, .b1:hover, .b1:hover *{
color:white !important;
}

@media (max-width: 800px) {
  
  P{
   font-size:18px !important; 
    max-width:95%;
  }
  
  .hlogo1{
  text-align: center;
width: 175px;
display: block;
margin: 0;
height: 39px;
margin-top: 8px;
  }
  
  
}
