.about-splash,
.about-page_block3 {
  background-size: 100% auto;
  color: #fff;
  height: 775px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-splash {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/images/newres/aboutbg1.png');
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}
.text-yellow {
  color: #f2ba19;
}
h3.about-page_block-text {
  font-family: "Proxima";
}
p.carousel-text-2 {
  font-size: 4vw;
}

h2.about-page_block-header {
  font-size: 600%;
  text-shadow: 1px 1px 1px #000;
}
.curly-brace {
  font-size: 200%;
}
#aboutCarousel .carousel-indicators li {
  background-color: grey !important;
}

.carousel-indicators .active {
  background-color: #ec3656 !important;
}

#aboutCarousel {
  max-height: 70vh;
  margin-bottom: 20px;
  padding: 20px;
}

.about-splash div {
  font-family: 'Proxima';
}

.text-green {
  color: #8dc235;
}

.about-splash div {
  font-size:60px;
  padding-top:40px;
  letter-spacing:2px;
}

.about-page_block2 {
  margin: 80px 0px;
}

.about-page_block2 h2 {
  color: #20202b;
  font-size: 56px;
}

.item .container-fluid {
  margin: 20px 0px;
  padding: 10px;
  max-width: 1000px;
}

.about-carousel-img {
  width:100%;
  padding:20px;
}

.cboth {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-carousel-jusleft {
  text-align: left;
}

.about-carousel-jusleft h2 {
  font-size:48px;
  margin:20px 0px;
}

.about-carousel-jusleft p {
  font-size:22px;
}

.about-carousel-jusleft:nth-child(1) h2 span {
  color:#8dc235;
}
.about-carousel-jusleft:nth-child(3) h2 span {
  color:#f0b219;
  background:blue;
}

.about-carousel-indicators li {
  background: gray;
}

.about-carousel-indicators .active {
  background: #ec3656;
}

.teamblock {
  background: #f4f4f4;
  padding:80px 0px;
}

.teamblock .td1 {
  font-size: 150%;
  padding: 2px;
  background: #fff;
  text-align: left;
  line-height: 10px;
  margin-bottom: 10px;
  padding: 13px;
}

p.td1 {
  font-size: 150%;
  margin-bottom: 2%;
}
#aboutCarousel .glyphicon-chevron-right:before, #aboutCarousel .glyphicon-chevron-left:before {
  color: #0099da;
}
.teamblock .col-xs-4 * {
  background: #fff;
}
.about-page_block4 {
  padding: 2% 5%;
  background-color: #e9e9e9;
}
div#aboutCarousel2.carousel.slide {
  margin-right: 0px !important;
}
.about-page_block4-text {
  font-size:60px;
  text-align: center;
}

h2.about-page_block4-text {
  margin: 20px 0;
  padding: 20px 0;
}
.teamblock .container-fluid {
  margin-top: 40px;
}
.td1 {
  padding-top: 20px;
  color: #20202b;
  text-transform: uppercase;
  font-weight: bold;
}
.td2 {
  color: #626366;
}
.tdd {
  float: right;
  padding: 20px;
  display: none;
}
.pic1 {
  width: 100%;
}
.cwidth1,
.teamblock .container-fluid {
  max-width: 1000px;
  max-height: 500px !important;
}

.carousel-inner.about-page {
  padding: 20px 0;
}

.about-page_block3 {
  min-height: 600px;
  display: flex;
  margin-top: 50px;
  color: white;
  flex-direction: column;
  width: 100%;
}


.picture1 {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/newres/aboutbg3.png');
}
.carousel-header {
  font-size: 42px;
  border-bottom: 12px solid #f2ba19;
}
.picture1, .picture2, .picture3, .picture4, .picture5 {
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
}

.picture2 {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/about2/layer_59_720.png');
}

.picture3 {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/about2/layer_60_720.png');
}

.picture4 {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/about2/layer_61_720.png');
}

.picture5 {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/about2/layer_62_720.png');
}

.row.block5.about {
  padding: 30px;
}

#aboutCarousel2 {
  color: white;
  text-align: center;
}
#aboutCarousel2 p {
  padding: 10% 25%;
  text-shadow: 1px 1px 1px #000;
  font-size: 3vh;
  line-height: 60px;
}
.about-part-of-our-story {
  min-height: 400px;
  padding: 10%;
  text-align: center;
  background-image: url('/images/newres/aboutbg5.png');
  background-repeat: repeat;
  background-size: 141px 39px;
}
.about-part-of-our-story h2 {
  font-size:56px;
}

.about-part-of-our-story div {
  background: #ec3555;
  padding: 14px;
  border-radius: 30px;
  width: 180px;
  margin: 30px;
}

div.mobile {
  display: none;
}

.about-part-of-our-story div a {
  color: #fff;
}
