@media(max-width: 1199px){
  .team-meta {
    padding: 20px;
  }
}
@media(max-width: 991px){
  
}
@media(max-width: 767px) {
  .about-splash {
    height: 300px !important;
  }
  .about-page_block2 {
    padding: 30px 0;
  }
  .about-page_block3 {
      margin-top: 10px;
  }
  .carousel-header {
    font-size: 20px !important;
    border-bottom: 3px solid #f2ba19 !important;
  }
  #aboutCarousel .carousel-inner {
      height: 470px;
  }
  #aboutCarousel img {
    height: 150px;
  }
  #aboutCarousel .carousel-header,#story-carousel .carousel-header {
    margin-bottom: 20px;
  }
  #story-carousel .left-control {
    left: 10px;
  }
  #story-carousel .right-control {
    right: 10px;
  }
  #story-carousel .container {
    padding: 0 50px;
  }
  #story-carousel .item {
    height: 285px;
  }
  #story-carousel .item img {
    width: 100%;
    height: 250px !important;
  }
  #story-carousel .carousel-caption {
    top: 35%;
  }
  #story-carousel .arrow-controls {
    top: 26%;
  }
  .believe {
    margin-bottom: 20px;
  }
  .picture1, .picture2, .picture3, .picture4, .picture5 {
    height: 330px !important;
  }
  p.td1 {
    font-size: 100% !important;
  }

  div.mobile {
    display: block;
  }
  div.full-screen {
    display: none;
  }

  .about-part-of-our-story {
    min-height: 200px !important;
  }

  h3.about-page_block-text {
    font-size: 90%;
  }

  .picture1, .picture2, .picture3, .picture4, .picture5 {
    width: 100%;
    height: 300px;
  }

  p.carousel-text-2 {
    font-size: 14px !important;
  }

  .about-part-of-our-story {
    min-height: 200px;
  }
  .about-page_block2 h2 {
    font-size: 36px;
  }
  .about-carousel-jusleft h2 {
    font-size: 26px;
  }
  .carousel-inner {
    margin: 0px !important;
    display: flex;
    flex-direction: row;
  }
  .about-carousel-jusleft p {
    font-size: 16px;
  }
  .about-page_block4 {
    padding-bottom: 0;
  }
  .about-page_block4 .col-sm-4 {
    margin-bottom: 30px;
  }
  .about-part-of-our-story {
    padding: 50px 0;
  }
  .about-part-of-our-story h2 {
    font-size: 34px;
  }
}
@media(max-width: 400px) {
  #aboutCarousel .carousel-inner {
      height: 540px;
  }
 }