@media(max-width: 1200px){
  .blog-author-meta {
    width: 27%;
  }
}
@media(max-width: 991px){
  #community-posts {
    padding: 40px 80px;
  }
  .blog-author-meta {
    width: 37%;
  }
}
@media(max-width: 800px){
  #community-posts {
    padding: 40px 20px;
  }
}
@media(max-width: 767px){
  .community-splash .splash-headline {
    font-size: 30px;
  }
  .post {
    margin-bottom: 30px;
  }
  .blog-author-meta {
    width: 75%;
  }
  .blog-post-title {
    font-size: 28px;
  }
}