.community-splash {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/newres/communitybg1.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 50vh;
  max-height: 400px;
  padding-top: 5%;
}
.community-page_block1-nav {
  width: 50%;
  margin: 50px auto;
}
#myplay1 {
  margin-bottom: 15px;
}
ul.community-page_block1-nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  color: #e9e9e9;
}
ul.community-page_block1-nav>li>a:hover {
  color: black;
  text-decoration: none;
}
.community-page_block1-nav a:visited {
  color: inherit;
  text-decoration: none;
}
.community-page_block1-video {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}

.community-page_button {
  width: 25%;
}
div.wistia_embed.wistia_async_8m601o0qqk {
  height: 349px;
  width: 500px;
}
ul.community-page_block1-nav {
  margin: 10px;
  font-size: 14px;
  width: 100%;
  padding: 0;
}
.community-page_block1-nav>a,
.community-page_block1-nav>li {
  margin: 5px;
}
.community-page_block1-nav a {
  color: inherit;
  text-decoration: none
}
img.community-page_block3-image {
  width: 50px;
}
.image2 {
  width: 80%;
}
.community-page_block2 {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin: 10px 0;
}
.wistia_responsive_padding {
  padding: 56.25% 0 28px 0;
  position: relative;
}
.wistia_responsive_wrapper {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.wistia_responsive_wrapper>span {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.community-page_block3 {
  padding: 2%;
  background-color: #e9e9e9;
}
p.community-page_block3-subtext {
  text-align: left;
  font-size: 24px;
  color: grey;
}
.community-page_block3-image {
  float: left;
}
.community-page_block3-subtext-white {
  padding: 15px;
  background: white;
  width: 80%;
}
.community-page_block3-subtext-white>p,
h5 {
  text-align: left;
}
p#subtitle1 {
  color: #f2b318;
}
p#subtitle2 {
  color: #eb3755;
}
p.subtitle {
  font-size: 22px;
  text-align: left;
  font-weight: bold;
}
h5#subtitle1, h5#subtitle2 {
  font-size: 200%;
  color: black;
}
a.community-page_block3-link:hover {
  text-decoration: none;
}
.container-mobile.block {
  display: none;
}

