@font-face {
  font-family: 'Proxima';
  src: url("../images/newres/proxima.otf") format("opentype");
}

@font-face {
  font-family: 'StagLight';
  src: url("../fonts/Stag-Light.otf") format("opentype");
}

.community-page_block1 {
  padding: 50px;
}

.community-page_block1-video {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}

div.wistia_embed.wistia_async_8m601o0qqk {
  height: 349px;
  width: 500px;
}


ul.community-page_block1-nav {
  margin: 10px;
  font-size: 14px;
  width: 100%;
  padding: 0;
}

.community-page_block1-nav > a, .community-page_block1-nav > li {
  margin: 5px;
}

img.community-page_block3-image {
  width: 50px;
}

.image2 {
  width: 80%;
}

.community-page_block2 {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin: 10px 0;
}

.wistia_responsive_padding {
  padding: 56.25% 0 28px 0;
  position: relative;
}

.wistia_responsive_wrapper {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.wistia_responsive_wrapper > span {
  display: inline-block;
  height: 100%;
  width: 100%;
}

h3.community-page_block-text {
  font-family:'Proxima';
  width: 70%;
  padding: 16px 0;
  color: white;
  margin: 30px 0;
  font-size: 16px;
}

.community-page_block1 {
  background-image: url('../images/newres/communitybg1.png');
  background-color:
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.button {
  margin: 40px;
}

.btn.round {
  background-color: #ee255b;
  color: white;
  border-radius: 20px;
  font-size: 14px;
  width: 20%;
}

.community-page_block-header {
  font-family: "Stag";
  color: white;
  font-size: 40px;
}

.community-page_block1-nav {
  width: 50%;
  margin: 50px auto;
}

ul.community-page_block1-nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  color: #e9e9e9;
}

ul.community-page_block1-nav > li > a:hover {
  color: black;
  text-decoration: none;
}

.community-page_block1-nav a:visited {
  color: inherit;
  text-decoration: none;
}

.community-page_block3 {
  padding: 5%;
  background-color: #e9e9e9;
}

.community-page_block1-nav a {
  color: inherit;
  text-decoration: none
}

p.community-page_block3-subtext {
  color: grey;
}

.community-page_block3-image {
  float: left;
}

.community-page_block3-subtext-white {
  padding: 15px;
  background: white;
  width: 80%;
}

.community-page_block3-subtext-white > p, h5{
  text-align: left;
}

p#subtitle1 {
  color: #f2b318;
}

p#subtitle2 {
  color: #eb3755;
}

h5#subtitle1, h5#subtitle2 {
  font-family: 'StagLight';
  font-size: 18px;
  color: black;
}

a.community-page_block3-link:hover{
  text-decoration: none;
}

.container-mobile.block {
  display: none;
}

/*individual*/

.community-page-individual_block1 {
  background-image: url('../images/newres/community-ana-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  width: 100%;
}

.community-page-individual_block1-header {
  color: #ec3555;
  border-bottom: 4px solid #009cdc;
  padding-bottom: 8px;
  width: 160px;
}

.community-page-individual_block2 {
  background: white;
  position: relative;
  top: -50px;
  width: 500px;
  padding: 30px;
  z-index: 10;
}

h2.community-page-individual_block1-text {
  font-family: "StagLight";
}

.community-page-individual_block1-image {
  max-width: 100%;
  margin: auto;
}

.community-page-individual_block3 {
  background: #e9e9e9;
  height: 150px;
}

div.community-page-individual_block3-text {
  padding: 5% 25%;
  background: #e9e9e9;
  width: 100%;
  font-size: 16px;
  font-family: "Proxima";
  text-align: left;
  line-height: 28px;
  margin: 0 !important;
}

.community-page-individual_block3-text > p, .wistia_embed.wistia_async_8m601o0qqk {
  width: 85%;
  margin: 20px auto;
}

.community-page-individual_block1b {
  background-image: url('../images/newres/hp2.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  width: 100%;
}

.community-page-individual_block1-icon {
  width: 10%;
}

.curly-brace {
  font-size: 30px;
}

#blue-title {
  color: #009cdc !important;
}
