.community-splash {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/newres/communitybg1.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 50vh;
  max-height: 400px;
  padding-top: 5%;
}
.community-page_block1-nav {
  width: 50%;
  margin: 50px auto;
}
ul.community-page_block1-nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  color: #e9e9e9;
}
ul.community-page_block1-nav>li>a:hover {
  color: black;
  text-decoration: none;
}
.community-page_block1-nav a:visited {
  color: inherit;
  text-decoration: none;
}
.community-page_block1-video {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}

.community-page_button {
  width: 25%;
}
div.wistia_embed.wistia_async_8m601o0qqk {
  height: 349px;
  width: 500px;
}
ul.community-page_block1-nav {
  margin: 10px;
  font-size: 14px;
  width: 100%;
  padding: 0;
}
.community-page_block1-nav>a,
.community-page_block1-nav>li {
  margin: 5px;
}
.community-page_block1-nav a {
  color: inherit;
  text-decoration: none
}
img.community-page_block3-image {
  width: 50px;
}
.image2 {
  width: 80%;
}
.community-page_block2 {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin: 10px 0;
}
.wistia_responsive_padding {
  padding: 56.25% 0 28px 0;
  position: relative;
}
.wistia_responsive_wrapper {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.wistia_responsive_wrapper>span {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.community-page_block-header {
  font-family: "stag";
  font-weight: 500;
  color: white;
  font-size: 600%;
}
.community-page_block3 {
  padding: 2%;
  background-color: #e9e9e9;
}
p.community-page_block3-subtext {
  text-align: left;
  font-size: 24px;
  color: grey;
}
.community-page_block3-image {
  float: left;
}
.community-page_block3-subtext-white {
  padding: 15px;
  background: white;
  width: 80%;
}
.community-page_block3-subtext-white>p,
h5 {
  text-align: left;
}
p#subtitle1 {
  color: #f2b318;
}
p#subtitle2 {
  color: #eb3755;
}
p.subtitle {
  font-size: 22px;
  text-align: left;
  font-weight: bold;
}
h5#subtitle1, h5#subtitle2 {
  font-family: "stag";
  font-weight: 300;
  font-size: 200%;
  color: black;
}
a.community-page_block3-link:hover {
  text-decoration: none;
}
.container-mobile.block {
  display: none;
}

/*individual*/

.community-page-individual_block1 {
  background-image: url('../images/newres/community-ana-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  width: 100%;
}
.community-page-individual_block1-header {
  color: #ec3555;
  border-bottom: 4px solid #009cdc;
  padding-bottom: 8px;
  width: 160px;
}
.community-page-individual_block2 {
  background: white;
  position: relative;
  text-align: left;
  top: -50px;
  padding: 30px;
  width: 40%;
  height: 200%;
  z-index: 10;
  font-size: 1.5em;
}

h2.community-page-individual_block1-text {
  font-family: "stag";
  font-weight: 400;
}
.community-page-individual_block1-image {
  max-width: 100%;
  margin: auto;
}
div.community-page-individual_block3-text {
  padding: 5% 25%;
  background: #e9e9e9;
  width: 100%;
  font-size: 16px;
  font-family: "proxima";
  font-weight: 400;
  text-align: left;
  line-height: 28px;
  margin: 0 !important;
}
img#wistia_48.thumbnail_img {
  width: 100px
}
.community-page-individual_block3-text>p,
.wistia_embed.wistia_async_8m601o0qqk {
  text-align: left;
  margin: 3% 10%;
  font-size: 24px;
  line-height: 30px;
}

.community-page-individual_block1b {
  background-image: url('../images/newres/hp2.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  width: 100%;
}
.community-page-individual_block1-icon {
  width: 10%;
}
#blue-title {
  color: #009cdc !important;
}
.community-page-individual_block4-text {
  text-align: center;
  padding: 20px;
  font-size: 20px;
}
.fa.fa-facebook-square.commmunity,
.fa.fa-twitter-square.commmunity {
  font-size: 50px;
}
.community-page-individual_block1c {
  height: 500px;
  text-align: center;
  background-image: url('/images/partner-logos/Fast-Company-logo.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}
p.community-block-quote {
  border-top: #e9e9e9 4px solid;
  border-bottom: #e9e9e9 4px solid;
  padding: 10px 0;
  font-family: "stag";
  font-weight: 400;
  text-align: left;
  font-weight: lighter;
  margin: 2% 0;
  font-size: 1.3em;
  line-height: 201%;
}
span.quotes {
  color: #f2b317;
  font-size: 210%;
}
#yellow-title {
  color: #f2b317;
}

.container-mobile.block {
  display: none;
}
