@font-face {
  font-family: stag;
  font-weight: 300;
  src: url("/fonts/Stag-Light.otf") format("opentype");
}

@font-face {
  font-family: stag;
  font-weight: 400;
  src: url("/fonts/Stag-Regular.otf") format("opentype");
}

@font-face {
  font-family: stag;
  font-weight: 500;
  src: url("/fonts/Stag-Medium.otf") format("opentype");
}

@font-face {
  font-family: stag;
  font-weight: 600;
  src: url("/fonts/Stag-Bold.otf") format("opentype");
}

@font-face {
  font-family: proxima;
  font-weight: 400;
  src: url("/fonts/ProximaNova-Regular.otf") format("opentype");
}

@font-face {
  font-family: proxima;
  font-weight: 500;
  src: url("/fonts/ProximaNova-Semibold.otf") format("opentype");
}

@font-face {
  font-family: proxima;
  font-weight: 600;
  src: url("/fonts/ProximaNova-Bold.otf") format("opentype");
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  padding-top: 29px;
  overflow-x: hidden;
}

.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  padding-top: 33px;
}

.wrapper:after {
  content: "";
  display: block;
}

p {
  font-family: proxima;
  font-weight: 400;
}

h1, h2, h3 {
  font-family: stag;
  font-weight: 600;
}

h4, h5, h6 {
  font-family: stag;
  font-weight: 300;
}

h1, h2 {
  letter-spacing: 3px;
}

h3, h4 {
  letter-spacing: 2px;
}

h5, h6 {
  letter-spacing: 1px;
}

.button {
  margin: 40px;
}
.btn.round {
  background: #ee255b;
  border-radius: 40px;
  border: 0;
  padding: 14px;
  margin: 40px;
  color: white;
  text-align: center;
  margin: auto;
  border: 2px solid #ee255b;
  transition: all 0.3s ease-in-out;
}
.btn.round:hover {
  background-color: transparent;
  color: #ee255b;
  border: 2px solid #ee255b;
}

.curly-brace {
  font-size: 200%;
}

.splash-header {
  font-family: 'proxima'!important;
  font-weight: 400;
  font-size: 150%;
  color: #F2BB1A;
  width: 70%;
  margin: 30px 0;
}

.splash-headline {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  font-size: 4em;
  padding: 0;
  margin-top: 0;
}