@font-face {
  font-family: stag;
  font-weight: 300;
  src: url("/fonts/Stag-Light.otf") format("opentype");
}

@font-face {
  font-family: stag;
  font-weight: 400;
  src: url("/fonts/Stag-Regular.otf") format("opentype");
}

@font-face {
  font-family: stag;
  font-weight: 500;
  src: url("/fonts/Stag-Medium.otf") format("opentype");
}

@font-face {
  font-family: stag;
  font-weight: 600;
  src: url("/fonts/Stag-Bold.otf") format("opentype");
}

@font-face {
  font-family: proxima;
  font-weight: 400;
  src: url("/fonts/ProximaNova-Regular.otf") format("opentype");
}

@font-face {
  font-family: proxima;
  font-weight: 500;
  src: url("/fonts/ProximaNova-Semibold.otf") format("opentype");
}

@font-face {
  font-family: proxima;
  font-weight: 600;
  src: url("/fonts/ProximaNova-Bold.otf") format("opentype");
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  padding-top: 60px;
  overflow-x: hidden;
}

.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  padding-top: 33px;
}

.wrapper:after {
  content: "";
  display: block;
}

p {
  font-family: proxima;
  font-weight: 400;
}

h1, h2, h3 {
  font-family: stag;
  font-weight: 600;
}

h4, h5, h6 {
  font-family: stag;
  font-weight: 300;
}

h1, h2 {
  letter-spacing: 3px;
}

h3, h4 {
  letter-spacing: 2px;
}

h5, h6 {
  letter-spacing: 1px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb50 {
  margin-bottom: 50px;
}
.button {
  margin: 40px;
}
.btn.round {
  background: #ee255b;
  border-radius: 40px;
  padding: 14px;
  margin: 40px;
  color: white;
  text-align: center;
  margin: auto;
  border: 2px solid #ee255b;
  transition: all 0.3s ease-in-out;
}
.btn.round:hover {
  background-color: #FFF;
  color: #000;
  border: 2px solid #ee255b;
}

.curly-brace {
  font-size: 200%;
}
.splash-meta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.splash-header {
  font-family: 'proxima'!important;
  font-weight: 400;
  font-size: 16px;
  color: #FFF;
  width: 70%;
  margin-top: 0;
  margin-bottom: 40px;
}

.splash-header span {
  background-color: #f2b317;
  padding: 10px 30px;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0px;
}

.splash-headline {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  font-size: 4em;
  padding: 0;
  margin-top: 0;
}

.carousel-control {
  width: 25%;
}
@media(max-width: 991px){
  .splash-headline {
    font-size: 3em;
    padding: 0 30px;
  }
}
@media(max-width: 767px){
  .splash-headline {
    font-size: 34px;
  }
  #myCarousel .carousel-indicators li,#myCarousel .carousel-indicators li.active {
    width: 15px !important;
    height: 15px !important;
    margin: 1px 4px;
  }
}