@font-face {
  font-family: 'Proxima';
  src: url("../images/newres/proxima.otf") format("opentype");
}

@font-face {
  font-family: 'ProximaNova-Light';
  src: url("../fonts/newres/ProximaNova-Light.otf") format("opentype");
}
@font-face {
  font-family: 'StagLight';
  src: url("../fonts/Stag-Light.otf") format("opentype");
}
@font-face {
  font-family: 'Stag';
  src: url("../fonts/Stag-Medium.otf") format("opentype");
}

.different-section-one {
  background-image:url('../images/newres/worksbg1.png');
  min-height: 50vh;
  max-height: 400px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  padding-top: 5%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.different-section-one__sub-header {
  font-family:'Proxima';
  text-align: center;
  color: #F2BB1A;
  padding: 0.5em;
  font-size: 1em;
}

.curly-brace {
  font-size: 200%;
}

.different-section-one__sub-header__text {
  line-height: 13px;
  margin: 10px;
}

.carousel-control, .glyphicon-chevron-right, .carousel-control, .icon-next {
  right: 0;
}

.carousel-control, .glyphicon .glyphicon-chevron-left, .carousel-control, .icon-prev {\
  position: absolute !important;
  right: -100px !important;
}


.different-section-one__header {
  font-family: 'Stag';
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  font-size:60px;
  padding: 0.5em;
  font-size: 4em;
  width: 100%;
}

.different-section-two {
  padding:40px 0px;
}

.different-section-two__sub-header {
  background-color: transparent;
  text-align: center;
  max-width:100%;
  padding:20px 300px;
}

.different-section-two__sub-header h1 {
  font-size: 40px;
  font-family: 'Stag';
}

.different-section-two__icon-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  margin: 10px 180px;
}


.different-section-two__icon-row___description {
  margin: 0px 55px;
  text-align: center;
  width:;
}

.different-section-two__icon-row___description h2 {
  font-family: 'Stag';
  width: 335px;
}

.different-section-two__icon-row___description p {
  font-family: 'Proxima';
  font-size: 20px;
  font-weight: 300;
}

.different-section-two__apply-now,
.different-section-five__different {
  padding-top: 20px;
  text-align: center;
}

.different-section-two__apply-now___button,
.different-section-five__different___button {
  background: #ee255b;
  border-radius: 40px;
  border: 0;
  width: 140px;
  padding: 14px;
  margin: 40px;
  color: white;
  text-align: center;
  margin: auto;
}

.different-section-three,
.different-section-four {
  background: transparent;
  position: relative;
}

.different-section-four {
  width: 75%;
  margin: auto;
}

.carousel-inner .carousel-control.left, .carousel-inner  .carousel-control.right {
  background-image: none;
}

.different-section-three,
.different-section-four__panel-one,
.different-section-four__panel-two,
.different-section-four__panel-three {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*.different-section-four__panel-one,
.different-section-four__panel-two,
.different-section-four__panel-three {
  /*background:#f7f7f7;*/
  position: absolute;
  width: 100%;
}*/

.glyphicon-chevron-left:before {
  text-shadow: 3px 3px 3px #000 !important;
}

.different-section-four__header {
  position: absolute;
  background-color: transparent;
  /*top: 633px;*/
  z-index: 1;
}

.different-section-four__header___text {
  position: relative;
  top: 80px;
  left: 608%;
  z-index: 1000;
}

.different-section-three__image,
.different-section-four__image-one,
.different-section-four__image-two {
  padding: 25px 40px;
}


.different-section-four__panel-two__description,
.different-section-four__panel-one__description {
  padding: 0px 109px 33px 56px;
}

.different-section-four__panel-three__description {
  padding: 0px 159px 33px 56px;
}

.different-section-three__description,
.different-section-three__description01,
.different-section-four__panel-one__description,
.different-section-four__panel-two__description,
.different-section-four__panel-three__description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.different-section-three__description h2,
.different-section-three__description01 h2,
.different-section-four__panel-one__description h2,
.different-section-four__panel-two__description h2,
.different-section-four__panel-three__description h2,
.different-section-five h2 {
  font-family: 'Stag';
  font-size:48px;
  margin:20px 0px;
}

.different-section-three__description__sub-header,
.different-section-four__header___text,
.different-section-five__sub-header {
  font-family: 'Proxima';
  font-size: 25px;
  font-weight: 300;
}

.different-section-three__description__text,
.different-section-four__panel-one__text,
.different-section-four__panel-two__text,
.different-section-four__panel-three__text {
  font-family: 'Proxima';
  font-size: 22px;
}

.different-section-five {
  text-align: center;
  margin-bottom: 25px;
}

.carousel.slide img {
  height:500px;
}
.different-section-three__image01 {
  padding: 25px 0px 25px 0px;
}

.different-section-three__image01 img {
  position: relative;
  right: 10%;
}

.item.active {
  display: block;
}

.carousel .slide .visible-md .visible-lg {
  height: 800px;
}

.carousel-inner {
  width: 100% !important;
}

.different-section-five__sub-header {
  padding-top: 50px;
  font-size: 180%;
}

.diffrent-section-two__cards {
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 30px;
}

.different-section-two__card-two img {
  width: 230px;
  height: 140px;
  margin-bottom: 15px;
}

.different-section-two__card-one {
  text-align: center;
  background: #fff;
  display: inline-block;
  height: 100%;
  position: relative;
  margin-top: 100px;
  width: 300px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.different-section-two__card-two {
  text-align: center;
  background: #fff;
  display: inline-block;
  height: 100%;
  position: relative;
  padding-top: 20px;
  width: 350px;
  z-index: 1;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.different-section-two__card-one___text,
.different-section-two__card-two___text,
.different-section-two__card-three___text {
  border-bottom: 1px solid;
  margin: 10px 20px;
  font-family: 'Proxima';
  font-size: 18px;
  font-weight: 300;
}

.different-section-two__card-one___text {
  border-bottom-color: #ee255b;
}

.different-section-two__card-two___text {
  border-bottom-color: #5dc0e8;
  font-weight: bold;
}

.different-section-two__card-three___text {
  border-bottom-color: #f4c757;
}

.bottom {
  border-bottom-color: white;
}

.different-section-two__card-three {
  text-align: center;
  background: #fff;
  display: inline-block;
  height: 100%;
  position: relative;
  margin-top: 100px;
  width: 300px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.different-section-two__card-three h3,
.different-section-two__card-one h3 {
  font-family: 'Stag';
}

.different-section-two__card-one h3 {
  padding-bottom: 15px;
}

.different-section-two__card-three h3 {
  padding-bottom: 25px;
}

.different-section-two {
  background-image:url('../images/newres/b4bg.png');
  background-repeat: repeat;
  padding-bottom: 30px;
}

.different-section-two__button--applynow {
  background: #ee255b;
  border-radius: 40px;
  border: 0;
  width: 140px;
  padding: 14px;
  margin: 40px;
  color: white;
  text-align: center;
  margin: auto;
}

.different-section-three__description {
  position: relative;
  top: auto;
  right: -2%;
}

.different-section-three__description01 {
  position: relative;
  top: auto;
  right: 1%;
}

.different-section-five {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-bottom: 30px;
}

.different-section-five__side__img {
  width: 435px;
  max-height: 500px;
  margin-right: 100px;
  margin-left: 10px;
}

.different-section-five__side___header {
  font-family: 'Proxima';
  font-size: 25px;
  font-weight: 300;
}

.different-section-five__side__content-header {
  font-weight: bold;
  font-size: 25px;
  color: #5dc0e8;
}

.different-section-five__side {
  padding: 10px 55px 0px 55px;
  width: 40%;
  text-align: left;
}

.different-section-five__side__content-text {
  font-family: 'Proxima';
  font-size: 18px;
  color: #5c5d60;
}

.different-section-five__side___content {
  border-bottom: 1px solid;
  border-bottom-color: #eee;
  margin-bottom: 20px;
}


.different-section-six {
  background-color: #e9e9e9;
  padding: 20px 0px;
  text-align: center;
  max-width:100%;
  padding-top: 35px;
  padding-bottom: 50px;
}

.different-section-six__header h1,
.different-section-seven__header h1 {
  font-family: 'Stag';
  padding-bottom: 30px;
  font-size: 50px;
}

.different-section-seven__header {
  padding: 40px 200px 10px 200px;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}

.different-section-seven__header h1 {
  padding-bottom: 0px;
}

.different-section-seven__header h3 {
  font-family: 'Proxima';
  font-size: 25px;
  font-weight: 300;
}

.different-section-seven {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1.0) ), url('../images/newres/differentbg11.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  color: white;
  min-height: 600px;
}

.different-section-seven__graph {
  position: relative;
}
.different-section-seven__graph h3 {
  margin-top: 5px;
}

.different-section-seven__graph--arrow img {
  width: 1000px;
}

.different-section-seven__graph--arrow {
  position: absolute;
  transform: translate(504px,180px) rotate(-16deg) scale(1,0.9) skew(6deg);
}

.different-section-seven__graph--levels {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.different-section-seven__graph--lvl-one,
.different-section-seven__graph--lvl-two,
.different-section-seven__graph--lvl-three,
.different-section-seven__graph--lvl-four {
  text-align: center;
  padding-left: 22px;
  padding-right: 80px;
  font-family: 'Stag';
  text-shadow: 1px 1px 1px #000;
}

.different-section-seven__graph--lvl-one {
  padding-top: 260px;
}

.different-section-seven__graph--lvl-two {
  padding-top: 158px;
}

.different-section-seven__graph--lvl-three {
  padding-top: 75px;
}

.different-section-seven__graph--lvl-four {
  padding-bottom: 0px;
}

.different-section-seven__graph__block--one,
.different-section-seven__graph__block--two,
.different-section-seven__graph__block--three,
.different-section-seven__graph__block--four {
  color: #fff;
  padding: 3px 10px 5px 10px;
}

.different-section-seven__graph__block--one h3,
.different-section-seven__graph__block--two h3,
.different-section-seven__graph__block--three h3,
.different-section-seven__graph__block--four h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.different-section-seven__graph__block--one {
  background-color: #F2BB1A;
}

.different-section-seven__graph__block--two {
  background-color: #97C93D;
}

.different-section-seven__graph__block--three {
  background-color: #00A3DF;
}

.different-section-seven__graph__block--four {
  background-color: #ED3F60;
}

@media (max-width: 1200px) {
  .different-section-seven__graph--arrow {
    transform: translate(232px,180px) rotate(-16deg) scale(1,0.9) skew(6deg);
  }

  .different-section-seven {
    min-height: 665px;
  }

  .different-section-four {
    width: 95% !important;
    margin: auto !important;
  }

  .carousel-control.right {
    left: 90% !important;
  }

  .different-section-four__header___text {
    left: 530%;
  }
}
