@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .left-questions-panel button {
    margin: 5px 0;
  }
  .right-answers-panel .collapsed,
  .right-answers-panel button {
    margin: 5px 0;
  }
  .faq-splash {
    background-position: 30% 0;
  }
}