.faq-splash {
  color: white;
  display: block;
  background-image: url('/images/newres/faqbg1.png');
  min-height: 50vh;
  max-height: 380px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  padding-top: 5%;
}

.faq-splash h2 {
  font-size: 32px; 
  letter-spacing: 2px; 
  font-size: 48px; 
  color: #fff;
}

#faq-main:first-child {
  margin: 40px 0px;
}

.right-answers-panel p {
  font-size: 18px;
  color: #626366;
}

.right-answers-panel h3 {
  font-size: 32px;
  padding: 20px 0px;
}

.right-answers-panel * {
  max-width: 800px;
}

.left-questions-panel {
  font-size: 24px; 
  max-width: 300px;
  margin: auto;
}

.left-questions-panel p {
  text-align: left;  
}

button {
  background:none;
  border: none;
  font-family: "Proxima";
  text-align: left;
}

.left-questions-panel button {
  font-size: 24px;
}

.right-answers-panel {
  text-align:left;
}

.right-answers-panel button {
  background-image: url('/images/newres/faqarrowdown.png');
  background-repeat: no-repeat;
  background-position: right; 
  font-size: 24px;
  border-top: 1px solid gray;
  font-weight: bold;
}

.right-answers-panel .collapsed {
  background-image: url('/images/newres/faqarrowup.png') !important;  
}

button {
  width: 100%;
  font-family: "Proxima";
  font-size: 12px;
}

/*@media (max-width: 800px) {
  .col-xs-6, 
  .col-xs-4, 
  .col-sm-4, 
  .col-lg-6, 
  .col-xs-8 {
    width:100% !important;  
    margin-bottom:130px;
  }
      
  .block3 {
    background-size:400% auto;
    min-height:400px;
  }
}*/
