.howitworks-section-one {
  background-image:url('../images/newres/worksbg1.png');  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  height: 385px;
}
.howitworks-section-one .how-top {
  background-color: #1d90de;
}
.carousel-control, .glyphicon-chevron-right, .carousel-control, .icon-next {
  right: 0;
}

.howitworks-section-two {
  padding: 50px 0px;
  background-color: #f7f7f7;
}

.howitworks-section-two img {
  width: 150px;
}
.howitworks-section-two .opening {
  font-size: 18px;
  margin-bottom: 50px;
}
.howitworks-section-two h2 {
  font-size: 25px;
}
.howitworks-section-two .col-sm-4 p {
  font-size: 16px;
}
.howitworks-section-two__apply-now,
.howitworks-section-five__different {
  padding-top: 20px;
  text-align: center;
}

.howitworks-button {
  background: #ee255b;
  font-family: "proxima";
  font-weight: 400;
  border-radius: 40px;
  padding: 10px 35px;
  margin-top: 50px;
  color: white;
  text-align: center;
  border: 2px solid #ee255b;
  font-size: 1.3em;
  transition: all 0.3s ease-in-out;
}

.howitworks-button:hover {
  background-color: transparent;
  color: #000;
  border: 2px solid #ee255b;
}
.howitworks-section-three img {
  width: 100%;
}
.howitworks-section-three .img-container {
  padding-left: 0;
  padding-right: 0;
}
.howitworks-section-three-meta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  padding-left: 80px;
}
.howitworks-section-three-meta .heading {
  font-size: 20px;
}
.howitworks-section-three-meta h2 {
  font-size: 54px;
}
.howitworks-section-three__description__text {
  font-size: 18px;
}
.img-column {
  padding-right: 0;
  padding-left: 0;
}
.howitworks-section-four {
  border-bottom: 1px solid #CCC;
}
#section-four-carousel .item img {
  width: 100%;
  height: auto;
}
#section-four-carousel .carousel-caption {
  right: 10%;
  left: 10%;
  transform: translateY(-55%);
  text-align: left;
  top: 130px;
}
#section-four-carousel .top-heading {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}
#section-four-carousel .carousel-heading {
  font-size: 54px;
  font-family: "stag";
  font-weight: 700;
  color: #000;
}
#section-four-carousel .carousel-heading-blue {
  color: #0099da;
}
#section-four-carousel .low-heading {
  font-size: 19px;
  color: #000;
}
#section-four-carousel .carousel-indicators {
  left: 7%;
  bottom: 25%;
}
#section-four-carousel .carousel-indicators li {
  background-color: #cecfd1;
  margin: 1px 3px;
}
.howitworks-section-five h2 {
  font-size:48px;
  margin:20px 0px;
}
.howitworks-section-five__sub-header {
  font-size: 25px;
  font-weight: 300;
}

.howitworks-section-five {
  text-align: center;
  margin-bottom: 25px;
}

.carousel.slide img {
  height:500px;
}
.item.active {
  display: block;
}

.carousel .slide .visible-md .visible-lg {
  height: 800px;
}

.carousel-inner {
  width: 100% !important;
}

.howitworks-section-five__sub-header {
  padding-top: 50px;
}

@media (max-width: 1900px) {
  .different-section-seven__graph--arrow {
    transform: translate(232px,180px) rotate(-16deg) scale(1,0.9) skew(6deg);
  }

  .howitworks-section-four__panel-one__description h2,
  .howitworks-section-four__panel-two__description h2,
  .howitworks-section-four__panel-three__description h2 {
    font-size: 33px;
  }
  
  .howitworks-section-four__header {
    padding-left: 15%;
  }
}

@media (max-width: 599px) {
  .splash-header {
    font-size: 100%;
    margin-top: 0px;
  }

  .howitworks-section-two {
    padding-top: 15px;
  }

  .howitworks-section-two__sub-header {
    font-size: 14px;
    padding: 15px 17px;
  }

  .howitworks-section-two__icon-row{
    flex-direction: column;
    margin: 10px 0px;
  }

  .howitworks-section-two__icon-row___description img {
    height: 90px;
  }

  .howitworks-section-two__icon-row___description {
    margin: 0px;
  }

  .howitworks-section-two__icon-row___description h2,
  .howitworks-section-two__icon-row___description p {
  font-size: 20px;
  }

  .howitworks-section-four__header {
    position: relative;
    text-align: left;
    top: 0;
    padding-left: 22%;
    left: 3%;
  }
  .howitworks-section-four__image-one,
  .howitworks-section-four__image-two,
  .howitworks-section-four__image-three {
    display: none;
  }

  .howitworks-section-five img {
    height: 170px;
  }

  .howitworks-section-four__panel-three__description.p {
    font-size: 3vh;
  }

}
