
@media(max-width: 1199px){
  .howitworks-section-three-meta {
    padding-left: 30px;
    padding-right: 30px;
  }
  #section-four-carousel .carousel-caption {
    top: 100px;
  }
  .howitworks-section-four #section-four-carousel .carousel-indicators {
      left: 8%;
      bottom: 15%;
  }
}
@media(max-width: 991px){
  .howitworks-section-three-meta {
    padding-left: 5px;
    padding-right: 20px;
  }
  .howitworks-section-three-meta h2 {
    font-size: 46px;
  }
  #section-four-carousel .carousel-caption {
    top: 70px;
  }
  #section-four-carousel .carousel-heading {
    font-size: 30px;
  }
  #section-four-carousel .carousel-indicators {
    left: 9%;
    bottom: 10%;
  }
  #section-four-carousel .carousel-indicators {
      bottom: 10% !important;
  }
}

@media (max-width: 767px) {
  .howitworks-section-one {
    height: 300px;
  }
  .howitworks-section-two {
    padding-top: 50px;
  }
  .howitworks-section-two .col-sm-4 {
    margin-bottom: 30px;
  }
  .howitworks-section-three .img-container {
    padding-right: 0;
  }
  .section-three-meta-container {
      padding-top: 60px;
      padding-bottom: 30px;
  }
  .howitworks-section-three-meta {
    position: static;
    transform: translateY(0);
    padding-right: 0;
  }
  .howitworks-section-three-meta h2 {
    font-size: 38px;
  }
  .howitworks-section-three__description {
    text-align: center;
  }
  .howitworks-section-three__description__text {
    font-size: 16px;
    margin-bottom: 30px;
  }
  #section-four-carousel .item {
    width: 100%;
    height: 100%;
  }
  #section-four-carousel .top-heading {
    color: #FFF;
  }
  #section-four-carousel .carousel-heading {
    color: #FFF;
  }
  #section-four-carousel .low-heading {
    color: #FFF;
  }
  #section-four-carousel .carousel-indicators {
    left: 50% !important;
  }
  #section-four-carousel .carousel-inner {
    height: 400px;
  }
  #section-four-carousel .img-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
  }
  .howitworks-section-four #section-four-carousel .img-column-1 {
    background: url('/images/you-will-get-1.jpg') no-repeat 100% center; background-size: cover;
    height: 100%;
  }
  .howitworks-section-four #section-four-carousel .img-column-2 {
    background: url('/images/you-will-get-2.jpg') no-repeat 100% center; background-size: cover;
    height: 100%;
  }
  .howitworks-section-four #section-four-carousel .img-column-3 {
    background: url('/images/you-will-get-3.jpg') no-repeat 100% center; background-size: cover;
    height: 100%;
  }
  .howitworks-section-five {
    padding: 0 15px;
  }

  .howitworks-section-five__sub-header {
    padding-top: 20px;
  }

  .howitworks-section-five__sub-header {
    font-size: 17px;
  }

  .carousel-inner.howitworks {
    display: block;
  }
  .howitworks-section-three__description__text {
    font-size: 3vh;
  }

}