@media (max-width: 2900px) {
  .different-section-seven__graph--arrow {
    transform: translate(232px,180px) rotate(-16deg) scale(1,0.9) skew(6deg);
  }

  .howitworks-section-two__icon-row___description h2 {
    width: 100%;
  }
}

@media(max-width: 1199px){
  .howitworks-section-three-meta {
    padding-left: 30px;
  }
  #section-four-carousel .carousel-caption {
    top: 100px;
  }
  #section-four-carousel .carousel-indicators {
    left: 7%;
    bottom: 20%;
  }
}
@media(max-width: 991px){
  .howitworks-section-three-meta {
    padding-left: 0;
  }
  .howitworks-section-three-meta h2 {
    font-size: 46px;
  }
  #section-four-carousel .carousel-caption {
    top: 70px;
  }
  #section-four-carousel .carousel-heading {
    font-size: 40px;
  }
  #section-four-carousel .carousel-indicators {
    left: 9%;
    bottom: 10%;
  }
}

@media (max-width: 767px) {
  .howitworks-section-one {
    height: 300px;
  }
  .howitworks-section-two {
    padding-top: 50px;
  }
  .howitworks-section-two .col-sm-4 {
    margin-bottom: 30px;
  }
  .howitworks-section-three .img-container {
    padding-right: 0;
  }
  .section-three-meta-container {
    padding-top: 30px;
  }
  .howitworks-section-three-meta {
    position: static;
    transform: translateY(0);
  }
  .howitworks-section-three-meta h2 {
    font-size: 38px;
  }
  .howitworks-section-three__description {
    text-align: center;
  }
  .howitworks-section-three__description__text {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .howitworks-section-four__header___text {
    text-align: center;
    top: 0;
    font-size: 17px;
  }
  #section-four-carousel .item {
    width: 100%;
  }
  #section-four-carousel .top-heading {
    color: #FFF;
  }
  #section-four-carousel .carousel-heading {
    color: #FFF;
  }
  #section-four-carousel .low-heading {
    color: #FFF;
  }
  #section-four-carousel .carousel-indicators {
    left: 17%;
  }
  #section-four-carousel .carousel-inner {
    height: 400px;
  }
  .howitworks-section-five {
    padding: 0 15px;
  }
  .howitworks-section-five .desktop {
    height: auto;
    max-width: 100%;
  }
  .howitworks-section-five img {
    height: 170px;
  }
  .howitworks-section-five__sub-header {
    padding-top: 20px;
  }

  .howitworks-section-four__panel-one__description,
  .howitworks-section-four__panel-two__description,
  .howitworks-section-four__panel-three__description {
    padding: 15px 0;
    text-align: center;
  }
  .howitworks-section-five__sub-header {
    font-size: 17px;
  }

  .carousel-inner.howitworks {
    display: block;
  }
  .howitworks-section-three__description__text,
  .howitworks-section-four__panel-one__text,
  .howitworks-section-four__panel-two__text{
    font-size: 3vh;
  }

}