.howitworks-section-one {
  background-image:url('../images/newres/worksbg1.png');
  min-height: 50vh;
  max-height: 400px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  padding-top: 5%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.howitworks-section-one__sub-header h3 {
  font-family:'stag';
  font-weight: 400;
  text-align: center;
  color: #F2BB1A;
  padding: 0.5em;
  font-size: 150%;
}

.curly-brace {
  font-size: 200%;
}

.carousel-control, .glyphicon-chevron-right, .carousel-control, .icon-next {
  right: 0;
}

.carousel-control, .glyphicon .glyphicon-chevron-left, .carousel-control, .icon-prev {\
  position: absolute !important;
  right: -100px !important;
}


.howitworks-section-one__header {
  font-family: 'stag';
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  font-size:60px;
  padding: 0.5em;
  font-size: 4em;
  width: 100%;
}

.howitworks-section-two {
  padding:40px 0px;
}

.howitworks-section-two__icon-row___description img {
  width: 30%;
  height: auto;
}

.howitworks-section-two__sub-header {
  font-family:'proxima';
  font-weight: 300;
  text-align: center;
  max-width:100%;
  font-size:24px;
  padding:20px 300px;
}

.howitworks-section-two__icon-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  margin: 10px 180px;
}

.howitworks-section-two__icon-row___description {
  margin: 0px 55px;
  text-align: center;
}

.howitworks-section-two__icon-row___description h2 {
  font-family: 'stag';
  font-weight: 500;
  width: 335px;
}

.howitworks-section-two__icon-row___description p {
  font-family:'proxima';
  font-weight: 400;
  font-size: 20px;
  font-weight: 300;
}

.howitworks-section-two__apply-now,
.howitworks-section-five__different {
  padding-top: 20px;
  text-align: center;
}

.howitworks-section-two__apply-now___button,
.howitworks-section-five__different___button {
  background: #ee255b;
  border-radius: 40px;
  border: 0;
  width: 140px;
  padding: 14px;
  margin: 40px;
  color: white;
  text-align: center;
  margin: auto;
}

.howitworks-section-three,
.howitworks-section-four {
  background: transparent;
  position: relative;
}

.howitworks-section-four {
  width: 75%;
  margin: auto;
}

.carousel-inner .carousel-control.left, .carousel-inner  .carousel-control.right {
  background-image: none;
}

.howitworks-section-three,
.howitworks-section-four__panel-one,
.howitworks-section-four__panel-two,
.howitworks-section-four__panel-three {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.glyphicon-chevron-left:before {
  text-shadow: 3px 3px 3px #000 !important;
}

.howitworks-section-four__header {
  text-align: left;
  padding-left: 25%;
  background-color: transparent;
  z-index: 1;
}

.howitworks-section-three__image,
.howitworks-section-four__image-one,
.howitworks-section-four__image-two {
  padding: 25px 40px;
}

.howitworks-section-four__panel-one__description {
  padding: 30px 70px 30px 20px;
}

.howitworks-section-three__description {
  padding: 30px 70px 30px 20px;
}

.howitworks-section-four__panel-two__description,
.howitworks-section-four__panel-one__description {
  padding: 0px 109px 33px 56px;
}

.howitworks-section-four__panel-three__description {
  padding: 0px 159px 33px 56px;
}

.howitworks-section-three__description,
.howitworks-section-four__panel-one__description,
.howitworks-section-four__panel-two__description,
.howitworks-section-four__panel-three__description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.howitworks-section-three__description h2,
.howitworks-section-four__panel-one__description h2,
.howitworks-section-four__panel-two__description h2,
.howitworks-section-four__panel-three__description h2,
.howitworks-section-five h2 {
  font-family: 'stag';
  font-weight: 500;
  font-size:48px;
  margin:20px 0px;
}

.howitworks-section-three__description__sub-header,
.howitworks-section-four__header___text,
.howitworks-section-five__sub-header {
  font-family:'proxima';
  font-weight: 400;
  font-size: 25px;
  font-weight: 300;
}

.howitworks-section-three__description__text,
.howitworks-section-four__panel-one__text,
.howitworks-section-four__panel-two__text,
.howitworks-section-four__panel-three__text {
  font-family:'proxima';
  font-weight: 400;
  font-size: 22px;
}

.howitworks-section-five {
  text-align: center;
  margin-bottom: 25px;
}

.carousel.slide img {
  height:500px;
}

.item.active {
  display: block;
}

.carousel .slide .visible-md .visible-lg {
  height: 800px;
}

.carousel {
   position: static !important
}

.carousel-inner {
  width: 100% !important;
}

.howitworks-section-five__sub-header {
  padding-top: 50px;
}

howitworks-section-five__different a,
howitworks-section-two__apply-now a {
  text-decoration: none;
}

@media (max-width: 1200px) {
  .howitworks-section-four {
    width: 95% !important;
    margin: auto !important;
  }

  .carousel-control.right {
    left: 90% !important;
  }

  .carousel-control.left {
    left: -2% !important;
  }

}

@media (max-width: 1900px) {
  .different-section-seven__graph--arrow {
    transform: translate(232px,180px) rotate(-16deg) scale(1,0.9) skew(6deg);
  }

  .howitworks-section-four__header {
    padding-left: 10%;
  }
}

@media only screen and (min-device-width: 300px) and (max-device-width: 599px) {
  .howitworks-section-one__sub-header h3 {
    font-size: 100%;
    margin-top: 0px;
  }

  .howitworks-section-one__header {
    font-size: 28px !important;
    padding: 0px;
  }

  .howitworks-section-one__header h2 {
    margin-top: 0px;
  }

  .howitworks-section-two {
    padding-top: 15px;
  }

  .howitworks-section-two__sub-header {
    font-size: 14px;
    padding: 15px 17px;
  }

  .howitworks-section-two__icon-row{
    flex-direction: column;
    margin: 10px 0px;
  }

  .howitworks-section-two__icon-row___description img {
    height: 90px;
  }

  .howitworks-section-two__icon-row___description {
    margin: 0px;
  }

  .howitworks-section-two__icon-row___description h2,
  .howitworks-section-two__icon-row___description p {
  font-size: 20px;
  }

  .howitworks-section-three {
    flex-direction: column;
  }

  .howitworks-section-three__image {
    padding: 25px 10px;
  }

  .howitworks-section-three__image img {
    height: 300px;
  }

  .howitworks-section-three__description {
    padding: 0px 15px;
    margin-bottom: 15px;
  }

  .howitworks-section-three__description__sub-header,
  .howitworks-section-three__description__text {
    font-size: 17px;
  }

  .howitworks-section-three__description__sub-header p {
    margin: 0 0 0px;
  }

  .howitworks-section-four__header {
    text-align: left;
    padding-left: 22%;
  }

  .howitworks-section-four__header__text {
    font-size: 17px;
  }

  .howitworks-section-four__image-one,
  .howitworks-section-four__image-two,
  .howitworks-section-four__image-three {
    display: none;
  }

  .howitworks-section-five img {
    height: 170px;
  }

  .howitworks-section-four__panel-three__description p {
    font-size: 3vh;
  }
}
