.container {
  width: 100% !important;
  padding: 0px !important;
  margin: 0 !important;
  height: 450px;
}
@font-face {
  font-family: StagLight;
  src: url("/images/newres/Stag-Light.otf") format("opentype");
}
@font-face {
  font-family: Stag;
  src: url("/images/newres/Stag-Black.otf") format("opentype");
}
@font-face {
  font-family: Proxima;
  src: url("/images/newres/proxima.otf") format("opentype");
}
.carousel.slide.homepage-responsive {
  display: none;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a {
  width: 100% !important;
  height: auto !important;
  position: relative;
  text-indent: 75%;
  top: 0px;
  margin: auto;
  text-shadow: 1px 1px 1px #000;
}
.carousel-inner>img {
  min-height: 750px !important;
  padding: 5px;
  width: 2000px;
  z-index: -1000px;
}
.carousel-caption {
  top: 50%;
  transform: translateY(-30%);
}
.carousel-indicators.carousel1 li {
  border: none;
  background: white;
}
.carousel-indicators li {
  border: none !important;
}
#myCarousel1 .carousel-indicators .active {
  background-color: grey !important;
}
.carousel-caption p {
  font-size: 32px;
  text-shadow: 1px 1px 1px #000;
}
#playit {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}
.home-page_block3 {
  background-image: url('../images/newres/hp2.png')
}
.carousel-caption>h3 {
  font-family: Stag;
  font-size: 60px;
}

button#homepagebutton {
  width: 380px;
  padding: 10px;
}
.home-page_block1 {
  background-color: #20202b;
  font-size: 26px;
  line-height: 1.42857143;
  font-family: Proxima;
  color: white;
  padding: 1% 0;
}
.home-page_block1-link {
  color: #ee255b;
}
.home-page_block1-link:hover {
  color: white;
}
.home-page_block2 {
  margin: 50px 0;
  font-family: Proxima;
}
.home-page_block2 p {
  width: 75%;
  font-size: 22px;
}
.home-page_block2-text {
  color: #97c93d;
}
.container-mobile.block2 {
  display: none;
}
.home-page_block2>h2, .home-page_block2>h1 {
  font-family: Stag;
  font-weight: lighter;
  font-size: 50px;
  margin: 20px 0;
}
.home-page_block2-image {
  width: 75%;
  padding: 10px;
}
.home-page_block4 {
  background-image: url('../images/newres/hp2.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  height: 875px;
  width: 100%;
}
p.home-page_block4-text {
  font-family: Proxima;
  font-size: 22px;
  word-spacing: 3px;
  letter-spacing: 2px;
  color: white;
  padding-bottom: 8px;
  border-bottom: #f2ba19 14px solid;
  width: 250px;
}
h2.home-page_block4-text {
  font-size: 50px;
  letter-spacing: 4px;
  color: white;
}
div.home-page_block4-video {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}
.wistia_responsive_padding {
  padding: 56.25% 0 28px 0;
  position: fixed;
}
.wistia_responsive_wrapper {
  height: 100%;
  position: fixed;
  width: 100%;
}
.wistia_embed.wistia_async_vpld4j6fjs {
  display: inline-block;
  height: 100%;
  width: 100%;
}
.home-page_block5 {
  margin: 20px auto;
}
.row.block5>p {
  font-size: 24px;
}
.home-page_block5-header {
  font-family: Stag;
  font-size: 40px;
}
h1, h2, h3 {
  font-family: Stag;
}
.home-page_block6-text3 {
  font-family: Proxima;
}
.carousel-control.right, .carousel-control.left {
  background-image: none !important;
}
.carousel-indicators.carousel2 li {
  margin-top: 25px;
  background-color: grey !important;
}
.carousel-indicators .active {
  background-color: #ec3656 !important;
}
.home-page_block2-button {
  width: 25%;
}
#myCarousel2 .glyphicon-chevron-right:before, #myCarousel2 .glyphicon-chevron-left:before {
  color: #0099da;
}
#myCarousel1 .glyphicon-chevron-right:before, #myCarousel1 .glyphicon-chevron-left:before {
  color: white;
}
img.home-page_block5-image {
  height: auto !important;
}

.btn .home-page_button .btn-round-lg .btn-lg .round {
  width: 25%;
}
.home-page_block5-text {
  font-family: Proxima;
  font-size: 150%;
  text-align: left;
}
.home-page_block5-header-text {
  font-size: 40px;
  text-align: center;
}
.container-fluid .block6 {
  margin: 120px 0px;
}
.home-page_block6-image {
  text-align: right;
}
.home-page_block6-triangle {
  position: absolute;
  right: 0px;
  top: 100px;
}
.home-page_block6-text {
  background-color: #222230;
  color: white;
  height: 100%;
  font-size: 32px;
  padding: 18px;
  font-family: "StagLight";
  padding: 60px;
  text-align: left;
}
.home-page_block6-text2 {
  color: #96c83c;
  font-family: "Stag";
  letter-spacing: 1.3px;
}
.home-page_block6-text3 {
  padding: 20px 0px;
}
#block6image {
  height: 100%;
}
img#block6image {
  height: 100%;
}
#block6 {
  max-width: 100%;
  min-height: 100%;
  background-image: url('/images/newres/b4bg.png');
  background-repeat: repeat;
}
.container-fluid.block6 {
  margin: 0 !important;
}
.home-page_block7 {
  text-align: center;
  margin: 50px 0px;
}
.home-page_block7-header {
  margin-bottom: 50px;
}
.home-page_block7-button {
  margin: 40px;
  width: 200px;
}
h1.home-page_block7-header {
  font-family: Stag;
  color: #222230;
}
