.large-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropdownNav-toggle {
  min-height: 40px;
  max-height: 40px;
  min-width: 40px;
  max-width: 40px;
  background-color: #ccc;
}

body {
  padding-top:70px;
}

.navbar-header {
  float: none;
  background-color: white;
}

.navbar-toggle {
  display: block;
}

.navbar-collapse.collapse {
  display: none!important;
}

.navbar-nav {
  float: none!important;
}

.navbar-nav>li {
  float: none;
}

.navbar-collapse.collapse.in {
  display: block !important;
  position: absolute;
  max-width: 200px;
  min-width: 200px;
  background-color: white;
  z-index: 10;
}

.navbar-collapse.collapsing {
  position: absolute;
  background-color: white;
  max-width: 200px;
  min-width: 200px;
  z-index: 10;
}

.navbar-default .navbar-toggle {
  border: 0px;
  border-radius: 0px;
  margin: 0px;
  padding: 18px;
  background-color: #ddd;
}

.nav-apply-pill {
  margin: 6px 15px;
  padding: 8px 18px;
  border: 2px solid #ED3F60;
  border-radius: 30px;
  font-size: .85em;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.nav-apply-pill:hover {
  background-color: #ED3F60;
  color: #fff;
}

.LG-logo {
  max-width: 90%;
  position: absolute;
  left: 50%;
  margin-left: -123px !important;  /* 50% of your logo width */
  display: block;
}