<!DOCTYPE html>
  <title>Learner's Guild</title>

  <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">

  <meta name="keywords" content="Keywords Tag - It can help but not hurt. Place 5-10 accurate, unique keywords in this tag for your page. Be sure that they match the actual page content.">
