<!DOCTYPE html>
<html dir="ltr" lang="en-US">

{% include head.html %}

<body class="stretched">

  <!-- Document Wrapper
  ============================================= -->
  <div id="wrapper" class="clearfix">


    {% include header.html %}

    {% include main_title.html %}


    <!-- Content
    ============================================= -->
    <section id="content">

      <div class="content-wrap">

        {{ content }}

      </div>

    </section><!-- #content end -->

    {% include footer.html %}

  </div><!-- #wrapper end -->

</body>
</html>
