<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  {% include head.html %}
  <body class="stretched no-transition {{page.blah}}">
    {% include navBar.html %}
    <div id="wrapper" class="clearfix">
      <div class="community-page-individual_block1" styles="background-image: url('{{ page.splash_image }}')";></div>
      <div class="community-page-individual_block3">
        <div class="community-page-individual_block2">
          <p class="community-page-individual_block1-header">{{ page.category }}</p>
          <h2 class="community-page-individual_block1-text">{{ page.title }}</h2>
          <p class="community-page-individual_block1-subtext">Published by {{ page.post_author }}</p>
          <p>{{ page.date }}</p>
        </div>
        <div class="community-page-individual_block2">
          {{ content }}
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>